raw-data/n8n-workflows/12Jy7PN6GBNdNhll.json
{
  "updatedAt": "2025-04-24T06:03:14.911Z",
  "createdAt": "2024-07-08T10:52:14.009Z",
  "id": "12Jy7PN6GBNdNhll",
  "name": "getproductmodel_API",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "5f928c84-8d88-40ef-a441-3fecc77e0db8",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        260,
        320
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "product_model",
          "mode": "list",
          "cachedResultName": "product_model"
        },
        "returnAll": true,
        "options": {
          "outputColumns": [
            "product_model_id",
            "product_model_name"
          ]
        }
      },
      "id": "ef491824-ec86-474e-967b-6fe36fe0bed2",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        100,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d651c2bc-8c2a-4524-b594-0367ecbc493e",
              "leftValue": "={{$json.body}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3ca48969-1b0c-48b0-874f-00858aa68d4a",
      "name": "判断是否属于查询明细",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -100,
        320
      ]
    },
    {
      "parameters": {
        "path": "getproductmodel_API",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ac95e0ad-a171-438d-8a06-769636652263",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        320
      ],
      "webhookId": "29be2c9d-679c-4891-bf86-7f4d35d0b473"
    }
  ],
  "connections": {
    "Postgres": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否属于查询明细": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "判断是否属于查询明细",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "172.30.0.2",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "18",
            "accept-encoding": "gzip",
            "user-agent": "ReactorNetty/1.1.9",
            "accept": "*/*",
            "content-type": "application/x-www-form-urlencoded"
          },
          "params": {},
          "query": {},
          "body": {
            "product_model_id": "2"
          },
          "webhookUrl": "https://n8n.mes.coros.team/prod/getproducttype_API",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "43f6d830-c3af-4e68-baa1-bf33e9da344b",
  "activeVersionId": "43f6d830-c3af-4e68-baa1-bf33e9da344b",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-04-24T05:39:39.177Z",
      "createdAt": "2025-04-24T05:39:39.177Z",
      "role": "workflow:owner",
      "workflowId": "12Jy7PN6GBNdNhll",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}