raw-data/n8n-workflows/3HfddSc5Hcd67lbL.json
{
  "updatedAt": "2025-08-22T09:13:32.257Z",
  "createdAt": "2025-08-20T04:22:41.673Z",
  "id": "3HfddSc5Hcd67lbL",
  "name": "cplc手动上传",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "cplc",
          "mode": "list",
          "cachedResultName": "cplc"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "serial_id": "={{ $('整合数据').item.json.serial_id }}",
            "create_time": "={{ $now }}",
            "status": 2
          },
          "matchingColumns": [
            "serial_id"
          ],
          "schema": [
            {
              "id": "serial_id",
              "displayName": "serial_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sn",
              "displayName": "sn",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cplc",
              "displayName": "cplc",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "create_time",
              "displayName": "create_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        192
      ],
      "id": "939b5ce1-0e62-435e-8b68-6fd19afe3df6",
      "name": "更新状态（第二次）",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "15dded68-91f3-4fda-ba1d-933ea1ebaa0d",
              "leftValue": "={{ $json.respCode }}",
              "rightValue": "0000",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "aaeee654-1bbf-4820-bf6c-23e70e6d3bdc",
              "leftValue": "={{ $json.respData[0].status }}",
              "rightValue": "0000",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "57a106f0-ccdf-4d91-b9f1-37eb38abb41e",
      "name": "判断密钥状态",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -16,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "cplc",
          "mode": "list",
          "cachedResultName": "cplc"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "serial_id": "={{ $('Merge').item.json.serial_id }}",
            "create_time": "={{ $now }}",
            "status": 3
          },
          "matchingColumns": [
            "serial_id"
          ],
          "schema": [
            {
              "id": "serial_id",
              "displayName": "serial_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sn",
              "displayName": "sn",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cplc",
              "displayName": "cplc",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "create_time",
              "displayName": "create_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        -288
      ],
      "id": "5beb615a-32e6-4cef-a97c-846d5d778af1",
      "name": "更新状态（密钥拉取成功）",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://metro.snowballtech.com:6569/kds-front/v2/business",
        "provideSslCertificates": true,
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Content-Type\": \"application/json\",\n  \"x-snbps-vendor\": \"COROS\",\n  \"x-snbps-module\": \"{{ $json.product_model_name }}\",  \n  \"x-snbps-platformId\": \"2002\",\n  \"x-snbps-timestamp\": \"{{ Date.now() }}\"  \n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operType\": \"02\",\n  \"cplcs\": [{\"cplc\":\"{{ $json.cplc.toUpperCase()}}\"}]\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "69a2354d-3995-4bb9-9f86-769b2a139df0",
      "name": "查询密钥状态",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        -32
      ],
      "credentials": {
        "httpSslAuth": {
          "id": "uNetzf5LL7xQ0vEk",
          "name": "SSL Certificates account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://metro.snowballtech.com:6569/kds-front/v2/business",
        "provideSslCertificates": true,
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Content-Type\": \"application/json\",\n  \"x-snbps-vendor\": \"COROS\",\n  \"x-snbps-module\": \"{{ $json.product_model_name }}\",  \n  \"x-snbps-platformId\": \"2002\",\n  \"x-snbps-timestamp\": \"{{ Date.now() }}\"  \n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operType\": \"01\",\n  \"cplcs\": [{\"cplc\":\"{{ $json.cplc.toUpperCase()}}\"}]\n}\n\n",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "e3ea01d4-ff1e-4268-859d-98bcde5ff01a",
      "name": "重新上传cplc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        -32
      ],
      "credentials": {
        "httpSslAuth": {
          "id": "uNetzf5LL7xQ0vEk",
          "name": "SSL Certificates account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "beae66e8-b1df-4407-bbe7-317bb3ec3b4e",
              "leftValue": "={{ $json.respCode }}",
              "rightValue": "0000",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "00ee677a-08ec-40c3-a96c-286064d924ea",
              "leftValue": "={{ $json.respData[0].status }}",
              "rightValue": "0002",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        32
      ],
      "id": "a9d39456-e44a-4a5f-ab1f-97ccaa99339c",
      "name": "判断cplc是否上传"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "15dded68-91f3-4fda-ba1d-933ea1ebaa0d",
              "leftValue": "={{ $json.respCode }}",
              "rightValue": "0000",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8103ffc4-801a-4663-a260-4ca18bc4c0b3",
      "name": "If6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        880,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "cplc",
          "mode": "list",
          "cachedResultName": "cplc"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "serial_id": "={{ $('整合数据').item.json.serial_id }}",
            "create_time": "={{ $now }}",
            "status": 2
          },
          "matchingColumns": [
            "serial_id"
          ],
          "schema": [
            {
              "id": "serial_id",
              "displayName": "serial_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sn",
              "displayName": "sn",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cplc",
              "displayName": "cplc",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "create_time",
              "displayName": "create_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        -32
      ],
      "id": "c29ada59-1c28-4230-b69b-5047e8d8a480",
      "name": "更新状态（已上传cplc）",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.all();\nconst integratedData = $('Merge').all();\n\n// 使用 map 返回每个输入数据的匹配结果\nconst results = inputData.map((inputItem) => {\n  const inputCplc = inputItem.json.respData[0].cplc;\n\n  // 寻找整合数据中匹配的项\n  const matchedItem = integratedData.find((dataItem) => dataItem.json.cplc.toLowerCase() === inputCplc.toLowerCase());\n\n  if (matchedItem) {\n    return {\n      json: {\n        sn: matchedItem.json.sn,\n        product_model_name: matchedItem.json.product_model_name,\n        serial_id: matchedItem.json.serial_id,\n        cplc: inputCplc\n      }\n    };\n  } else {\n    return {\n      json: {\n        message: `未找到匹配项: CPLT: ${inputCplc}`,\n        cplc: inputCplc\n      }\n    };\n  }\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "01c176a4-9427-42e1-a226-b79beabf8ba3",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "166821bb-621d-4b1e-a6e0-75bec4463c43",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -896,
        -32
      ],
      "id": "f9988652-369a-4ff9-bdee-147a54d3fe8f",
      "name": "判断是否有数据"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH LatestCplc AS (\n    SELECT \n        serial_id, sn, cplc, create_time, status,\n        ROW_NUMBER() OVER (PARTITION BY sn, cplc ORDER BY create_time DESC) AS rn\n    FROM\n        mes.cplc\n)\nSELECT \n    serial_id,\n    sn,\n    cplc\nFROM \n    LatestCplc\nWHERE\n    rn = 1\n    AND status = '1' \n    and sn is not null\nORDER BY \n    create_time ASC\nLIMIT 500;\n",
        "options": {}
      },
      "id": "ab706a08-06be-4153-906a-78b483cbb220",
      "name": "整合数据",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1024,
        -32
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1152,
        -32
      ],
      "id": "9e1ffd6e-ecaa-4033-a4f9-00954089142c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * from YFConsumer.dbo.consm_barcodebindinfo where retroid = '{{ $json.sn }}'"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -720,
        -144
      ],
      "id": "388be2fa-5256-49b0-b105-085798ca86e9",
      "name": "查数据库",
      "credentials": {
        "microsoftSql": {
          "id": "FNgMAIvmy5GiZUlV",
          "name": "Microsoft SQL_mes_YFConsumer"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.all();\nconst integratedData = $(\"整合数据\").all();\n\n// 使用 map 返回匹配结果\nconst results = inputData.map((inputItem) => {\n  const retroid = inputItem.json.retroid;\n\n  // 在整合数据中寻找匹配的项\n  const matchedItem = integratedData.find((dataItem) => dataItem.json.sn === retroid);\n\n  if (matchedItem) {\n    // 提取jobnumber的前四位作为product_model_name\n    const productModelName = inputItem.json.jobnumber.substring(0, 4);\n    \n    // 返回匹配的数据\n    return {\n      json: {\n        sn: matchedItem.json.sn,\n        serial_id: matchedItem.json.serial_id,\n        cplc: matchedItem.json.cplc,\n        product_model_name: productModelName\n      }\n    };\n  } else {\n    // 返回未匹配到的情况\n    return {\n      json: {\n        message: `未找到匹配项: Retroid: ${retroid}`,\n        retroid: retroid\n      }\n    };\n  }\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -144
      ],
      "id": "4cf9f8cc-889d-4510-ba0d-d37b92976656",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    r.retroid AS sn,\n    pm.product_model_name,\n    c.serial_id,\n    c.cplc\nFROM \n    mes.retroid r \nJOIN \n    mes.joborder jo ON r.joborder_id = jo.joborder_id\nJOIN \n    mes.product_info pi ON jo.product_id = pi.product_id\nJOIN \n    mes.product_model pm ON pi.product_model_id = pm.product_model_id\nJOIN \n    mes.cplc c ON r.retroid = c.sn\nWHERE\n    c.serial_id = '{{ $json.serial_id }}'\nLIMIT 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -720,
        96
      ],
      "id": "1a784d4f-10f0-493b-b383-cb1d19669e2d",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "4jSeve9X8u4zjkBA",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -352,
        -32
      ],
      "id": "226c2287-6425-4381-9b41-8040e13bd09d",
      "name": "Merge"
    }
  ],
  "connections": {
    "判断密钥状态": {
      "main": [
        [
          {
            "node": "更新状态（密钥拉取成功）",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "判断cplc是否上传",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询密钥状态": {
      "main": [
        [
          {
            "node": "判断密钥状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "重新上传cplc": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断cplc是否上传": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "更新状态（第二次）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "更新状态（已上传cplc）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "重新上传cplc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否有数据": {
      "main": [
        [
          {
            "node": "查数据库",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整合数据": {
      "main": [
        [
          {
            "node": "判断是否有数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "整合数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查数据库": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "查询密钥状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c5c5c628-b456-489b-bd15-1f359fb69171",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-08-20T04:22:41.673Z",
      "createdAt": "2025-08-20T04:22:41.673Z",
      "role": "workflow:owner",
      "workflowId": "3HfddSc5Hcd67lbL",
      "projectId": "bEZCDhUuacQnl4pP",
      "project": {
        "updatedAt": "2024-05-30T17:44:47.541Z",
        "createdAt": "2024-05-30T17:44:47.541Z",
        "id": "bEZCDhUuacQnl4pP",
        "name": "Easy wang <e@mpnew.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "94775e1f-fc17-45ee-9e00-e7bc7ec06090"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}