raw-data/n8n-workflows/51YPWkXBiGKmH4Ah.json
{
  "updatedAt": "2025-04-29T06:38:39.449Z",
  "createdAt": "2025-04-28T08:35:34.492Z",
  "id": "51YPWkXBiGKmH4Ah",
  "name": "sn_get_modal_API",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "sn_get_modal_API",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -620,
        -60
      ],
      "id": "1aed079b-cb80-44ed-b042-720937881d9d",
      "name": "Webhook",
      "webhookId": "120d41f8-2715-415e-8cd8-8c865a9e4f60"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "81177f9b-6ce6-49e1-8d65-7f86d3cdd6c7",
              "leftValue": "={{ $json.query.retroid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "dabec1ec-9975-486f-bd4e-3bdcb58f33e1",
              "leftValue": "={{ $json.query.retroid.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -460,
        -60
      ],
      "id": "5b2e9881-9dc9-4bbe-8f51-6a79706139cc",
      "name": "判断入参"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"200\",\n  \"modal\":\"{{ $json.product_model_name }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        160,
        -80
      ],
      "id": "eb4d9d24-0442-4dcc-b988-cc66980f822d",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"数据库错误\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        200,
        180
      ],
      "id": "542147c8-27f5-4d51-b63a-7a0637e3f5f6",
      "name": "数据库错误"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "995676de-3879-40f9-aadc-c694ae3d6408",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -60,
        -60
      ],
      "id": "8247ec3e-3f59-4a97-b4ec-05e321695bda",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"sn格式错误\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -20,
        220
      ],
      "id": "9a4d164c-d993-4946-a911-b2fd5a46fa36",
      "name": "sn格式错误"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pm.product_model_name\nFROM mes.retroid r\nJOIN mes.joborder j ON r.joborder_id = j.joborder_id\nJOIN mes.product_info p ON j.product_id = p.product_id\nJOIN mes.product_model pm ON p.product_model_id = pm.product_model_id\nWHERE r.retroid = '{{ $json.query.retroid }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -240,
        -60
      ],
      "id": "7578245c-3717-4ef3-9bd4-fcdfd6298026",
      "name": "查询机型",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "判断入参",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断入参": {
      "main": [
        [
          {
            "node": "查询机型",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sn格式错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sn格式错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询机型": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "172.29.0.2",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "0",
            "user-agent": "ReactorNetty/1.1.8",
            "accept": "*/*"
          },
          "params": {},
          "query": {
            "retroid": "W51AD10001"
          },
          "body": {},
          "webhookUrl": "https://n8n.mes.coros.team/prod/sn_get_joborder_API",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "f56d4a01-e915-44f7-8d65-708f12c35ef8",
  "activeVersionId": "f56d4a01-e915-44f7-8d65-708f12c35ef8",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-04-28T08:35:34.492Z",
      "createdAt": "2025-04-28T08:35:34.492Z",
      "role": "workflow:owner",
      "workflowId": "51YPWkXBiGKmH4Ah",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}