raw-data/n8n-workflows/6JQmM2qWjK50wsxR.json
{
  "updatedAt": "2025-04-24T05:57:42.558Z",
  "createdAt": "2025-01-06T08:17:57.330Z",
  "id": "6JQmM2qWjK50wsxR",
  "name": "barcode_blind_newmes",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ea2655e0-ccc8-488d-be16-2579bbf43812",
              "leftValue": "={{ $json.body.uuidId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "4328daae-af59-461f-b8bd-ca1df0dcbdfa",
              "leftValue": "={{ $json.body.retroid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "3a245c0b-d4cf-431e-9e9c-1944fc1bbc57",
              "leftValue": "={{ $json.body.BatteryBatch }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "85963f8b-8be6-4695-9fe4-fa77c5871a39",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -20,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"message\":\"请填写所有必填项\"\n}",
        "options": {}
      },
      "id": "c997ee1e-5a83-42aa-99bf-01f94e6278b7",
      "name": "报错信息：请填写所有必填项",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        440,
        540
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"402\",\n  \"message\":\"请检查输入法是否正确\"\n}",
        "options": {}
      },
      "id": "5ff8c6ad-cfbb-4899-8d04-becb8b1d53bf",
      "name": "报错信息：请检查输入法是否正确",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "afd14586-6035-4dad-8c6f-bbf2be5b4c87",
              "leftValue": "={{ $('Webhook').item.json.body.uuidId[27]}}",
              "rightValue": "= ",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "470cab5c-815a-46e1-8a59-c2d163e61123",
              "leftValue": "=[M1D,B15D]",
              "rightValue": "={{ $json.product_model_name }}",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "c3ea3449-c699-40a9-bb5c-5f281ea2a395",
      "name": "判断输入法是否正确1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"401\",\n  \"message\":\"请检查底壳条码是否填写正确\"\n}",
        "options": {}
      },
      "id": "5207cb28-6a58-4480-88c2-c866c579f98b",
      "name": "报错信息：请检查底壳条码是否填写正确",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        860,
        540
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "barcode_blind_newmes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2720998e-5f81-4e28-8b76-13a650ebf7ac",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        300
      ],
      "webhookId": "bb466f3e-2906-4411-95b5-4bcc27a35279"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"403\",\n  \"message\":\"请检查CPUID链接是否填写正确\"\n}",
        "options": {}
      },
      "id": "c9a840b0-617e-4e12-8999-8d045cc167e0",
      "name": "报错信息：请检查CPUID链接是否填写正确",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1300,
        540
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"404\",\n  \"message\":\"条码已被绑定，请出入正确的CPUID或底壳条码\"\n}",
        "options": {}
      },
      "id": "324ba4b5-f33f-4454-bbbc-ed85bd3e4197",
      "name": "报错信息：条码绑定记录已存在",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1800,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "aa0f7943-d450-4df0-9c75-0d0fcc0d756e",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1019599-35e9-43a8-bd3f-6fa7c21020d5",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "let uuid_unique= $('根据机型转换uuid').all()[0].json.uuid_unique\nlet retroid=$('根据机型转换uuid').all()[0].json.retroid\nreturn {\n uuid_unique:uuid_unique,\nretroid:retroid\n};"
      },
      "id": "662a8ae2-c165-42ea-82ad-a08708b7aa07",
      "name": "uuid切片",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"201\",\n  \"message\":\"网络波动，数据库错误！\",\n}\n",
        "options": {}
      },
      "id": "effff09a-ecb5-4b49-b0bb-8aee86866d36",
      "name": "数据库错误！",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2720,
        940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "add749ac-6d49-4d46-bdaf-ef052763992c",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77a6bd34-13fe-4d32-8dbf-e8f11d89a0ac",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        1860,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"406\",\n  \"message\":\"请输入正确的CPUID，该CPUID在恢复出厂前存在绑定记录\"\n}",
        "options": {}
      },
      "id": "831979ac-0b0d-46ab-a879-ea3b4905b320",
      "name": "报错信息：请输入正确的CPUID，该CPUID在恢复出厂前存在绑定记录",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2040,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d90369e6-58e0-4a14-bc88-c4fb9d909922",
              "leftValue": "={{ $('Webhook').item.json.body.uuidId[29] }}",
              "rightValue": "= ",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d1007e4b-b97c-4875-9492-36aa50cc5600",
              "leftValue": "=[M1D,B15D]",
              "rightValue": "={{ $json.product_model_name }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "80d9c695-299d-405a-bce0-0c56d0099d0a",
      "name": "判断输入法是否正确",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM mes.retroidblind_info WHERE uuid_unique ='{{ $json.uuid_unique }}'AND LEFT(retroid, 3) = LEFT('{{ $json.retroid }}', 3) ",
        "options": {}
      },
      "id": "390d0bde-864f-4fc9-82e3-ca5f63dc9f70",
      "name": "判断是否有重复的uuid",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1720,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "895069e5-a1fd-45c6-bd96-1a68316ad329",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4cab9826-f7e1-42f0-af9f-96b6792da9ab",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        2320,
        180
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM mes.retroidblind_info\nWHERE (\n    uuid = '{{ $json.uuidId }}' \n    AND LEFT(retroid, 3) = LEFT('{{ $json.retroid }}', 3)\n)\nOR (\n    uuid <> '{{ $json.uuidId }}' \n    AND retroid = '{{ $json.retroid }}'\n)\n",
        "options": {}
      },
      "id": "2fcc58b2-3e93-40ee-81be-aa28c70252ec",
      "name": "判断是否有重复绑定",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1280,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2d34b2fa-36fe-4388-a07f-432eab099db0",
              "leftValue": "={{ $json.body.retroid.length}}",
              "rightValue": "={{ 10 }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7505857c-3e81-4cc2-aab5-88ec2ecba51e",
      "name": "判断sn码长度是否正确",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        180,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pm.product_model_name,\n       r.retroid_id,\n       jo.joborder_number,\n       jo.order_number,\n       pi.product_code\nFROM mes.retroid r\nJOIN mes.retroid_generate rg ON r.retroid_generate_id = rg.retroid_generate_id\nJOIN mes.joborder jo ON rg.joborder_id = jo.joborder_id\nJOIN mes.product_info pi ON jo.product_id = pi.product_id\nJOIN mes.product_model pm ON pi.product_model_id = pm.product_model_id\nWHERE r.retroid = '{{ $json.body.retroid }}';  -- 替换成你要查询的 retroid\n",
        "options": {}
      },
      "id": "d01edb4e-3d72-4ec2-b447-59d88badbf19",
      "name": "查询机型",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        360,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "let result = [];\n\n  let queryResult = $('根据机型转换uuid').all()[0].json;\n\n  result.push(queryResult);\n\nreturn result;"
      },
      "id": "38d2164c-5a89-4347-83eb-81616b297c96",
      "name": "整理入参",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "let inputArray = $input.all();\nlet result = null;\n\n// 检查输入是否为非空数组且至少有一个元素\nif (Array.isArray(inputArray) && inputArray.length > 0) {\n    let body = inputArray[0].json; // 获取第一个 JSON 对象\n\n    if (body && body.uuidId) {\n        let url = body.uuidId;\n\n        // 正则表达式调整：捕获所有包含数字和字母的部分\n        const regex = /a=[\\w\\s]+?([A-Fa-f\\d]+)&b=([A-Fa-f\\d]+)&c=([A-Fa-f\\d]+)/;\n        const match = url.match(regex);\n\n        if (match && match.length === 4) { // 如果成功匹配\n            // 用 a 参数末尾、b 和 c 生成 uuidId\n            body.uuidId = [match[1], match[2], match[3]].join('');\n\n            // 用 a 参数末尾和 c 生成 uuid_unique\n            body.uuid_unique = [match[1], match[3]].join('');\n        }\n\n        result = body; // 设置最终结果体\n    }\n\n    // 转换 retroid 为大写\n    if (body.retroid) {\n        body.retroid = body.retroid.toUpperCase();\n    }\n}\n\n// 返回最终处理的 JSON 对象\nreturn result;\n"
      },
      "id": "832fbec7-f760-4662-a18a-5d128b2993f9",
      "name": "根据机型转换uuid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // 从输入数据中获取 product_model_name\n  const productModelName = item.json.product_model_name;\n  if (!productModelName) {\n    throw new Error(\"无法获取 product_model_name\");\n  }\n\n  // 获取 Webhook 输出中的 retroid 和 uuidId\n  // 确保在工作流内已正确连接并获取到 Webhook 节点的数据\n  const webhookData = $('Webhook').all()[0]?.json.body;\n  if (!webhookData) {\n    throw new Error(\"无法获取 Webhook 节点数据\");\n  }\n\n  const retroid = webhookData.retroid;\n  const uuidId = webhookData.uuidId;\n  if (!retroid || !uuidId) {\n    throw new Error(\"Webhook 数据中 retroid 或 uuidId 缺失\");\n  }\n\n  // 返回分开的结果\n  return {\n    json: {\n      productModelName: productModelName,\n      uuidId: uuidId,\n      retroid: retroid\n    }\n  };\n});\n"
      },
      "id": "9bdd1b08-d2ce-40a2-b5cd-f3ffc9ae381a",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "machine_data",
          "mode": "list",
          "cachedResultName": "machine_data"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "retroid_id": "={{$('判断输入法是否正确').item.json.retroid_id  }}",
            "procedure_detail_id": 74,
            "history_procedure_id": 74,
            "user_id": 1,
            "machine_id": 1,
            "data": "={\nuuid:\"{{ $json.uuidId }}\",\nretroid:\"{{ $json.retroid }}\",\nproductModelname:\"{{ $json.productModelName }}\",\nuuid_unique:\"{{ $json.uuid_unique }}\",\nbatterybatch:\"{{ $('Webhook').item.json.body.BatteryBatch }}\",\nuser:\"{{$('Webhook').item.json.body.user}}\"\n}",
            "createtime": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "machine_data_id",
              "displayName": "machine_data_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "retroid_id",
              "displayName": "retroid_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "procedure_detail_id",
              "displayName": "procedure_detail_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "history_procedure_id",
              "displayName": "history_procedure_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "machine_id",
              "displayName": "machine_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "createtime",
              "displayName": "createtime",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "45004a9d-0b75-4b1e-821f-4e0f2ddaa284",
      "name": "插入工序信息表",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2160,
        180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ef1445ad-de71-4b51-90a4-d31c6ef86e37",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "000c57fc-fe5e-4fb4-8c93-470108fa473b",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        2660,
        180
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "retroidblind_info",
          "mode": "list",
          "cachedResultName": "retroidblind_info"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "jobnumber": "={{ $('查询机型').item.json.joborder_number }}",
            "ordernumber": "={{ $('查询机型').item.json.order_number }}",
            "product_code": "={{ $('查询机型').item.json.product_code }}",
            "retroid": "={{ $json.data.retroid }}",
            "uuid": "={{ $json.data.uuid }}",
            "batterybatch": "={{ $json.data.batterybatch }}",
            "uuid_unique": "={{ $json.data.uuid_unique }}",
            "createtime": "={{ $now }}",
            "machine_data_id": "={{ $json.machine_data_id }}",
            "user": "={{ $('Webhook').item.json.body.user }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "jobnumber",
              "displayName": "jobnumber",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ordernumber",
              "displayName": "ordernumber",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_code",
              "displayName": "product_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retroid",
              "displayName": "retroid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "uuid",
              "displayName": "uuid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "batterybatch",
              "displayName": "batterybatch",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "uuid_unique",
              "displayName": "uuid_unique",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createtime",
              "displayName": "createtime",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "machine_data_id",
              "displayName": "machine_data_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0b6d3a9b-8674-4081-bba5-335b55dd7785",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2520,
        180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "31f8e166-406b-4fc8-8759-f2890a0e43d5",
              "leftValue": "={{ $json.uuidId.length }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "38e0e901-34f8-40b3-876c-cd3d63381f05",
              "leftValue": "={{ $json.uuid_unique.length }}",
              "rightValue": 18,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "80a0eef6-6002-4ea7-adf4-d705298e82fd",
      "name": "判断转换后UUID长度是否正确",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1140,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"200\",\n  \"message\":\"条码已成功绑定\",\n  \"uuid\":\"{{$json.uuid}}\",\n  \"sn\":\"{{$json.retroid}}\"\n}\n",
        "options": {}
      },
      "id": "32e79db8-128b-4f1e-99e6-09317d538e15",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2860,
        160
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iipMI3IDY4ryTUpO",
          "mode": "list",
          "cachedResultName": "工序查询通用接口"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -200,
        300
      ],
      "id": "b6c401bc-b5a9-430e-84a7-d2191b43989c",
      "name": "Execute Workflow"
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "判断sn码长度是否正确",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：请填写所有必填项",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断输入法是否正确1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：请检查输入法是否正确",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "uuid切片",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：条码绑定记录已存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uuid切片": {
      "main": [
        [
          {
            "node": "判断是否有重复的uuid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "整理入参",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：请输入正确的CPUID，该CPUID在恢复出厂前存在绑定记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断输入法是否正确": {
      "main": [
        [
          {
            "node": "判断输入法是否正确1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：请检查输入法是否正确",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否有重复的uuid": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误！",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误！",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否有重复绑定": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误！",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断sn码长度是否正确": {
      "main": [
        [
          {
            "node": "查询机型",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：请检查底壳条码是否填写正确",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询机型": {
      "main": [
        [
          {
            "node": "判断输入法是否正确",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误！",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理入参": {
      "main": [
        [
          {
            "node": "插入工序信息表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "根据机型转换uuid": {
      "main": [
        [
          {
            "node": "判断转换后UUID长度是否正确",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "根据机型转换uuid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "插入工序信息表": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误！",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误！",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误！",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断转换后UUID长度是否正确": {
      "main": [
        [
          {
            "node": "判断是否有重复绑定",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：请检查CPUID链接是否填写正确",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "172.29.0.2",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "159",
            "user-agent": "ReactorNetty/1.1.8",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "uuidId": "https://r.coros.com/6?a=COROS PACE Pro 89084A&b=F3282f9D4D55&c=099088C40677&d=0&e=0&f=0",
            "retroid": "W32AB00002",
            "BatteryBatch": "241110+A06+A07+C07"
          },
          "webhookUrl": "https://n8n.mes.coros.team/prod/barcode_blind_newmes",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "86beb226-d748-4b26-9d2b-293bca3d3997",
  "activeVersionId": "86beb226-d748-4b26-9d2b-293bca3d3997",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-04-24T05:56:37.497Z",
      "createdAt": "2025-04-24T05:56:37.497Z",
      "role": "workflow:owner",
      "workflowId": "6JQmM2qWjK50wsxR",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}