raw-data/n8n-workflows/8MvJ3K4mGoEFQRb0.json
{
  "updatedAt": "2024-04-24T06:00:04.888Z",
  "createdAt": "2024-01-29T10:39:58.698Z",
  "id": "8MvJ3K4mGoEFQRb0",
  "name": "deviceweight_API",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select TOP 40000* from consm_deviceweight WHERE barcode like '%{{ $json.headers.barcode||\"\"}}%' and jobnumber like '%{{ $json.headers.jobnumber||\"\"}}%' and ordernumber like '%{{ $json.headers.ordernumber||\"\"}}%'"
      },
      "id": "39c67d22-41f7-410d-9b25-861d999f4ad5",
      "name": "Microsoft SQL",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        680,
        360
      ],
      "credentials": {
        "microsoftSql": {
          "id": "sXlTCwIbf42MUs4H",
          "name": "MES_SQL_SERVER"
        }
      }
    },
    {
      "parameters": {
        "path": "4dec43ff-7378-4f33-9ae1-caffd223fc2b244",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "442f0564-a5b5-416c-9630-5d22cbcceb38",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        360
      ],
      "webhookId": "4247cf97-0d24-4595-a8d7-89cacd210f1f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d857c50e-f3e7-4df7-b6d5-61585dec116a",
              "leftValue": "={{ $json.headers.jobnumber }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "d28728a9-3ed4-4129-aa8a-052ae27f895f",
              "leftValue": "={{ $json.headers.ordernumber }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "000fe5c1-6a00-4bd8-a364-68ef1dad34a7",
              "leftValue": "={{ $json.headers.barcode }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "4927032d-b53e-47c1-ab60-46afe46482db",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        220
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept-encoding": "gzip",
            "user-agent": "ReactorNetty/1.1.9",
            "host": "192.168.128.8",
            "accept": "*/*",
            "barcode": "",
            "jobnumber": "",
            "ordernumber": ""
          },
          "params": {},
          "query": {},
          "body": {}
        }
      }
    ]
  },
  "versionId": "69837996-519c-4da9-8842-5a83ae642581",
  "activeVersionId": "69837996-519c-4da9-8842-5a83ae642581",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-04-24T05:57:41.807Z",
      "createdAt": "2024-01-29T03:43:19.869Z",
      "id": "wbylAziHNIuwj3Uh",
      "name": "MES查询应用API"
    }
  ],
  "shared": [
    {
      "updatedAt": "2024-01-29T10:39:58.701Z",
      "createdAt": "2024-01-29T10:39:58.701Z",
      "role": "workflow:owner",
      "workflowId": "8MvJ3K4mGoEFQRb0",
      "projectId": "bEZCDhUuacQnl4pP",
      "project": {
        "updatedAt": "2024-05-30T17:44:47.541Z",
        "createdAt": "2024-05-30T17:44:47.541Z",
        "id": "bEZCDhUuacQnl4pP",
        "name": "Easy wang <e@mpnew.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "94775e1f-fc17-45ee-9e00-e7bc7ec06090"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}