raw-data/n8n-workflows/be12z90pRASbdrrH.json
{
  "updatedAt": "2025-08-25T05:49:50.801Z",
  "createdAt": "2025-08-25T04:15:52.493Z",
  "id": "be12z90pRASbdrrH",
  "name": "query_material_bind_id",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "query_material_bind_id",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1584,
        304
      ],
      "id": "9a0fdf23-0776-4cb7-b4f7-cc2622dadf67",
      "name": "Webhook",
      "webhookId": "409a09df-e982-46ae-84bf-a70a89aabd50"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "109edc8a-834e-4e3a-a301-58c27f883051",
              "leftValue": "={{ $json.body.bind_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1008,
        560
      ],
      "id": "564b12ea-0934-4be3-8fa1-4c275069d419",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\": \"无查询条件\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -720,
        784
      ],
      "id": "ecd8fbb1-9f82-4726-bd07-1d9ad6772a22",
      "name": "请填写辅料信息"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\": \"辅料未绑定物料\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -208,
        512
      ],
      "id": "6815354c-e195-4258-9bab-1ccf2153bbff",
      "name": "辅料未绑定物料"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c2ea177-de74-4d3a-8174-fafd0662c1a0",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "828fe1a3-9bdd-47d8-b849-ea3a5dff2b19",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        576
      ],
      "id": "5a76be00-d27d-4717-a44b-f9d2299e1e99",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d952fb3-6792-4568-89a3-b513ca3914f8",
              "leftValue": "={{ $json.body.material }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1184,
        384
      ],
      "id": "21f8abd9-278d-492d-ba2c-4ad44181d6d6",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ef5862f-533d-432b-9775-c5984a7550de",
              "leftValue": "={{$json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        64
      ],
      "id": "6ff7ca52-475c-4270-a90b-9887fe2ad0c3",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dc68bcb0-06eb-412f-8018-8b3068776597",
              "leftValue": "={{ $json.body.material }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "ec68d40a-033f-4811-94cf-2e991b9cfb45",
              "leftValue": "={{ $json.body.bind_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1376,
        304
      ],
      "id": "33bc3e48-acff-4d5b-b147-16d7f5a38207",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3ad0d97-8ce1-410c-8167-a28c2b8e76b3",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        656,
        128
      ],
      "id": "18c17f43-793a-4e8c-a202-e495f922f8ff",
      "name": "If5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e87f8695-0643-4312-b9a2-e56326e2b0d7",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -736,
        128
      ],
      "id": "c888650a-17c6-45a7-87fc-2ca44cd1c358",
      "name": "If7"
    },
    {
      "parameters": {
        "jsCode": "// 取到上游所有 items\nconst items = $input.all();\n\n// 组装新数组\nconst newItems = items.map(item => {\n  const { retroid_id, material } = item.json;\n  return {\n    json: {\n      retroid_id,\n      material,\n    }\n  };\n});\n\n// 返回给 Respond to Webhook 节点\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        64
      ],
      "id": "409dbe27-02e9-4775-9ab8-7e3934797b6f",
      "name": "Code2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        0,
        0
      ],
      "id": "596d63e9-de55-443e-beec-bdce081bdf93",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\"material\":'{{ $json.body.material }}'}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        288
      ],
      "id": "f79bab03-7a26-4639-b312-34b1a2a15dff",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "\nconst query_material = $input.first().json.data.material\nreturn [\n    {\n        json: {\n            material: query_material,\n            // 可选：附带其他信息\n            // source_record: latest\n        }\n    }\n];\n\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        704
      ],
      "id": "32a7e5c8-ef00-495e-ba50-ca81df0344e6",
      "name": "Code3"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        32,
        720
      ],
      "id": "8d21c73b-d1fe-4cb4-adb6-ce8587d3b2ac",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "jsCode": "const bindid = $input.first().json.data.bind_id\nreturn [\n    {\n        json: {\n            bind_id: bindid,\n            // 可选：附带其他信息\n            // source_record: latest\n        }\n    }\n];\n\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        128
      ],
      "id": "c7a7a01c-15bd-4344-abbf-07933321157f",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1168,
        80
      ],
      "id": "41a4f251-171c-4538-8db2-427ae7d36e4c",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\": \"物料未绑定辅料\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        928,
        320
      ],
      "id": "ba9864ea-5a34-4e6d-ac1b-5d9a9326380c",
      "name": "物料未绑定辅料"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\": \"物料信息不存在\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -48,
        272
      ],
      "id": "bed4a332-8ade-4743-a3b3-685ce37be1f1",
      "name": "物料信息不存在"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT joborder_id \nFROM mes.material m\nWHERE m.material = '{{ $json.body.material }}'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -896,
        176
      ],
      "id": "beb3836a-836f-4da7-973d-86e41d63a2b6",
      "name": "根据物料名查工单id",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "4jSeve9X8u4zjkBA",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT md.data\nFROM mes.machine_data md\nWHERE  '{{ $json.body.bind_id }}' = ANY (\n          string_to_array(md.data ->> 'bind_id', ';')\n       )\nORDER BY md.createtime DESC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -720,
        592
      ],
      "id": "0eed0404-e2ac-4bbd-8591-e10fd5fddfae",
      "name": "辅料查绑定物料",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM mes.retroid r\nWHERE r.joborder_id = '{{ $json.joborder_id }}'\nand r.status != 3",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -528,
        80
      ],
      "id": "0e7034db-ec34-409d-a3d0-14d393b824d3",
      "name": "工单id查sn",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select md.data from mes.machine_data md\nwhere md.retroid_id='{{ $json.retroid_id }}'\nand md.data ->>'material' = '{{ $json.material }}'\nORDER BY md.createtime DESC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        144
      ],
      "id": "d66dbac4-d7a9-41b5-854e-4335f6b41d3a",
      "name": "物料查辅料",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"500\",\n  \"msg\": \"数据库错误\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1024,
        800
      ],
      "id": "c90220be-809c-4653-877c-431c549547d8",
      "name": "数据库错误"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "辅料查绑定物料",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "请填写辅料信息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "辅料未绑定物料",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "根据物料名查工单id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "物料未绑定辅料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "根据物料名查工单id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "物料未绑定辅料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "工单id查sn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "物料信息不存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "物料查辅料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "根据物料名查工单id": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "辅料查绑定物料": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "工单id查sn": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "物料查辅料": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "192.168.33.133",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "28",
            "content-type": "application/json",
            "accept": "*/*",
            "user-agent": "PostmanRuntime/7.45.0",
            "postman-token": "12e04491-c277-424c-aed6-0275beabb7e5",
            "accept-encoding": "gzip, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "material": "P23615"
          },
          "webhookUrl": "https://n8n-dev-mes.coros.team/prod/bind_id_query_material",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "d1646b3e-d8c8-4022-8d71-63cb0eb77b93",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-08-25T04:15:52.493Z",
      "createdAt": "2025-08-25T04:15:52.493Z",
      "role": "workflow:owner",
      "workflowId": "be12z90pRASbdrrH",
      "projectId": "nibbXVSPf8J6itYk",
      "project": {
        "updatedAt": "2025-07-02T06:42:38.028Z",
        "createdAt": "2025-07-02T06:40:56.794Z",
        "id": "nibbXVSPf8J6itYk",
        "name": "Huali Lei <leihuali@coros.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "780e7333-0684-45a2-be3f-59aeedfdd9af"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}