raw-data/n8n-workflows/cEuZb5FMdMxuTHoS.json
{
  "updatedAt": "2025-09-09T13:21:14.016Z",
  "createdAt": "2025-04-15T09:33:09.089Z",
  "id": "cEuZb5FMdMxuTHoS",
  "name": "Wi-Fi_mac_API-newmes_result",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Wi-Fi_mac_API-newmes_result",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -608,
        -16
      ],
      "id": "857280de-0a55-46d1-bff0-4b3ef5b6202f",
      "name": "Webhook",
      "webhookId": "574277ca-858f-4236-8380-9af34a67d7d6"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"200\",\n  \"msg\": \"ok\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2512,
        -464
      ],
      "id": "1c687ee0-91fb-4fca-a284-7e270efe09af",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c79f57c8-1d2c-424e-8756-c3a05245c907",
              "leftValue": "={{ $json.body.result }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        -304
      ],
      "id": "19c8eea6-670a-44ec-8de0-c626f039b1be",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ac647de-b887-4279-8400-a3f045945ac0",
              "leftValue": "={{$json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2192,
        -448
      ],
      "id": "2c7a623a-4be0-45cd-b9f6-d33618dcead6",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n       r.retroid_id,\n       jo.joborder_number,\n       pm.product_model_name,\n       pi.product_code,\n       jo.procedure_list_id\nFROM mes.retroid r\nJOIN mes.retroid_generate rg ON r.retroid_generate_id = rg.retroid_generate_id\nJOIN mes.joborder jo ON rg.joborder_id = jo.joborder_id\nJOIN mes.product_info pi ON jo.product_id = pi.product_id\nJOIN mes.product_model pm ON pi.product_model_id = pm.product_model_id\nWHERE r.retroid = '{{ $('Merge').item.json.retroid}}' and r.status in ('1','2');;  -- 替换成你要查询的 retroid\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        -80
      ],
      "id": "765da505-1859-4885-9671-1cd09baa4352",
      "name": "查询sn相关信息",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iipMI3IDY4ryTUpO",
          "mode": "list",
          "cachedResultName": "工序查询通用接口"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        832,
        -80
      ],
      "id": "c82ebf57-facf-48f8-83ce-a8c4b4dc47a0",
      "name": "查询工序编号"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\": \"传参不全\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        592
      ],
      "id": "0d03a860-68a7-4175-ac25-d41d8a5eb79c",
      "name": "传参不全"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\": \"数据库报错\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2688,
        528
      ],
      "id": "beb9a198-9290-4f56-a893-947c93a61cef",
      "name": "数据库报错"
    },
    {
      "parameters": {
        "jsCode": "return $('Webhook').all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        -240
      ],
      "id": "a8e0242f-807f-4ae7-b663-319769779f55",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "905ab15a-e9bb-48d6-b6b5-b9497a9cbce8",
              "leftValue": "={{ $json.body.sn }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1e28ddd2-5cf0-4cb8-8724-6083191df786",
              "leftValue": "={{ $json.body.sn.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        -16
      ],
      "id": "111a78c8-3a01-4df5-924f-011fcea7ce1f",
      "name": "判断是否为sn"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7220a3f0-9531-4205-b481-d5261fb8f1b6",
              "leftValue": "={{ $json.body.uuid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "47aae2ed-55c6-43b1-842e-384e1315b5e9",
              "leftValue": "={{ $json.body.uuid.length }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        144
      ],
      "id": "b409bc19-728a-4953-822c-adc5c6f7f19f",
      "name": "判断是否为uuid"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1ba17f4-76fc-4067-8fbb-205b6bf959db",
              "leftValue": "={{ $json.body.sn }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "64f6fa44-9703-4503-91cc-24cc839e3712",
              "leftValue": "={{ $json.body.mac }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f7b1383b-9b41-485e-bf34-fd269b2bd391",
              "leftValue": "={{ $json.body.result }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "19c5111c-30cf-4ed7-b738-7aa2e5315ab7",
              "leftValue": "={{ $json.body.procedure_name}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        -80
      ],
      "id": "f98cd1fb-ea63-4710-bb0b-b83c2a214c7a",
      "name": "判断传参是否准确"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1ba17f4-76fc-4067-8fbb-205b6bf959db",
              "leftValue": "={{ $json.body.uuid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "64f6fa44-9703-4503-91cc-24cc839e3712",
              "leftValue": "={{ $json.body.mac }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f7b1383b-9b41-485e-bf34-fd269b2bd391",
              "leftValue": "={{ $json.body.result }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "19c5111c-30cf-4ed7-b738-7aa2e5315ab7",
              "leftValue": "={{ $json.body.procedure_name}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        144
      ],
      "id": "b1f290d3-f1ba-4c8d-9aba-b1a51b0cccd8",
      "name": "判断传参是否准确1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zIsWkclkRfztC4WQ",
          "mode": "list",
          "cachedResultName": "uuidGetSn"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        32,
        144
      ],
      "id": "21bcd76b-f8d7-4044-ba2f-f84bc86922b2",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "jsCode": "return $('Webhook').all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -80
      ],
      "id": "e3b843e4-6852-484a-a347-f7391310239a",
      "name": "Code1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        528,
        -80
      ],
      "id": "381821af-c556-480d-879f-413cf9a6d517",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17b2bf1c-52a6-416c-bc5e-7d3959b45c6d",
              "name": "retroid",
              "value": "={{ $json.body.sn }}",
              "type": "string"
            },
            {
              "id": "674e4cb5-1f70-48ea-82bc-babecb0a4550",
              "name": "mac",
              "value": "={{ $json.body.mac }}",
              "type": "string"
            },
            {
              "id": "b07b072c-ce7a-42aa-8397-8e73c8fe7c2a",
              "name": "procedure_name",
              "value": "={{ $json.body.procedure_name }}",
              "type": "string"
            },
            {
              "id": "956ab35f-d962-440b-846e-d08c598c05d9",
              "name": "result",
              "value": "={{ $json.body.result }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -80
      ],
      "id": "1701b9b6-e918-46cf-bb52-bdc01ddf35f2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17b2bf1c-52a6-416c-bc5e-7d3959b45c6d",
              "name": "retroid",
              "value": "={{ $json.data.retroid }}",
              "type": "string"
            },
            {
              "id": "674e4cb5-1f70-48ea-82bc-babecb0a4550",
              "name": "mac",
              "value": "={{ $('Webhook').item.json.body.mac }}",
              "type": "string"
            },
            {
              "id": "b07b072c-ce7a-42aa-8397-8e73c8fe7c2a",
              "name": "procedure_name",
              "value": "={{ $('Webhook').item.json.body.procedure_name }}",
              "type": "string"
            },
            {
              "id": "956ab35f-d962-440b-846e-d08c598c05d9",
              "name": "result",
              "value": "={{ $('Webhook').item.json.body.result }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        144
      ],
      "id": "34d60550-1607-4563-85ab-a69c80008d4b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "efb4ba2f-9c15-4185-9331-ae84d8551327",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        -80
      ],
      "id": "a3951125-085f-4291-a5e3-43352ced4df7",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\": \"sn不存在\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1360,
        240
      ],
      "id": "df99d286-0bf1-4de4-b257-e80772d3f288",
      "name": "sn不存在"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "mac_list",
          "mode": "list",
          "cachedResultName": "mac_list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mac_number": "={{ $json.body.mac }}",
            "retroid": "={{ $json.body.sn }}",
            "status": 2,
            "completetime": "={{ $now }}"
          },
          "matchingColumns": [
            "mac_number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mac_number",
              "displayName": "mac_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "retroid",
              "displayName": "retroid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "createtime",
              "displayName": "createtime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "modifytime",
              "displayName": "modifytime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "completetime",
              "displayName": "completetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1952,
        -400
      ],
      "id": "2898dfbb-e80b-475d-94a6-55d60e97ed80",
      "name": "更新mac状态",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "machine_data",
          "mode": "list",
          "cachedResultName": "machine_data"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "retroid_id": "={{ $json.retroid_id }}",
            "procedure_detail_id": "={{ $('查询工序编号').item.json.data[0].procedure_detail_id}} ",
            "history_procedure_id": "={{ $('查询工序编号').item.json.data[0].history_procedure_id}} ",
            "user_id": 1,
            "machine_id": 0,
            "data": "={{ {...$('Webhook').all()[0].json.body,bind_id:$('Code1').all()[0].json.body.mac } }}",
            "createtime": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "machine_data_id",
              "displayName": "machine_data_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "retroid_id",
              "displayName": "retroid_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "procedure_detail_id",
              "displayName": "procedure_detail_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "history_procedure_id",
              "displayName": "history_procedure_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "machine_id",
              "displayName": "machine_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "createtime",
              "displayName": "createtime",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1264,
        -96
      ],
      "id": "17878fa5-02fc-425c-9156-aca7e86c6aef",
      "name": "插入machain_data",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "mac_list",
          "mode": "list",
          "cachedResultName": "mac_list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mac_number": "={{ $json.body.mac }}",
            "status": 0
          },
          "matchingColumns": [
            "mac_number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mac_number",
              "displayName": "mac_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "retroid",
              "displayName": "retroid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "createtime",
              "displayName": "createtime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "modifytime",
              "displayName": "modifytime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "completetime",
              "displayName": "completetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1952,
        -208
      ],
      "id": "fe5cda78-80ae-4665-a6d0-f0cc7454697d",
      "name": "更新mac状态1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d46c1507-9d71-4c9a-a09b-ca59b21a9dab",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        -176
      ],
      "id": "726bd935-d530-4fa1-bd5f-f7c411888ab4",
      "name": "If3"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "判断是否为sn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "更新mac状态",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "更新mac状态1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库报错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询sn相关信息": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库报错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询工序编号": {
      "main": [
        [
          {
            "node": "查询sn相关信息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否为sn": {
      "main": [
        [
          {
            "node": "判断传参是否准确",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "判断是否为uuid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否为uuid": {
      "main": [
        [
          {
            "node": "判断传参是否准确1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "传参不全",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断传参是否准确1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "传参不全",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断传参是否准确": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "传参不全",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "查询工序编号",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "插入machain_data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sn不存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新mac状态": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库报错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "插入machain_data": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库报错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新mac状态1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库报错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库报错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "192.168.50.140",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "209",
            "user-agent": "python-requests/2.28.2",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "sn": "W92C003595",
            "uuid": "REDACTED",
            "mac": "8040052C4A00",
            "procedure_name": "半成品功能测试2-触摸/WIFI/蓝牙/耳机",
            "result": "1"
          },
          "webhookUrl": "https://n8n.mes.coros.team/prod/Wi-Fi_mac_API-newmes_result",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "aa0f223d-2bdd-455b-81e3-9e7666d6beae",
  "activeVersionId": "aa0f223d-2bdd-455b-81e3-9e7666d6beae",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-03-27T09:36:02.916Z",
      "createdAt": "2025-03-27T09:36:02.916Z",
      "id": "KU9VIrrOl93vk4kh",
      "name": "wifi_mac"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-04-24T03:38:24.236Z",
      "createdAt": "2025-04-24T03:38:24.236Z",
      "role": "workflow:owner",
      "workflowId": "cEuZb5FMdMxuTHoS",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}