raw-data/n8n-workflows/cPlAaI51qXB0GXfc.json
{
  "updatedAt": "2025-04-24T06:09:36.179Z",
  "createdAt": "2024-09-04T07:50:35.168Z",
  "id": "cPlAaI51qXB0GXfc",
  "name": "ResourceUpdatePackage",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "topic": "/updatePackage",
        "options": {}
      },
      "id": "069b822c-0565-4b77-b05d-96109ed2f966",
      "name": "MQTT",
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [
        880,
        320
      ],
      "credentials": {
        "mqtt": {
          "id": "NQxdr68IdOkhoxDi",
          "name": "MQTT account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": 209,\n  \"message\":\"更新消息推送失败！\"\n}",
        "options": {}
      },
      "id": "f88d200a-bb10-42ca-b361-fa0ebc82f827",
      "name": "mqtt error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": 200,\n  \"message\":\"开始部署！\"\n}",
        "options": {}
      },
      "id": "f687a538-3f10-4115-b8f7-c3c5a94d994a",
      "name": "mqtt success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1300,
        220
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "resources",
          "mode": "list",
          "cachedResultName": "resources"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "update_status": 1,
            "resource_mac": "={{ $json.query.mac }}"
          },
          "matchingColumns": [
            "resource_mac"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resource_name",
              "displayName": "resource_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resource_type",
              "displayName": "resource_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resource_info",
              "displayName": "resource_info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resource_mac",
              "displayName": "resource_mac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resource_status",
              "displayName": "resource_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "procdure_id",
              "displayName": "procdure_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "application_id",
              "displayName": "application_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_delete",
              "displayName": "is_delete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "purchase_time",
              "displayName": "purchase_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "create_time",
              "displayName": "create_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_online",
              "displayName": "is_online",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "update_status",
              "displayName": "update_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "online_update_time",
              "displayName": "online_update_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "5e0b09aa-55db-4b89-b09d-3e3f3e5e0929",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1100,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {
        "path": "/resource/updatePackage",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "97d3c849-5ac0-4e09-ad40-691dcd1351fa",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        700,
        320
      ],
      "webhookId": "85b75894-c961-4a23-8d40-1f4b52747afa"
    }
  ],
  "connections": {
    "MQTT": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mqtt error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "mqtt success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "MQTT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "172.30.0.2",
            "host": "n8n_webhook",
            "connection": "close",
            "accept-encoding": "gzip",
            "user-agent": "ReactorNetty/1.1.9",
            "accept": "*/*"
          },
          "params": {},
          "query": {
            "applicationId": "33",
            "mac": "d8:47:8f:90:57:b5"
          },
          "body": {},
          "webhookUrl": "https://n8n.mes.coros.team/prod/resource/updatePackage",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "59861315-31ed-4b2f-8681-7dc34bd2ad8b",
  "activeVersionId": "59861315-31ed-4b2f-8681-7dc34bd2ad8b",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-04-24T05:49:24.156Z",
      "createdAt": "2025-04-24T05:49:24.156Z",
      "role": "workflow:owner",
      "workflowId": "cPlAaI51qXB0GXfc",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}