raw-data/n8n-workflows/FYlFfXKJT1QWHwzS.json
{
  "updatedAt": "2025-10-27T16:31:59.710Z",
  "createdAt": "2025-05-23T09:55:20.354Z",
  "id": "FYlFfXKJT1QWHwzS",
  "name": "get_v_sn_series",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get_v_sn_series",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -176,
        0
      ],
      "id": "4e4a7d10-400d-479f-b6fd-f396bb0dfe1e",
      "name": "Webhook",
      "webhookId": "b6f3fee9-a371-4cc5-b833-7bf119944f9e"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"200\",\n  \"msg\":  \"ok\",\n  \"data\": \n  {{JSON.stringify($input.all().map(item => item.json))}}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1408,
        -224
      ],
      "id": "56b176e8-2de9-4fe7-ab8e-ab18b5d67387",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "02781068-d132-4fcd-bea8-63ddab0d8027",
              "leftValue": "={{ $('Webhook').item.json.body.joborder_id  }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        0
      ],
      "id": "d31caa1d-6155-4b5d-9550-2483f6dffe1a",
      "name": "工单是否不为空"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd7e2dc3-f72b-4db6-9aaa-c5077ed5b74f",
              "leftValue": "={{ $('Webhook').item.json.body.product_model_name_easy }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        -288
      ],
      "id": "868a6194-fd48-4a9a-89fb-5349f5542b08",
      "name": "产品型号是否不为空"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd7e2dc3-f72b-4db6-9aaa-c5077ed5b74f",
              "leftValue": "={{ $('Webhook').item.json.body.product_model_name_easy }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        208
      ],
      "id": "18da24b9-a13c-444e-9127-796eef635b4d",
      "name": "产品型号是否不为空1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1003536-9cf1-43a3-a372-8e96d17f478a",
              "leftValue": "={{ $('Webhook').item.json.body.materials_code }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        -528
      ],
      "id": "8a9c7882-a689-41ed-b9e9-f2a88f643896",
      "name": "物料编码不为空"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1003536-9cf1-43a3-a372-8e96d17f478a",
              "leftValue": "={{ $('Webhook').item.json.body.materials_code }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        64
      ],
      "id": "b229211e-92c3-4b23-a321-d7f4c14114e5",
      "name": "物料编码不为空2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iipMI3IDY4ryTUpO",
          "mode": "list",
          "cachedResultUrl": "/workflow/iipMI3IDY4ryTUpO",
          "cachedResultName": "1.Mes重构 — 工序查询通用接口"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        64,
        0
      ],
      "id": "afeefc86-7f8a-4553-8b26-212055c8e009",
      "name": "查虚拟sn生成工序id"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select j.joborder_number, md.data ->>'product_model_name'as product_model_name, md.data ->>'materials_code'as materials_code, \n md.data ->>'beginseries'as beginseries, md.data ->>'endseries'as endseries, md.createtime\nfrom mes.machine_data md \njoin mes.joborder j on j.joborder_id = (md.data ->> 'joborder_id')::bigint\nwhere md.procedure_detail_id ='{{ $('查虚拟sn生成工序id').item.json.data[1].procedure_detail_id }}'\nand md.data ->> 'joborder_id'='{{ $('Webhook').item.json.body.joborder_id }}'\nand md.data ->>'product_model_name_easy'='{{ $('Webhook').item.json.body.product_model_name_easy }}'\nand md.data ->>'materials_code'='{{ $('Webhook').item.json.body.materials_code }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        -688
      ],
      "id": "8b4b26ad-df1f-4bbc-a19c-a73a1ebedf5e",
      "name": "参数齐全",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select j.joborder_number, md.data ->>'product_model_name'as product_model_name, md.data ->>'materials_code'as materials_code, \n md.data ->>'beginseries'as beginseries, md.data ->>'endseries'as endseries, md.createtime\nfrom mes.machine_data md \njoin mes.joborder j on j.joborder_id = (md.data ->> 'joborder_id')::bigint\nwhere md.procedure_detail_id ='{{ $('查虚拟sn生成工序id').item.json.data[0].procedure_detail_id }}'\nand md.data ->> 'joborder_id'='{{ $('Webhook').item.json.body.joborder_id }}'\nand md.data ->>'product_model_name_easy'='{{ $('Webhook').item.json.body.product_model_name_easy }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        -464
      ],
      "id": "c20f3012-e00a-483e-ac87-bfccfa997fe2",
      "name": "物料编码为空",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select j.joborder_number, md.data ->>'product_model_name'as product_model_name, md.data ->>'materials_code'as materials_code, \n md.data ->>'beginseries'as beginseries, md.data ->>'endseries'as endseries, md.createtime\nfrom mes.machine_data md\njoin mes.joborder j on j.joborder_id = (md.data ->> 'joborder_id')::bigint\nwhere md.procedure_detail_id ='{{ $('查虚拟sn生成工序id').item.json.data[0].procedure_detail_id }}'\nand md.data ->> 'joborder_id'='{{ $('Webhook').item.json.body.joborder_id }}'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        -256
      ],
      "id": "5de96f35-d37f-47c7-b012-3688ddf62e6c",
      "name": "产品型号，物料编码为空",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select j.joborder_number, md.data ->>'product_model_name'as product_model_name, md.data ->>'materials_code'as materials_code, \n md.data ->>'beginseries'as beginseries, md.data ->>'endseries'as endseries, md.createtime\nfrom mes.machine_data md \njoin mes.joborder j on j.joborder_id = (md.data ->> 'joborder_id')::bigint\nwhere md.procedure_detail_id ='{{ $('查虚拟sn生成工序id').item.json.data[0].procedure_detail_id }}'\nand md.data ->>'product_model_name_easy'='{{ $('Webhook').item.json.body.product_model_name_easy }}'\nand md.data ->>'materials_code'='{{ $('Webhook').item.json.body.materials_code }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        992,
        -64
      ],
      "id": "17b86b4a-6cdd-4f61-9124-276b93c371ab",
      "name": "工单号为空",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select j.joborder_number, md.data ->>'product_model_name'as product_model_name, md.data ->>'materials_code'as materials_code, \n md.data ->>'beginseries'as beginseries, md.data ->>'endseries'as endseries, md.createtime\nfrom mes.machine_data md \njoin mes.joborder j on j.joborder_id = (md.data ->> 'joborder_id')::bigint \nwhere md.procedure_detail_id ='{{ $('查虚拟sn生成工序id').item.json.data[0].procedure_detail_id }}'\nand md.data ->>'product_model_name_easy'='{{ $('Webhook').item.json.body.product_model_name_easy }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        144
      ],
      "id": "e72a723d-040a-4948-9e79-a952553fb031",
      "name": "物料编码，工单号为空",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":  \"未输入搜索条件\",\n  \"data\": []\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        752,
        320
      ],
      "id": "33bdeaf5-5bc2-4076-b02d-ec61880b4224",
      "name": "搜索条件空"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":  \"数据库错误\",\n  \"data\": []\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1440,
        320
      ],
      "id": "b67b90c3-1402-4037-8838-8f06ca6a9812",
      "name": "数据库错误"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "399da277-bd1a-42fd-82b2-3811d482b7be",
              "leftValue": "={{ $json.product_model_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1008,
        -288
      ],
      "id": "1e192b60-5f84-441b-bf2f-7e3d7209b4e7",
      "name": "Filter"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "查虚拟sn生成工序id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "工单是否不为空": {
      "main": [
        [
          {
            "node": "产品型号是否不为空",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "产品型号是否不为空1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "产品型号是否不为空": {
      "main": [
        [
          {
            "node": "物料编码不为空",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "产品型号，物料编码为空",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "产品型号是否不为空1": {
      "main": [
        [
          {
            "node": "物料编码不为空2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "搜索条件空",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "物料编码不为空": {
      "main": [
        [
          {
            "node": "参数齐全",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "物料编码为空",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查虚拟sn生成工序id": {
      "main": [
        [
          {
            "node": "工单是否不为空",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "参数齐全": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "物料编码为空": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "物料编码不为空2": {
      "main": [
        [
          {
            "node": "工单号为空",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "物料编码，工单号为空",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "工单号为空": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "物料编码，工单号为空": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "产品型号，物料编码为空": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "192.168.128.8",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "88",
            "accept-encoding": "gzip",
            "user-agent": "ReactorNetty/1.1.22",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "procedure_name": "维修记录-虚拟SN号生成",
            "joborder_id": "",
            "materials_code": ""
          },
          "webhookUrl": "https://n8n.mes.coros.team/prod/get_v_sn_series",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "358f87cb-2cb8-433d-be71-215515390ccf",
  "activeVersionId": "358f87cb-2cb8-433d-be71-215515390ccf",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-05-23T09:55:20.354Z",
      "createdAt": "2025-05-23T09:55:20.354Z",
      "role": "workflow:owner",
      "workflowId": "FYlFfXKJT1QWHwzS",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}