raw-data/n8n-workflows/g7I5oS2I3Pmk62ri.json
{
  "updatedAt": "2025-07-17T10:11:02.066Z",
  "createdAt": "2025-05-23T09:31:41.774Z",
  "id": "g7I5oS2I3Pmk62ri",
  "name": "get_repair_joborder",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get_repair_joborder",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -208,
        0
      ],
      "id": "7cad4791-8611-4d7b-a095-93dda1774c19",
      "name": "Webhook",
      "webhookId": "c18c2cfb-2f9a-46b7-9f87-f8dc1604225e"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"200\",\n  \"msg\":  \"ok\",\n  \"data\": {{JSON.stringify($json.data) }}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        400,
        0
      ],
      "id": "37a03719-321a-465e-94fc-9c6f270dc342",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "dff3b87f-1b93-488c-aca1-48ae35a39910",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select j.joborder_id,j.joborder_number from mes.joborder j \nwhere j.joborder_type='Repair'\nand j.status = 1\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        32,
        0
      ],
      "id": "fb0a3fb1-d693-4363-9af3-fbdb5487518a",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "172.31.0.2",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "0",
            "accept-encoding": "gzip",
            "user-agent": "ReactorNetty/1.1.22",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://n8n.mes.coros.team/prod/get_repair_joborder",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "5f24947a-7817-4a8a-8a7b-f686f2c9071b",
  "activeVersionId": "5f24947a-7817-4a8a-8a7b-f686f2c9071b",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-05-23T09:31:41.774Z",
      "createdAt": "2025-05-23T09:31:41.774Z",
      "role": "workflow:owner",
      "workflowId": "g7I5oS2I3Pmk62ri",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}