raw-data/n8n-workflows/HpR7OTov65A1Fhwh.json
{
  "updatedAt": "2026-03-11T09:07:12.972Z",
  "createdAt": "2025-05-20T08:13:33.356Z",
  "id": "HpR7OTov65A1Fhwh",
  "name": "smt_test_reblind_API",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dff0fc79-961a-4496-b4bf-f56632aaf4b8",
              "leftValue": "={{ $json.body.uesrName_smt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e49de6fc-a76a-442b-b203-b4b335c21abb",
              "leftValue": "={{ $json.body.sn }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "00d67eef-7794-4df3-94b5-9e37c19a31ca",
              "leftValue": "={{ $json.body.bind_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e387be80-8ac0-4ca4-b338-0509f9b2824e",
              "leftValue": "={{ $json.body.joborder }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f8e742ef-1a8b-463e-8268-9ffe3c4ccf23",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        704,
        336
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smt_test_reblind_API",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f771ed5e-ed8c-41cc-a941-fd701f7f7d1a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -528,
        400
      ],
      "webhookId": "deeaaca1-df75-4271-afb7-d861c18bd921"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"401\",\n  \"message\":\"请填写所有必填项\"\n}",
        "options": {}
      },
      "id": "a8e387af-65a2-405d-82bc-df9e537d0b13",
      "name": "报错信息：请填写所有必填项",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        912,
        480
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"400\",\n  \"message\":\"网络波动，数据库错误！\"\n}\n",
        "options": {}
      },
      "id": "4fcceb05-80bb-4ed4-ab8d-f30bf2b3a696",
      "name": "数据库错误！",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1696,
        864
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6fa87696-99f6-4de6-88bc-a44dff73fac0",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "70cd7715-9577-4993-aedc-6e04e0f579a4",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        1520,
        352
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"200\",\n  \"message\":\"检测结果已上传成功\"\n}",
        "options": {}
      },
      "id": "d77a3711-1f47-4fc9-8431-44880f6751fc",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1792,
        352
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iipMI3IDY4ryTUpO",
          "mode": "list",
          "cachedResultUrl": "/workflow/iipMI3IDY4ryTUpO",
          "cachedResultName": "1.Mes重构 — 工序查询通用接口"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -272,
        400
      ],
      "id": "4e41b0b8-c63e-44d4-a7e8-513677f050ee",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json:{\n    body:{\n      ...$('Webhook').item.json.body,\n      sn:$('Webhook').first().json.body.retroid\n    }\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        416
      ],
      "id": "fdddf71f-824f-4acb-a289-850c84a58a1a",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"403\",\n  \"message\":\"该SN未完成上一道工序\"\n}",
        "options": {}
      },
      "id": "4c5e420e-cf0e-4701-9796-9e5e5977768b",
      "name": "报错信息：该SN未完成上一道工序",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1184,
        496
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "machine_data",
          "mode": "list",
          "cachedResultName": "machine_data"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "retroid_id": "={{ $('获取retroid_id').item.json.retroid_id }}",
            "procedure_detail_id": "={{ $('Execute Workflow').item.json.data[0].procedure_detail_id }}",
            "user_id": 1,
            "data": "={{ $('Webhook').item.json.body }}",
            "createtime": "={{ $now }}",
            "history_procedure_id": "={{ $('Execute Workflow').item.json.data[0].history_procedure_id }}",
            "machine_id": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "machine_data_id",
              "displayName": "machine_data_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "retroid_id",
              "displayName": "retroid_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "procedure_detail_id",
              "displayName": "procedure_detail_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "history_procedure_id",
              "displayName": "history_procedure_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "machine_id",
              "displayName": "machine_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "createtime",
              "displayName": "createtime",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a2124635-e0a9-4abf-80dd-105118d512c8",
      "name": "插入工序表",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1296,
        336
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "93701f5d-2a48-4867-9de5-9d6c9a3d4a21",
              "leftValue": "={{ $json.tag }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1024,
        304
      ],
      "id": "ddf0f8f8-9848-4df3-b9b6-2f21e6cc8d3e",
      "name": "If12"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r9luD4UCXwa2jCAp",
          "mode": "list",
          "cachedResultName": "1.Mes重构 — 前置工序校验通用接口"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        848,
        304
      ],
      "id": "2baebfa6-52b6-40f9-8a16-f3e5452b6991",
      "name": "校验前置工序是否完成"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from mes.retroid r\nwhere r.retroid = '{{ $('Webhook').item.json.body.retroid }}' and r.status in ('1','2')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -144,
        400
      ],
      "id": "135546cd-0fd2-4804-97e8-86b673592aa3",
      "name": "获取retroid_id",
      "credentials": {
        "postgres": {
          "id": "4jSeve9X8u4zjkBA",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oorZAXhWJO5nu8br",
          "mode": "list",
          "cachedResultUrl": "/workflow/oorZAXhWJO5nu8br",
          "cachedResultName": "设备锁机状态"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        304,
        400
      ],
      "id": "7c7d7226-31ad-4396-8964-078a223fdca0",
      "name": "查询设备锁机"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json:{\n    body:{\n      ...$('Webhook').item.json.body,\n      sn:$('Webhook').first().json.body.retroid\n    }\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        384
      ],
      "id": "97b13280-d393-45e6-a90d-c85cae7f95bd",
      "name": "Code2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "179b4404-4cf9-453c-b3b7-42575f04051f",
              "leftValue": "={{ $json.tag }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        400
      ],
      "id": "b4412d3f-5129-4047-b988-a8e7a4ff1cbe",
      "name": "判断是否锁机"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"401\",\n  \"message\":\"{{ $json.msg }}\"\n} ",
        "options": {}
      },
      "id": "67497826-0c9b-4ee9-a31f-d108755dc693",
      "name": "报错信息：查询不到该SN",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        144,
        592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8f9e1c2e-2641-45e1-a9d8-8aefa11fc752",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        416
      ],
      "id": "9a452a42-0aab-4dd5-b6a3-f7350127d78b",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"401\",\n  \"message\":\"{{ $json.msg }}\"\n} ",
        "options": {}
      },
      "id": "3705f5a4-c458-4267-ba50-e433ff3c1e92",
      "name": "报错信息：sn锁机/未删除激活记录",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        640,
        608
      ]
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "校验前置工序是否完成",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：请填写所有必填项",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误！",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "获取retroid_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "查询设备锁机",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "插入工序表": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误！",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If12": {
      "main": [
        [
          {
            "node": "插入工序表",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：该SN未完成上一道工序",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "校验前置工序是否完成": {
      "main": [
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取retroid_id": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：查询不到该SN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询设备锁机": {
      "main": [
        [
          {
            "node": "判断是否锁机",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否锁机": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：sn锁机/未删除激活记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：查询不到该SN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "192.168.128.8",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "140",
            "user-agent": "ReactorNetty/1.1.8",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "procedure_name": "FQC测试",
            "uesrName_smt": "1438 1447 2169 1802 0654",
            "bind_id": "测试OK",
            "retroid": "S51A002475",
            "joborder": "1000006205"
          },
          "webhookUrl": "https://n8n.mes.coros.team/prod/smt_test_reblind_API",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "d23f83c5-1ac7-4916-bca0-fa9097442a5b",
  "activeVersionId": "d23f83c5-1ac7-4916-bca0-fa9097442a5b",
  "versionCounter": 48,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-05-20T08:13:33.356Z",
      "createdAt": "2025-05-20T08:13:33.356Z",
      "role": "workflow:owner",
      "workflowId": "HpR7OTov65A1Fhwh",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}