raw-data/n8n-workflows/iArVI6MMEqbzhuw1.json
{
  "updatedAt": "2025-12-29T03:19:32.970Z",
  "createdAt": "2025-06-25T09:58:56.627Z",
  "id": "iArVI6MMEqbzhuw1",
  "name": "oqc_test_API",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dff0fc79-961a-4496-b4bf-f56632aaf4b8",
              "leftValue": "={{ $json.query.uesrName_smt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e49de6fc-a76a-442b-b203-b4b335c21abb",
              "leftValue": "={{ $json.query.retroid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "00d67eef-7794-4df3-94b5-9e37c19a31ca",
              "leftValue": "={{ $json.query.bind_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e387be80-8ac0-4ca4-b338-0509f9b2824e",
              "leftValue": "={{ $json.query.joborder }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "585eb1d5-b034-45bf-97f0-77a1f52f9ed9",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        784,
        400
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "oqc_test_API",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b8523e29-ce6e-4681-9df5-1b6e8904ff06",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        400
      ],
      "webhookId": "eefadb49-b8af-4d15-9a96-768cd6462490"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "2805fbdf-89a9-4093-876a-0a9b26be286f",
              "leftValue": "={{ $json.retroid_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f9c55d20-ec1f-443f-9278-f9fcd5538dbc",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        1152,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"401\",\n  \"message\":\"请填写所有必填项\"\n}",
        "options": {}
      },
      "id": "2d38b479-1fae-4f05-ba0f-156ea8ce62be",
      "name": "报错信息：请填写所有必填项",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1040,
        544
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"400\",\n  \"message\":\"网络波动，数据库错误！\"\n}\n",
        "options": {}
      },
      "id": "d11f4ee0-e35e-4408-b0aa-a2eb69b7d8af",
      "name": "数据库错误！",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3168,
        832
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6fa87696-99f6-4de6-88bc-a44dff73fac0",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dfa8c364-e6db-4893-b453-d3f0423c5f0b",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        2496,
        144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"403\",\n  \"message\":\"该SN不存在\"\n}",
        "options": {}
      },
      "id": "de0e9c57-8529-435a-ac43-2df1f81cd083",
      "name": "报错信息：该SN不存在",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1360,
        544
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"200\",\n  \"message\":\"检测结果已上传成功\"\n}",
        "options": {}
      },
      "id": "54255569-430f-4b50-b833-c9ebc56bfdf8",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2720,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "return $(\"Webhook\").all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        400
      ],
      "id": "a4f6a489-435f-46fc-b301-8634d52fd35f",
      "name": "Code"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "machine_data",
          "mode": "list",
          "cachedResultName": "machine_data"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "retroid_id": "={{ $json.retroidId }}",
            "procedure_detail_id": "={{ $json.procedure_detail_id }}",
            "user_id": 1,
            "data": "={{ $('Webhook').all()[0].json.query}}",
            "createtime": "={{ $now }}",
            "history_procedure_id": "={{ $json.history_procedure_id }}",
            "machine_id": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "machine_data_id",
              "displayName": "machine_data_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "retroid_id",
              "displayName": "retroid_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "procedure_detail_id",
              "displayName": "procedure_detail_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "history_procedure_id",
              "displayName": "history_procedure_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "machine_id",
              "displayName": "machine_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "createtime",
              "displayName": "createtime",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "06c7a478-d938-4e9a-b25c-308ce7965b69",
      "name": "插入工序表",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2304,
        176
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3815c47d-182f-41f4-8429-b12fe7778133",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        224
      ],
      "id": "2e685f34-49cf-4bca-aa38-d2ee2c663c7f",
      "name": "If6"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "retroid",
          "mode": "list",
          "cachedResultName": "retroid"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "retroid",
              "value": "={{ $json.query.retroid }}"
            },
            {
              "column": "status",
              "condition": "!=",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "id": "054ce6de-5c28-4055-aede-ff11a30957cd",
      "name": "查询retroid_id",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    md.retroid_id,\n    md.machine_data_id,\n    md.data->>'ticketNo' AS jobNumber,\n    jo.joborder_id\nFROM \n    mes.machine_data md\nJOIN \n    mes.joborder jo ON md.data->>'ticketNo' = jo.joborder_number\n\nWHERE\n    retroid_id = '{{ $json.retroid_id }}' \nand\n  procedure_detail_id = '79'\n  and jo.status!='2';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1296,
        224
      ],
      "id": "55714253-e561-467e-8019-2b504c745ce2",
      "name": "查询包装工单",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "hW9OCmLkbDsCF40U",
          "name": "mes.pgsql.mes.coros.team"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"401\",\n  \"message\":\"该SN未完成彩盒称重\"\n}",
        "options": {}
      },
      "id": "98f3b3ce-e6b6-46ae-bd38-9bbc30f60ad1",
      "name": "报错信息:该SN未完成彩盒称重",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1856,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"403\",\n  \"message\":\"该SN已有OQC记录\"\n}",
        "options": {}
      },
      "id": "4c893506-c335-4279-84f0-1c6beb8f6fff",
      "name": "报错信息：该SN已有OQC记录",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2336,
        544
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    \"data\"->>'joborder' AS joborder,\n    COUNT(*) AS occurrences\nFROM \n    mes.machine_data\nWHERE\n    retroid_id = '{{ $json.retroid_id }}'\n    AND procedure_detail_id = '{{ $json.procedure_detail_id }}'\n    AND \"data\"->>'joborder' = '{{ $json.jobnumber }}'\nGROUP BY \n    \"data\"->>'joborder'\nHAVING \n    COUNT(*) > 0;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1776,
        208
      ],
      "id": "f95222f9-7557-4e90-a1da-78b59c30afa9",
      "name": "查询是否有相同记录",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "4jSeve9X8u4zjkBA",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3815c47d-182f-41f4-8429-b12fe7778133",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        208
      ],
      "id": "6757d689-b0d3-40fe-885f-606739457c16",
      "name": "If7"
    },
    {
      "parameters": {
        "jsCode": "// 从 Execute Workflow 节点获取数据\nconst workflowData = $('查询工序').all()[0].json.data;\n\n// 从查询包装工单节点获取 retroid_id\nconst packagingData = $(\"查询包装工单\").all();\nconst retroidId = packagingData.length > 0 ? packagingData[0].json.retroid_id : null;\n\n// 假设我们从 Execute Workflow 的第一个元素中提取信息\nconst latestWorkflowData = workflowData[0]; \n\n// 返回结果\nreturn [\n  {\n    json: {\n      retroidId: retroidId,\n      history_procedure_id: latestWorkflowData.history_procedure_id,\n      procedure_detail_id: latestWorkflowData.procedure_detail_id\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        176
      ],
      "id": "9f27d798-ebca-48ec-85be-e2d67212ad3a",
      "name": "整合数据"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"401\",\n  \"message\":\"该工序不存在\"\n}",
        "options": {}
      },
      "id": "0a77b2f0-859a-4bc6-b8d4-da3b9a7d6fa8",
      "name": "报错信息:该工序不存在",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        640,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3249517-984c-4087-a2a1-bdc1e43feddb",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        400
      ],
      "id": "2d8245d1-b02d-4fdb-a7e1-25b1a518b900",
      "name": "判断工序是否存在"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iipMI3IDY4ryTUpO",
          "mode": "list",
          "cachedResultName": "1.Mes重构 — 工序查询通用接口"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        240,
        400
      ],
      "id": "d2b55b7d-f827-4514-a4ad-5eb840d58250",
      "name": "查询工序",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 从 Execute Workflow 节点获取数据\nconst workflowData = $('查询工序').all()[0].json.data;\n\n// 从查询包装工单节点获取 retroid_id 和 jobnumber\nconst packagingData = $input.all();\nlet retroidId = null;\nlet jobnumber = null;\n\nif (packagingData.length > 0) {\n    // 直接从第一个数据元素中获取属性\n    retroidId = packagingData[0].json.retroid_id;\n    jobnumber = packagingData[0].json.jobnumber;\n}\n\n// 假设我们从 Execute Workflow 的第一个元素中提取信息\nconst latestWorkflowData = workflowData[0];\n\n// 返回结果\nreturn [\n  {\n    json: {\n      retroid_id: retroidId,\n      history_procedure_id: latestWorkflowData.history_procedure_id,\n      procedure_detail_id: latestWorkflowData.procedure_detail_id,\n      jobnumber: jobnumber\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        208
      ],
      "id": "db934661-06a7-4b9b-84f1-57f2fdb3fcb2",
      "name": "整理数据"
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "查询retroid_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：请填写所有必填项",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "查询工序",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "查询包装工单",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：该SN不存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误！",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "插入工序表": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误！",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "整理数据",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息:该SN未完成彩盒称重",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询retroid_id": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误！",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询包装工单": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误！",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询是否有相同记录": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误！",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "整合数据",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：该SN已有OQC记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整合数据": {
      "main": [
        [
          {
            "node": "插入工序表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断工序是否存在": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息:该工序不存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询工序": {
      "main": [
        [
          {
            "node": "判断工序是否存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理数据": {
      "main": [
        [
          {
            "node": "查询是否有相同记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "192.168.128.8",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "30",
            "user-agent": "ReactorNetty/1.1.8",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {
            "procedure_name": "OQC抽检",
            "joborder": "1000005742",
            "uesrName_smt": "10002055",
            "retroid": "W92C008645",
            "bind_id": "测试OK"
          },
          "body": {
            "procedure_name": "OQC抽检"
          },
          "webhookUrl": "https://n8n.mes.coros.team/prod/oqc_test_API",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "5528658e-d860-4311-bcfc-91eda2cc3e01",
  "activeVersionId": "5528658e-d860-4311-bcfc-91eda2cc3e01",
  "versionCounter": 38,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-07-01T11:51:32.079Z",
      "createdAt": "2025-07-01T11:51:32.079Z",
      "role": "workflow:owner",
      "workflowId": "iArVI6MMEqbzhuw1",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}