raw-data/n8n-workflows/Ifa90DuVIEkqCXLX.json
{
  "updatedAt": "2026-01-20T04:48:06.838Z",
  "createdAt": "2025-04-02T08:04:33.416Z",
  "id": "Ifa90DuVIEkqCXLX",
  "name": "remark_blind_api",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=remark_blind_api",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1200,
        -48
      ],
      "id": "05d57a4c-efaf-4e52-a128-70f63005170c",
      "name": "Webhook",
      "webhookId": "26a45fda-558a-4daf-844e-c9434d9b5904"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"2002\",\n  \"msg\":\"数据库错误！\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d7fe8fa7-8d0a-484f-9327-159e233d9b59",
      "name": "数据库报错",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3328,
        544
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "retroid",
          "mode": "list",
          "cachedResultName": "retroid"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "retroid": "={{ $json.data.retroid }}",
            "reamrk": "={{ $json.data.remark }}"
          },
          "matchingColumns": [
            "retroid"
          ],
          "schema": [
            {
              "id": "retroid_id",
              "displayName": "retroid_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "joborder_id",
              "displayName": "joborder_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "retroid_generate_id",
              "displayName": "retroid_generate_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "createtime",
              "displayName": "createtime",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "retroid",
              "displayName": "retroid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reamrk",
              "displayName": "reamrk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1824,
        -144
      ],
      "id": "0da47b0d-af79-41be-b0d2-f068c995a939",
      "name": "Postgres",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c03d47ea-55af-445e-944b-dcc298630bf9",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2064,
        -144
      ],
      "id": "f0e4eb4d-dd75-4e31-9904-fda9365af79b",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"200\",\n  \"msg\":\"绑定成功！\",\n  \"sn\":\"{{ $json.retroid }}\",\n  \"remark\":\"{{ $json.reamrk }} \"\n  }\n",
        "options": {}
      },
      "id": "557433d5-b5fe-4597-8f78-f14002cad99c",
      "name": "绑定成功",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2240,
        -144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"401\",\n  \"msg\":\"请填写所有必填项\"\n}",
        "options": {}
      },
      "id": "647db838-f7e7-4d40-a5a2-9720b77e2c2f",
      "name": "报错信息：请填写所有必填项",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        528,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "return $(\"Webhook\").all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -64
      ],
      "id": "ad660851-be1c-496a-b279-15f0d83f2534",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n       r.retroid_id,\n       jo.joborder_number,\n       pm.product_model_name,\n       pi.product_code,\n       jo.procedure_list_id,\n       jo.history_procedure_list_id\nFROM mes.retroid r\nJOIN mes.retroid_generate rg ON r.retroid_generate_id = rg.retroid_generate_id\nJOIN mes.joborder jo ON rg.joborder_id = jo.joborder_id\nJOIN mes.product_info pi ON jo.product_id = pi.product_id\nJOIN mes.product_model pm ON pi.product_model_id = pm.product_model_id\nWHERE r.retroid = '{{ $json.body.retroid }}'\nand r.status in('1','2');  -- 替换成你要查询的 retroid\n",
        "options": {}
      },
      "id": "78dcbd25-77c0-4f60-ae9e-e0403fbc73e3",
      "name": "查询相关信息",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        688,
        -96
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "machine_data",
          "mode": "list",
          "cachedResultName": "machine_data"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "retroid_id": "={{ $json.retroid_id }}",
            "procedure_detail_id": "={{ $('校验工序是否存在').first().json.data[0].procedure_detail_id }}",
            "user_id": 1,
            "data": "={{ {...$('Webhook').all()[0].json.body, bind_id: $('Webhook').all()[0].json.body.remark } }}",
            "createtime": "={{ $now }}",
            "history_procedure_id": "={{ $('校验工序是否存在').first().json.data[0].history_procedure_id }}",
            "machine_id": 0,
            "data_type": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "machine_data_id",
              "displayName": "machine_data_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "retroid_id",
              "displayName": "retroid_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "procedure_detail_id",
              "displayName": "procedure_detail_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "history_procedure_id",
              "displayName": "history_procedure_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "machine_id",
              "displayName": "machine_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "createtime",
              "displayName": "createtime",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_type",
              "displayName": "data_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b2bd2704-afea-4bd6-b319-13dbcfc06b6f",
      "name": "插入工序表",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1472,
        -144
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f806de03-fd7c-417f-9aac-9cd347480d91",
              "name": "retroid_id",
              "value": "={{ $json.retroid_id }}",
              "type": "string"
            },
            {
              "id": "d27f55e9-4ca2-47d2-a5b6-f9b483ef8794",
              "name": "joborder_number",
              "value": "={{ $json.joborder_number }}",
              "type": "string"
            },
            {
              "id": "cfc3ade2-1f46-47ec-83c2-01ddb40f2ca3",
              "name": "product_model_name",
              "value": "={{ $json.product_model_name }}",
              "type": "string"
            },
            {
              "id": "2e203abf-2133-4544-bc82-fdc5ebe4df99",
              "name": "product_code",
              "value": "={{ $json.product_code }}",
              "type": "string"
            },
            {
              "id": "e4d13f1a-cc38-42fb-af77-8664b49fe084",
              "name": "procedure_list_id",
              "value": "={{ $json.procedure_list_id }}",
              "type": "number"
            },
            {
              "id": "06380eb7-d782-4715-9c1d-f1eebf75d07b",
              "name": "history_procedure_list_id",
              "value": "={{ $json.history_procedure_list_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        -144
      ],
      "id": "f67e01b2-92d4-40c9-a851-9c73da7c57a5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "2805fbdf-89a9-4093-876a-0a9b26be286f",
              "leftValue": "={{ $json.retroid_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e0abd513-d75a-4d94-b60b-33b784442417",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        976,
        -144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"403\",\n  \"msg\":\"该SN不存在\"\n}",
        "options": {}
      },
      "id": "cfcbc26e-ceaf-4d8e-b540-94edff14874e",
      "name": "报错信息：该SN不存在",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1152,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "185371f9-ed08-4ff1-b054-9f8ac28527b4",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1632,
        -144
      ],
      "id": "eac4eff6-a85e-4254-94f9-6ab64ce89299",
      "name": "If4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"工艺流程不包含这道工序\"\n}",
        "options": {}
      },
      "id": "68b57218-bdc1-4178-b5ca-722328115e73",
      "name": "工艺流程不包含该工序",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        32,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1901e065-a2d7-483f-985b-b7c8b40e29f4",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        -64
      ],
      "id": "75dfb22c-fbbb-4ffe-8da7-398dd58d97e0",
      "name": "判断工序是否存在"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "7a4bf665-6f4c-4357-b859-610b92ea332c",
              "leftValue": "={{ $json.body.retroid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e49de6fc-a76a-442b-b203-b4b335c21abb",
              "leftValue": "={{ $json.body.remark }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "82e2dbc2-dd11-431e-a481-3b12777a7162",
      "name": "判断必填项",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        192,
        -64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "758972ff-af92-414b-95da-a8f48249a661",
              "leftValue": "={{ $json.body.retroid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "c0a95d7f-0116-4c6e-81b1-36c0726db0a3",
              "leftValue": "={{ $json.body.uuid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1040,
        -48
      ],
      "id": "70ef6e30-7cc1-4927-9b68-b74ab6c02cea",
      "name": "判断是否使用sn",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c578710-96fa-46e1-bae7-c2eb2addba2b",
              "leftValue": "={{ $json.tag }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -736,
        -176
      ],
      "id": "9128f2de-f1c2-40f1-845d-57bf8bfbbc82",
      "name": "判断是否已经绑定uuid"
    },
    {
      "parameters": {
        "jsCode": "return $('Webhook').all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -240
      ],
      "id": "2a671378-cb2b-48c3-a54a-3e4c00ffe3de",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iipMI3IDY4ryTUpO",
          "mode": "list",
          "cachedResultUrl": "/workflow/iipMI3IDY4ryTUpO",
          "cachedResultName": "1.Mes重构 — 工序查询通用接口"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -304,
        -64
      ],
      "id": "83f7feae-d213-4f20-b24f-b908abd28e83",
      "name": "校验工序是否存在"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"该uuid未绑定sn\"\n}",
        "options": {}
      },
      "id": "3ec10581-4d7f-4773-8e91-1d05530ea6bd",
      "name": "该uuid未绑定sn",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -512,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "7a4bf665-6f4c-4357-b859-610b92ea332c",
              "leftValue": "={{ $json.body.uuid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e49de6fc-a76a-442b-b203-b4b335c21abb",
              "leftValue": "={{ $json.body.remark }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "541ddfa4-caf5-498c-8a61-01fd7ae25697",
      "name": "判断必填项1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        336,
        64
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zIsWkclkRfztC4WQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/zIsWkclkRfztC4WQ",
          "cachedResultName": "1.Mes重构 — uuidGetSn"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -880,
        -176
      ],
      "id": "ab6269d9-a38b-4e5f-9d35-c408b322accd",
      "name": "通过uuid找到sn"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n r.retroid_id,\n jo.joborder_number,\n pm.product_model_name,\n pi.product_code,    jo.procedure_list_id,    jo.history_procedure_list_id\nFROM mes.retroid r\nJOIN mes.retroid_generate rg ON r.retroid_generate_id = rg.retroid_generate_id\nJOIN mes.joborder jo ON rg.joborder_id = jo.joborder_id\nJOIN mes.product_info pi ON jo.product_id = pi.product_id\nJOIN mes.product_model pm ON pi.product_model_id = pm.product_model_id\nWHERE r.retroid_id = '{{ $('通过uuid找到sn').item.json.data[0].json.retroid_id }}'\nand r.status in('1','2');  -- 替换成你要查询的 retroid\n",
        "options": {}
      },
      "id": "c34029a0-0cf1-4c62-a5a3-547d9f130b79",
      "name": "查询相关信息1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        688,
        64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "判断是否使用sn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库报错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "绑定成功",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库报错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "判断必填项",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询相关信息": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库报错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "插入工序表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：该SN不存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "插入工序表": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库报错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库报错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断工序是否存在": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "工艺流程不包含该工序",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断必填项": {
      "main": [
        [
          {
            "node": "查询相关信息",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "判断必填项1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否使用sn": {
      "main": [
        [
          {
            "node": "通过uuid找到sn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "校验工序是否存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否已经绑定uuid": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "该uuid未绑定sn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "校验工序是否存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "校验工序是否存在": {
      "main": [
        [
          {
            "node": "判断工序是否存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断必填项1": {
      "main": [
        [
          {
            "node": "查询相关信息1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：请填写所有必填项",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "通过uuid找到sn": {
      "main": [
        [
          {
            "node": "判断是否已经绑定uuid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询相关信息1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库报错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "192.168.53.146",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "89",
            "user-agent": "got (https://github.com/sindresorhus/got)",
            "content-type": "application/json"
          },
          "params": {},
          "query": {
            "retroid": "W35C002300",
            "remark": "A12 A15 A21",
            "procedure_name": "信息备注"
          },
          "body": {
            "retroid": "",
            "uuid": "https://r.coros.com/6?a=COROS PACE 4 00F6EB&b=D75F039DDF50&c=C4C520302389&d=0&e=0&f=0",
            "remark": "A12+A15+A21",
            "procedure_name": "信息备注"
          },
          "webhookUrl": "https://n8n.mes.coros.team/prod/remark_blind_api",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "136f5cc9-5b0f-4280-a046-3d2a4c66c889",
  "activeVersionId": "136f5cc9-5b0f-4280-a046-3d2a4c66c889",
  "versionCounter": 40,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-04-24T03:41:10.026Z",
      "createdAt": "2025-04-24T03:41:10.026Z",
      "role": "workflow:owner",
      "workflowId": "Ifa90DuVIEkqCXLX",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}