raw-data/n8n-workflows/iOd5BkKIrs91aSlU.json
{
  "updatedAt": "2024-04-25T04:36:20.943Z",
  "createdAt": "2024-01-29T08:03:43.061Z",
  "id": "iOd5BkKIrs91aSlU",
  "name": "aftersale_API",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "147295e4-6179-4e0d-a0c7-833e8d33e677",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "dd5c1276-d748-4dcf-b482-16e0847f0c0e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        620,
        260
      ],
      "webhookId": "9edd546b-6bf2-481b-a5b6-5ddd61e6e47a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ac8b7f74-4736-48bc-9f39-293d26a71084",
              "leftValue": "={{ $json.headers.barcode }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "9b59d2d2-a743-457f-8b12-bb2eea0689a8",
              "leftValue": "={{ $json.headers.barcode }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f2b07bd9-6308-472b-8d2f-af45af401e45",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        820,
        120
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select top 10000 * from consm_aftersale where barcode LIKE '%{{ $json.headers.barcode}}%'"
      },
      "id": "b181e1fc-9186-4c4a-b76c-c8b4f5032300",
      "name": "Microsoft SQL1",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        1100,
        260
      ],
      "credentials": {
        "microsoftSql": {
          "id": "sXlTCwIbf42MUs4H",
          "name": "MES_SQL_SERVER"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Microsoft SQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept-encoding": "gzip",
            "user-agent": "ReactorNetty/1.1.9",
            "host": "192.168.128.8",
            "accept": "*/*",
            "barcode": ""
          },
          "params": {},
          "query": {},
          "body": {}
        }
      }
    ]
  },
  "versionId": "b5fcf778-14a6-4f4a-8ef6-6dfb394c907f",
  "activeVersionId": "b5fcf778-14a6-4f4a-8ef6-6dfb394c907f",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-04-24T05:57:41.807Z",
      "createdAt": "2024-01-29T03:43:19.869Z",
      "id": "wbylAziHNIuwj3Uh",
      "name": "MES查询应用API"
    }
  ],
  "shared": [
    {
      "updatedAt": "2024-01-29T08:03:43.066Z",
      "createdAt": "2024-01-29T08:03:43.066Z",
      "role": "workflow:owner",
      "workflowId": "iOd5BkKIrs91aSlU",
      "projectId": "bEZCDhUuacQnl4pP",
      "project": {
        "updatedAt": "2024-05-30T17:44:47.541Z",
        "createdAt": "2024-05-30T17:44:47.541Z",
        "id": "bEZCDhUuacQnl4pP",
        "name": "Easy wang <e@mpnew.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "94775e1f-fc17-45ee-9e00-e7bc7ec06090"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}