raw-data/n8n-workflows/IZlKRTZOZWAmzfiH.json
{
  "updatedAt": "2025-09-10T03:09:41.688Z",
  "createdAt": "2025-09-10T02:36:49.378Z",
  "id": "IZlKRTZOZWAmzfiH",
  "name": "测试",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e1c62cb1-dcb1-4d20-beb3-c150be5096a8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "action": "generate"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        272,
        128
      ],
      "id": "9b6d9cb1-233a-495f-8579-728918efa70a",
      "name": "Crypto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "371f779b-2483-4810-bc5f-cc9c9a6a5349",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        16
      ],
      "id": "107181d3-25f1-4ff9-b6af-25aec7ef42b8",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5fdd63ee-382e-479c-823e-d78bf5da31c5",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-09-10T02:36:49.378Z",
      "createdAt": "2025-09-10T02:36:49.378Z",
      "role": "workflow:owner",
      "workflowId": "IZlKRTZOZWAmzfiH",
      "projectId": "qkFucLdMB4gRfenA",
      "project": {
        "updatedAt": "2025-10-28T17:39:46.712Z",
        "createdAt": "2025-02-17T03:40:37.645Z",
        "id": "qkFucLdMB4gRfenA",
        "name": "Z.N8N临时测试",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "spinner"
        },
        "description": "测试用途",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}