raw-data/n8n-workflows/jvHAxgj1iwHuYrax.json
{
  "updatedAt": "2025-07-14T07:20:08.831Z",
  "createdAt": "2025-04-28T08:17:29.816Z",
  "id": "jvHAxgj1iwHuYrax",
  "name": "sn_get_joborder_API",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "sn_get_joborder_API",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -624,
        -64
      ],
      "id": "a79edfc3-ed60-40e8-993f-15cf738deb5f",
      "name": "Webhook",
      "webhookId": "1aa6cb60-cdb2-4866-bc39-e8bc7baa0b06"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "81177f9b-6ce6-49e1-8d65-7f86d3cdd6c7",
              "leftValue": "={{ $json.query.retroid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "dabec1ec-9975-486f-bd4e-3bdcb58f33e1",
              "leftValue": "={{ $json.query.retroid.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        -64
      ],
      "id": "4aa22261-77d7-499b-aff6-4752cdb24eb8",
      "name": "判断入参"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"200\",\n  \"joborder\":\"{{ $json.joborder_number }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        160,
        -80
      ],
      "id": "83b2b3d3-e589-450d-98f9-b47fad2a3d91",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"数据库错误\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        560,
        144
      ],
      "id": "1802797f-c3a4-4632-9aeb-5456311730d1",
      "name": "数据库错误"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "995676de-3879-40f9-aadc-c694ae3d6408",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -64,
        -64
      ],
      "id": "d4d098ca-9cc8-49db-8ba9-a90bb73d0d21",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.joborder_number\nFROM mes.retroid a\nJOIN mes.joborder b ON a.joborder_id = b.joborder_id\nWHERE a.retroid = '{{ $json.query.retroid }}'\nAND a.status in ('1','2');\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -240,
        -64
      ],
      "id": "efb8f629-59a3-4442-a1b9-a002a18cc558",
      "name": "查询工序表中对应的uuid",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"sn格式错误\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        144,
        192
      ],
      "id": "bac550db-f90c-4057-9b51-0e80d7d2a7bc",
      "name": "sn格式错误"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "判断入参",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断入参": {
      "main": [
        [
          {
            "node": "查询工序表中对应的uuid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sn格式错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询工序表中对应的uuid": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "172.29.0.2",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "0",
            "user-agent": "ReactorNetty/1.1.8",
            "accept": "*/*"
          },
          "params": {},
          "query": {
            "retroid": "W51AD22105"
          },
          "body": {},
          "webhookUrl": "https://n8n.mes.coros.team/prod/sn_get_joborder_API",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "d27bd116-0ee2-4d90-9809-1a2a866b7a77",
  "activeVersionId": "d27bd116-0ee2-4d90-9809-1a2a866b7a77",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-04-28T08:17:29.816Z",
      "createdAt": "2025-04-28T08:17:29.816Z",
      "role": "workflow:owner",
      "workflowId": "jvHAxgj1iwHuYrax",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}