raw-data/n8n-workflows/Lwst1Ig6d22se0kZ.json
{
  "updatedAt": "2026-02-03T09:05:08.964Z",
  "createdAt": "2024-04-18T09:45:16.537Z",
  "id": "Lwst1Ig6d22se0kZ",
  "name": "删除已激活设备",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.newDate }}",
        "format": "=yyyy-MM-dd",
        "options": {}
      },
      "id": "b0118ed0-1662-471f-8a5b-1275f4bcaf29",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -176,
        272
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.newDate }}",
        "format": "=yyyy-MM-dd",
        "options": {}
      },
      "id": "fd6212d0-31ce-460b-868e-52f585cc5278",
      "name": "Date & Time2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -160,
        -576
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $now }}",
        "duration": -1,
        "options": {
          "includeInputFields": false
        }
      },
      "id": "3901abab-f0db-495e-802d-241231673dce",
      "name": "Date & Time3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -336,
        -576
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d6628ea-fd35-4e42-a8eb-35de96febbb3",
              "name": "startdate",
              "value": "={{ $json.formattedDate }}T00:00:00.000Z",
              "type": "string"
            },
            {
              "id": "a3e988b1-3a1b-4e72-b364-7c36db94fc51",
              "name": "enddate",
              "value": "={{ $json.formattedDate }}T23:59:59.999Z",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c9f67b30-6075-487f-bab9-afcab1202d52",
      "name": "日期格式转换-中国",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        32,
        272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d6628ea-fd35-4e42-a8eb-35de96febbb3",
              "name": "startdate",
              "value": "={{ $json.formattedDate }}T00:00:00.000Z",
              "type": "string"
            },
            {
              "id": "a3e988b1-3a1b-4e72-b364-7c36db94fc51",
              "name": "enddate",
              "value": "={{ $json.formattedDate }}T23:59:59.999Z",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f9467dc9-61af-4f43-8971-97fd1d0b1e03",
      "name": "日期格式转换-海外",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        32,
        -576
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $now }}",
        "duration": -1,
        "options": {
          "includeInputFields": false
        }
      },
      "id": "276bdd10-1210-4914-bbda-529fdfcac195",
      "name": "日期调整",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -368,
        272
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "73dd98e8-9e15-4c1d-a064-06b0f89c225e",
      "name": "定时触发-中国",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -544,
        272
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "id": "17f33f5c-8c08-40ea-b9f1-8b477485573c",
      "name": "定时触发-欧美",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -528,
        -576
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "e6ded101-b4ca-4b3e-a699-f3be0215c325",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        -688
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "36e99359-e314-4a77-8948-2f2f44e57c55",
      "name": "Split Out2",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        -496
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "33aff59f-aa2d-481e-9696-7b253640d0b5",
      "name": "Split Out3",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        400,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://simpleadmineu.coros.com/coros/admin/device/activate/findHistoryByTime?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "accessToken",
              "value": "REDACTED"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"startDate\": \"{{ $json.startdate }}\",\n  \"endDate\": \"{{ $json.enddate }}\"\n}  ",
        "options": {}
      },
      "id": "f8b74c64-1377-4f0f-9851-d4ddb4df94c8",
      "name": "欧洲正式服激活设备删除记录获取",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        240,
        -496
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://simpleadmincn.coros.com/coros/admin/device/activate/findHistoryByTime?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "accessToken",
              "value": "REDACTED"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"startDate\": \"{{ $json.startdate }}\",\n  \"endDate\": \"{{ $json.enddate }}\"\n}    ",
        "options": {}
      },
      "id": "f1466c34-fe06-4b13-aadc-eb34934f1be2",
      "name": "国内激活设备删除记录获取",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        272
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://simpleadmin.coros.com/coros/admin/device/activate/findHistoryByTime?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "accessToken",
              "value": "REDACTED"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"startDate\":\"{{ $json.startdate }}\",\n  \"endDate\":\"{{ $json.enddate }}\"\n}   ",
        "options": {}
      },
      "id": "a3835e48-b781-48b2-87c0-79ecc9b7a684",
      "name": "北美正式服激活设备获取",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        240,
        -688
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fromEmail": "public@coros.com",
        "toEmail": "chenyongqi@coros.com",
        "subject": "[n8n warn] -  激活设备删除接口调用失败",
        "html": "=",
        "options": {
          "ccEmail": "wangxiaohu@coros.com"
        }
      },
      "id": "c0f1e612-5015-42ce-aea6-01d129dd0fdf",
      "name": "Send Email1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        432,
        560
      ],
      "webhookId": "e5e4c212-1488-44bf-b41f-08e81d48aa78",
      "credentials": {
        "smtp": {
          "id": "2KuXmj6ZAw4UDJMm",
          "name": "SMTP for Public@coros.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67ca0638-7d43-4e42-95d7-44f166fec173",
              "name": "retroId",
              "value": "={{ $json.retroId }}",
              "type": "string"
            },
            {
              "id": "0694f93b-32a4-4d0f-b0f4-7cc2f413b1b7",
              "name": "deleteTime",
              "value": "={{ $json.deleteTime }}",
              "type": "string"
            },
            {
              "id": "e296ea8a-d09b-4429-ad11-4ef7c5f5c6a7",
              "name": "deleteType",
              "value": "={{ $json.deleteType }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "d000e97b-deab-4478-8a08-cae6449d9913",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        800,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4a1087d0-df63-4556-964e-d563f326976c",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c2ddf23b-afb0-4b3f-8191-2112c8bc4b24",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2608,
        288
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "deactivation_records",
          "mode": "list",
          "cachedResultName": "deactivation_records"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "active_id",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8764695d-45f3-4a64-a718-9bb62b8d1cc5",
      "name": "查询删除表中是否有该数据",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1472,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "uYFcNmDHkmjM6vXJ",
          "name": "pgsql.mes.coros.team"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4a1087d0-df63-4556-964e-d563f326976c",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e57ed3a8-1f18-44ae-9555-40df750a1ca2",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1680,
        304
      ]
    },
    {
      "parameters": {
        "fromEmail": "public@coros.com",
        "toEmail": "xiongwang@coros.com",
        "subject": "[n8n warn] -  删除激活设备数据库接口调取失败-CN",
        "html": "={{ $json.ActiveID }}",
        "options": {}
      },
      "id": "b3544e24-159d-4e86-8dd0-9a88ec705e45",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3120,
        144
      ],
      "webhookId": "68f6048a-72fe-4702-8a2f-06bb9e905034",
      "credentials": {
        "smtp": {
          "id": "2KuXmj6ZAw4UDJMm",
          "name": "SMTP for Public@coros.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4a1087d0-df63-4556-964e-d563f326976c",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "57233df7-f7b7-48db-8bae-ce7c21dafcf2",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2208,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0d0d808b-f5ed-4d97-8e47-c9d48d97b035",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e6840d9f-710e-48c3-b93a-94853565a9ad",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1104,
        288
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "53b03344-e8ba-48ab-b43b-f695706624a8",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        272
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "activation_records",
          "mode": "list",
          "cachedResultName": "activation_records"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "retroid",
              "value": "={{ $json.retroId }}"
            },
            {
              "column": "deactivestatus",
              "condition": "IS NULL"
            }
          ]
        },
        "options": {}
      },
      "id": "00b0ba54-200c-4803-819b-2cee82d373ac",
      "name": "查询数据库激活设备中是否有设备信息",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        944,
        288
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "uYFcNmDHkmjM6vXJ",
          "name": "pgsql.mes.coros.team"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "deactivation_records",
          "mode": "list",
          "cachedResultName": "deactivation_records"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "deletetype": "={{ $json.deleteType }}",
            "active_id": "={{ $json.ID }}",
            "deletetime": "={{ $json.deleteTime }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "active_id",
              "displayName": "active_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "deletetime",
              "displayName": "deletetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "deletetype",
              "displayName": "deletetype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "0018069e-808e-439c-b7db-70ea7cc1aa1d",
      "name": "不良表中插入不良记录",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2048,
        304
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "uYFcNmDHkmjM6vXJ",
          "name": "pgsql.mes.coros.team"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "activation_records",
          "mode": "list",
          "cachedResultName": "activation_records"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "deactivestatus": "1"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "activatetime",
              "displayName": "activatetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "clienttype_name",
              "displayName": "clienttype_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "country_code",
              "displayName": "country_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "expirestime",
              "displayName": "expirestime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "firmware_type",
              "displayName": "firmware_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ip_address",
              "displayName": "ip_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "remain_warranty_days",
              "displayName": "remain_warranty_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deactivestatus",
              "displayName": "deactivestatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retroid",
              "displayName": "retroid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "uuid",
              "displayName": "uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "d20a33e1-78eb-4aa3-b2a2-6529ba566d2c",
      "name": "激活表中标注不良记号",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2384,
        288
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "uYFcNmDHkmjM6vXJ",
          "name": "pgsql.mes.coros.team"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fdfdb3c2-2514-4ee0-bda0-49f1fef088d0",
              "name": "result",
              "value": "={{ $json.item.map((element) => {\n  if ('repeatDefective' in element) {\n    return {\n      SN: element['repeatDefective'][\"retroId\"],\n      Reason: '该设备已有删除记录',\n    };\n  }\n  if ('insertDefective' in element) {\n    return {\n      SN: element['insertDefective'][\"retroId\"],\n      Reason: '该设备删除记录插入失败',\n    };\n  }\n  if ('errActiveItem' in element) {\n    return {\n      SN: element['errActiveItem'][\"retroId\"],\n      Reason: '该设备未激活',\n    };\n  }\n  if ('insertActive' in element) {\n    return {\n      SN: element['insertActive'][\"retroId\"],\n      Reason: '该设备的已取消激活状态打标失败',\n    };\n  }\n  return { SN: null, Reason: '上传成功' };\n});\n\n",
              "type": "array"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "085f92d1-484a-460b-a9d2-1d9dbc476e78",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        912,
        144
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "item",
        "options": {}
      },
      "id": "a5fa831e-8232-4d94-9280-abab0cca7a02",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        784,
        144
      ]
    },
    {
      "parameters": {
        "fromEmail": "public@coros.com",
        "toEmail": "xiongwang@coros.com",
        "subject": "[n8n warn] -  删除激活设备数据库接口调取成功-CN",
        "html": "={{ JSON.stringify($json.result) }}",
        "options": {}
      },
      "id": "f8d0db3d-cde6-4303-8317-43ae474e56f8",
      "name": "Send Email2",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1072,
        144
      ],
      "webhookId": "767271aa-7bec-4c72-a3ee-d26230649ca3",
      "credentials": {
        "smtp": {
          "id": "2KuXmj6ZAw4UDJMm",
          "name": "SMTP for Public@coros.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  errActiveItem:$('Edit Fields').all()[0].json\n};\n"
      },
      "id": "b932837e-4377-4b22-9e06-4f1aaa2bde95",
      "name": "未激活设备",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('编辑插入数据').all()"
      },
      "id": "18eb8b3e-0356-4cbd-ab58-e85657fa2446",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "var deleteTime = $('Edit Fields').all()[0].json.deleteTime\nvar deleteType = $('Edit Fields').all()[0].json.deleteType\nvar ID = $input.all()[0].json.id\nvar deletList ={\n  ID:ID,\n deleteTime:deleteTime,\n deleteType:deleteType\n}\nreturn deletList;\n"
      },
      "id": "41b12109-c0ed-47b5-a47d-f2332e552fa1",
      "name": "编辑插入数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67ca0638-7d43-4e42-95d7-44f166fec173",
              "name": "retroId",
              "value": "={{ $json.retroId }}",
              "type": "string"
            },
            {
              "id": "0694f93b-32a4-4d0f-b0f4-7cc2f413b1b7",
              "name": "deleteTime",
              "value": "={{ $json.deleteTime }}",
              "type": "string"
            },
            {
              "id": "e296ea8a-d09b-4429-ad11-4ef7c5f5c6a7",
              "name": "deleteType",
              "value": "={{ $json.deleteType }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "87f785d4-cef2-4416-a484-1f52fcd0478f",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        832,
        -320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4a1087d0-df63-4556-964e-d563f326976c",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "01caa6fb-63e7-4f1d-9cd0-53484a7d3da6",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2672,
        -320
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "deactivation_records",
          "mode": "list",
          "cachedResultName": "deactivation_records"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "active_id",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "79a5450c-5c15-4480-9aea-5906848070ce",
      "name": "查询删除表中是否有该数据1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1520,
        -304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "uYFcNmDHkmjM6vXJ",
          "name": "pgsql.mes.coros.team"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4a1087d0-df63-4556-964e-d563f326976c",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2c01e2d6-f028-46db-9862-bd6c3c22f6d2",
      "name": "If5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1744,
        -304
      ]
    },
    {
      "parameters": {
        "fromEmail": "public@coros.com",
        "toEmail": "xiongwang@coros.com",
        "subject": "[n8n warn] -  删除激活设备数据库接口调取失败-EU",
        "html": "={{ $json.ActiveID }}",
        "options": {}
      },
      "id": "6ba7f86e-1d9f-45b6-9842-c19373bec643",
      "name": "Send Email3",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3168,
        -176
      ],
      "webhookId": "619f5348-8f81-4983-8dd3-64d86ff4facc",
      "credentials": {
        "smtp": {
          "id": "2KuXmj6ZAw4UDJMm",
          "name": "SMTP for Public@coros.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4a1087d0-df63-4556-964e-d563f326976c",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "06c81759-0c65-471a-a203-68d2b781d6e9",
      "name": "If6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2272,
        -304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0d0d808b-f5ed-4d97-8e47-c9d48d97b035",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fa5b8947-ea87-4ad4-a9de-06c70e4f1277",
      "name": "If7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1168,
        -320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b41c0be8-4463-46ee-9381-c9accc17b887",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        -320
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "activation_records",
          "mode": "list",
          "cachedResultName": "activation_records"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "retroid",
              "value": "={{ $json.retroId }}"
            },
            {
              "column": "deactivestatus",
              "condition": "IS NULL"
            }
          ]
        },
        "options": {}
      },
      "id": "9e6580e3-d52a-4823-8aa8-85befe074596",
      "name": "查询数据库激活设备中是否有设备信息1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1008,
        -320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "uYFcNmDHkmjM6vXJ",
          "name": "pgsql.mes.coros.team"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "deactivation_records",
          "mode": "list",
          "cachedResultName": "deactivation_records"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "deletetype": "={{ $json.deleteType }}",
            "active_id": "={{ $json.ID }}",
            "deletetime": "={{ $json.deleteTime }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "active_id",
              "displayName": "active_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "deletetime",
              "displayName": "deletetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "deletetype",
              "displayName": "deletetype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "16016839-6df7-4e8e-86e8-c955de8bfd6c",
      "name": "不良表中插入不良记录1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2112,
        -304
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "uYFcNmDHkmjM6vXJ",
          "name": "pgsql.mes.coros.team"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "activation_records",
          "mode": "list",
          "cachedResultName": "activation_records"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "deactivestatus": "1"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "activatetime",
              "displayName": "activatetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "clienttype_name",
              "displayName": "clienttype_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "country_code",
              "displayName": "country_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "expirestime",
              "displayName": "expirestime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "firmware_type",
              "displayName": "firmware_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ip_address",
              "displayName": "ip_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "remain_warranty_days",
              "displayName": "remain_warranty_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deactivestatus",
              "displayName": "deactivestatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retroid",
              "displayName": "retroid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "uuid",
              "displayName": "uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "e4bde172-f244-4bbf-a717-d7114fbdfd4a",
      "name": "激活表中标注不良记号1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2448,
        -320
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "uYFcNmDHkmjM6vXJ",
          "name": "pgsql.mes.coros.team"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fdfdb3c2-2514-4ee0-bda0-49f1fef088d0",
              "name": "result",
              "value": "={{ $json.item.map((element) => {\n  if ('repeatDefective' in element) {\n    return {\n      SN: element['repeatDefective'][\"retroId\"],\n      Reason: '该设备已有删除记录',\n    };\n  }\n  if ('insertDefective' in element) {\n    return {\n      SN: element['insertDefective'][\"retroId\"],\n      Reason: '该设备删除记录插入失败',\n    };\n  }\n  if ('errActiveItem' in element) {\n    return {\n      SN: element['errActiveItem'][\"retroId\"],\n      Reason: '该设备未激活',\n    };\n  }\n  if ('insertActive' in element) {\n    return {\n      SN: element['insertActive'][\"retroId\"],\n      Reason: '该设备的已取消激活状态打标失败',\n    };\n  }\n  return { SN: null, Reason: '上传成功' };\n});\n\n",
              "type": "array"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "350ee9e0-1c74-42bb-8faa-1a2f05e90f40",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        960,
        -496
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "item",
        "options": {}
      },
      "id": "5d5c7656-7b1b-44d4-ae3d-9b4e1bbbb1c8",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        800,
        -496
      ]
    },
    {
      "parameters": {
        "fromEmail": "public@coros.com",
        "toEmail": "xiongwang@coros.com",
        "subject": "[n8n warn] -  删除激活设备数据库接口调取成功-EU",
        "html": "={{ JSON.stringify($json.result) }}",
        "options": {}
      },
      "id": "265ea447-55e9-4c30-813e-ae55508d2aa1",
      "name": "Send Email4",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1104,
        -496
      ],
      "webhookId": "c35d86c9-8ad0-403e-b95e-e0c4c673996b",
      "credentials": {
        "smtp": {
          "id": "2KuXmj6ZAw4UDJMm",
          "name": "SMTP for Public@coros.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  errActiveItem:$('Edit Fields1').all()[0].json\n};\n"
      },
      "id": "1e8c42a7-5268-45d0-92e5-66b1abad4d23",
      "name": "未激活设备1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  repeatDefective:$('Edit Fields1').all()[0].json\n};"
      },
      "id": "62271c9d-4c5f-4427-9d33-d4d65382c941",
      "name": "重复不良记录1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        -144
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  insertDefective:$('Edit Fields1').all()[0].json\n};"
      },
      "id": "e58bcde2-ec80-4c40-ad68-98e0e4087287",
      "name": "不良记录插入失败1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  insertActive:$('Edit Fields1').all()[0].json\n};"
      },
      "id": "a3418b33-b846-4b4d-951b-b4daeeb7e263",
      "name": "不良状态更改失败1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        -176
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('编辑插入数据1').all()"
      },
      "id": "893b81b1-00b9-4e43-87e8-3e0ec8719175",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -320
      ]
    },
    {
      "parameters": {
        "jsCode": "var deleteTime = $('Edit Fields1').all()[0].json.deleteTime\nvar deleteType = $('Edit Fields1').all()[0].json.deleteType\nvar ID = $input.all()[0].json.id\nvar deletList ={\n  ID:ID,\n deleteTime:deleteTime,\n deleteType:deleteType\n}\nreturn deletList;\n"
      },
      "id": "526219ee-addd-44ac-a40f-e347e75c4a4d",
      "name": "编辑插入数据1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67ca0638-7d43-4e42-95d7-44f166fec173",
              "name": "retroId",
              "value": "={{ $json.retroId }}",
              "type": "string"
            },
            {
              "id": "0694f93b-32a4-4d0f-b0f4-7cc2f413b1b7",
              "name": "deleteTime",
              "value": "={{ $json.deleteTime }}",
              "type": "string"
            },
            {
              "id": "e296ea8a-d09b-4429-ad11-4ef7c5f5c6a7",
              "name": "deleteType",
              "value": "={{ $json.deleteType }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "491a3ef9-ccd2-4244-be25-c9fedcc5057d",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        864,
        -864
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4a1087d0-df63-4556-964e-d563f326976c",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bd3f893c-1b71-4034-abd9-20de82c52eba",
      "name": "If8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2672,
        -864
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "deactivation_records",
          "mode": "list",
          "cachedResultName": "deactivation_records"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "active_id",
              "value": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fe8596e6-8408-4bf0-8b06-e6582ccb43ee",
      "name": "查询删除表中是否有该数据2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1520,
        -848
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "uYFcNmDHkmjM6vXJ",
          "name": "pgsql.mes.coros.team"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4a1087d0-df63-4556-964e-d563f326976c",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ebe057a8-0fe6-4156-b09f-e22c4b5dea01",
      "name": "If9",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1744,
        -848
      ]
    },
    {
      "parameters": {
        "fromEmail": "public@coros.com",
        "toEmail": "xiongwang@coros.com",
        "subject": "[n8n warn] -  删除激活设备数据库接口调取失败-US",
        "html": "={{ $json.ActiveID }}",
        "options": {}
      },
      "id": "2e36af58-4ddf-4520-855f-a1b903cd7f80",
      "name": "Send Email5",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3152,
        -800
      ],
      "webhookId": "929c22ee-5737-4174-a577-e18d117e5971",
      "credentials": {
        "smtp": {
          "id": "2KuXmj6ZAw4UDJMm",
          "name": "SMTP for Public@coros.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4a1087d0-df63-4556-964e-d563f326976c",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7f0f40ee-e0dc-4af5-beb3-1142982a4776",
      "name": "If10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2272,
        -848
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0d0d808b-f5ed-4d97-8e47-c9d48d97b035",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c5044dd3-6772-4cbf-9c2e-8db141d3cbbc",
      "name": "If11",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1168,
        -864
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8d9f338b-1c3f-4ec5-aa66-ca3bb53321ea",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        -880
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "activation_records",
          "mode": "list",
          "cachedResultName": "activation_records"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "retroid",
              "value": "={{ $json.retroId }}"
            },
            {
              "column": "deactivestatus",
              "condition": "IS NULL"
            }
          ]
        },
        "options": {}
      },
      "id": "0a42f496-2b02-485b-8c3e-4e494c4bd486",
      "name": "查询数据库激活设备中是否有设备信息2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1008,
        -864
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "uYFcNmDHkmjM6vXJ",
          "name": "pgsql.mes.coros.team"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "deactivation_records",
          "mode": "list",
          "cachedResultName": "deactivation_records"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "deletetype": "={{ $json.deleteType }}",
            "active_id": "={{ $json.ID }}",
            "deletetime": "={{ $json.deleteTime }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "active_id",
              "displayName": "active_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "deletetime",
              "displayName": "deletetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "deletetype",
              "displayName": "deletetype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "4b86df52-0f30-468e-8f08-b4c3aedc8945",
      "name": "不良表中插入不良记录2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2112,
        -848
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "uYFcNmDHkmjM6vXJ",
          "name": "pgsql.mes.coros.team"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "activation_records",
          "mode": "list",
          "cachedResultName": "activation_records"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "deactivestatus": "1"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "activatetime",
              "displayName": "activatetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "clienttype_name",
              "displayName": "clienttype_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "country_code",
              "displayName": "country_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "expirestime",
              "displayName": "expirestime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "firmware_type",
              "displayName": "firmware_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ip_address",
              "displayName": "ip_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "remain_warranty_days",
              "displayName": "remain_warranty_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deactivestatus",
              "displayName": "deactivestatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retroid",
              "displayName": "retroid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "uuid",
              "displayName": "uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "da574df0-c570-40d4-a47e-7df341839c2a",
      "name": "激活表中标注不良记号2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2448,
        -864
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "uYFcNmDHkmjM6vXJ",
          "name": "pgsql.mes.coros.team"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fdfdb3c2-2514-4ee0-bda0-49f1fef088d0",
              "name": "result",
              "value": "={{ $json.item.map((element) => {\n  if ('repeatDefective' in element) {\n    return {\n      SN: element['repeatDefective'][\"retroId\"],\n      Reason: '该设备已有删除记录',\n    };\n  }\n  if ('insertDefective' in element) {\n    return {\n      SN: element['insertDefective'][\"retroId\"],\n      Reason: '该设备删除记录插入失败',\n    };\n  }\n  if ('errActiveItem' in element) {\n    return {\n      SN: element['errActiveItem'][\"retroId\"],\n      Reason: '该设备未激活',\n    };\n  }\n  if ('insertActive' in element) {\n    return {\n      SN: element['insertActive'][\"retroId\"],\n      Reason: '该设备的已取消激活状态打标失败',\n    };\n  }\n  return { SN: null, Reason: '上传成功' };\n});\n\n",
              "type": "array"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "88077a03-8b7b-4796-9df6-859b03b1e6c9",
      "name": "Edit Fields6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1024,
        -1008
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "item",
        "options": {}
      },
      "id": "90de1245-7c73-45bc-9761-6fedae219823",
      "name": "Aggregate2",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        864,
        -1008
      ]
    },
    {
      "parameters": {
        "fromEmail": "public@coros.com",
        "toEmail": "xiongwang@coros.com",
        "subject": "[n8n warn] -  删除激活设备数据库接口调取成功-US",
        "html": "={{ JSON.stringify($json.result) }}",
        "options": {}
      },
      "id": "d646d84f-b8e8-4142-8701-1af2cc3a763f",
      "name": "Send Email6",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1168,
        -1008
      ],
      "webhookId": "eb61eacd-a1aa-4ee6-a5d4-b0fb540f921e",
      "credentials": {
        "smtp": {
          "id": "2KuXmj6ZAw4UDJMm",
          "name": "SMTP for Public@coros.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  errActiveItem:$('Edit Fields2').all()[0].json\n};\n"
      },
      "id": "646892a2-c494-4a44-af86-1fbb33386c9b",
      "name": "未激活设备2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -688
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  repeatDefective:$('Edit Fields2').all()[0].json\n};"
      },
      "id": "56f672d3-341d-4463-a516-e9385b5182b4",
      "name": "重复不良记录2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        -800
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  insertDefective:$('Edit Fields2').all()[0].json\n};"
      },
      "id": "d2f900ef-2cc4-47ac-aef2-c635cef6c4ef",
      "name": "不良记录插入失败2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        -800
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  insertActive:$('Edit Fields2').all()[0].json\n};"
      },
      "id": "37825f86-5b74-41f7-962f-db0d2d533fce",
      "name": "不良状态更改失败2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        -784
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('编辑插入数据2').all()"
      },
      "id": "314940b9-a063-42f7-8a68-73befe27b5ec",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -864
      ]
    },
    {
      "parameters": {
        "jsCode": "var deleteTime = $('Edit Fields2').all()[0].json.deleteTime\nvar deleteType = $('Edit Fields2').all()[0].json.deleteType\nvar ID = $input.all()[0].json.id\nvar deletList ={\n  ID:ID,\n deleteTime:deleteTime,\n deleteType:deleteType\n}\nreturn deletList;\n"
      },
      "id": "f3a30430-1afe-41e9-82ad-07bf22fb799e",
      "name": "编辑插入数据2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -848
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  repeatDefective:$('Edit Fields').all()[0].json\n};"
      },
      "id": "3345a65e-e4db-4285-adfe-7d494f9c16ad",
      "name": "重复删除记录",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  insertDefective:$('Edit Fields').all()[0].json\n};"
      },
      "id": "d133c144-19bc-4d25-a4e9-5d387f4187a1",
      "name": "删除记录更新失败",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  insertActive:$('Edit Fields').all()[0].json\n};"
      },
      "id": "8c04c722-b4a9-4ee8-90e9-a1a6b944723c",
      "name": "删除状态更改失败",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        160
      ]
    }
  ],
  "connections": {
    "Date & Time": {
      "main": [
        [
          {
            "node": "日期格式转换-中国",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "日期格式转换-海外",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time3": {
      "main": [
        [
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "日期格式转换-中国": {
      "main": [
        [
          {
            "node": "国内激活设备删除记录获取",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "日期格式转换-海外": {
      "main": [
        [
          {
            "node": "欧洲正式服激活设备删除记录获取",
            "type": "main",
            "index": 0
          },
          {
            "node": "北美正式服激活设备获取",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "日期调整": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "定时触发-中国": {
      "main": [
        [
          {
            "node": "日期调整",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "定时触发-欧美": {
      "main": [
        [
          {
            "node": "Date & Time3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "欧洲正式服激活设备删除记录获取": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "国内激活设备删除记录获取": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "北美正式服激活设备获取": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "查询数据库激活设备中是否有设备信息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "删除状态更改失败",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询删除表中是否有该数据": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "重复删除记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "激活表中标注不良记号",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "删除记录更新失败",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "编辑插入数据",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "未激活设备",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询数据库激活设备中是否有设备信息": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "不良表中插入不良记录": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "激活表中标注不良记号": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Send Email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "未激活设备": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "不良表中插入不良记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "编辑插入数据": {
      "main": [
        [
          {
            "node": "查询删除表中是否有该数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "查询数据库激活设备中是否有设备信息1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "不良状态更改失败1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询删除表中是否有该数据1": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "重复不良记录1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "激活表中标注不良记号1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "不良记录插入失败1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "编辑插入数据1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "未激活设备1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询数据库激活设备中是否有设备信息1": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "不良表中插入不良记录1": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "激活表中标注不良记号1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Send Email4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "未激活设备1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "重复不良记录1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "不良记录插入失败1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "不良状态更改失败1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "不良表中插入不良记录1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "编辑插入数据1": {
      "main": [
        [
          {
            "node": "查询删除表中是否有该数据1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "查询数据库激活设备中是否有设备信息2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "不良状态更改失败2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询删除表中是否有该数据2": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "重复不良记录2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "激活表中标注不良记号2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "不良记录插入失败2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "编辑插入数据2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "未激活设备2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询数据库激活设备中是否有设备信息2": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "不良表中插入不良记录2": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "激活表中标注不良记号2": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Send Email6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "未激活设备2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "重复不良记录2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "不良记录插入失败2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "不良状态更改失败2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "不良表中插入不良记录2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "编辑插入数据2": {
      "main": [
        [
          {
            "node": "查询删除表中是否有该数据2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "重复删除记录": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "删除记录更新失败": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "删除状态更改失败": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:定时获取每日新激活机器": {
      "recurrencyRules": []
    },
    "node:定时触发-欧美": {
      "recurrencyRules": [],
      "recurrenceRules": []
    },
    "node:定时触发-中国": {
      "recurrencyRules": [],
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "定时触发-欧美": [
      {
        "json": {
          "timestamp": "2024-04-01T15:50:24.261+08:00",
          "Readable date": "April 1st 2024, 3:50:24 pm",
          "Readable time": "3:50:24 pm",
          "Day of week": "Monday",
          "Year": "2024",
          "Month": "April",
          "Day of month": "01",
          "Hour": "15",
          "Minute": "50",
          "Second": "24",
          "Timezone": "CST +08:00"
        }
      }
    ],
    "日期格式转换-海外": [
      {
        "json": {
          "startdate": "2024-04-01T00:00:00.000Z",
          "enddate": "2024-04-02T23:59:59.999Z"
        }
      }
    ],
    "定时触发-中国": [
      {
        "json": {
          "timestamp": "2024-04-25T15:05:00.008+08:00",
          "Readable date": "April 25th 2024, 3:05:00 pm",
          "Readable time": "3:05:00 pm",
          "Day of week": "Thursday",
          "Year": "2024",
          "Month": "April",
          "Day of month": "25",
          "Hour": "15",
          "Minute": "05",
          "Second": "00",
          "Timezone": "CST +08:00"
        }
      }
    ]
  },
  "versionId": "5b1a7738-43e6-4dcb-8947-2959e5ed5471",
  "activeVersionId": "5b1a7738-43e6-4dcb-8947-2959e5ed5471",
  "versionCounter": 38,
  "triggerCount": 2,
  "tags": [
    {
      "updatedAt": "2024-04-24T05:57:56.804Z",
      "createdAt": "2024-01-26T07:49:15.286Z",
      "id": "nTeYqAfpKKoeAJjH",
      "name": "品质部门应用API"
    }
  ],
  "shared": [
    {
      "updatedAt": "2024-04-18T09:45:16.537Z",
      "createdAt": "2024-04-18T09:45:16.537Z",
      "role": "workflow:owner",
      "workflowId": "Lwst1Ig6d22se0kZ",
      "projectId": "bEZCDhUuacQnl4pP",
      "project": {
        "updatedAt": "2024-05-30T17:44:47.541Z",
        "createdAt": "2024-05-30T17:44:47.541Z",
        "id": "bEZCDhUuacQnl4pP",
        "name": "Easy wang <e@mpnew.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "94775e1f-fc17-45ee-9e00-e7bc7ec06090"
      }
    },
    {
      "updatedAt": "2026-02-03T08:57:39.894Z",
      "createdAt": "2026-02-03T08:57:39.894Z",
      "role": "workflow:editor",
      "workflowId": "Lwst1Ig6d22se0kZ",
      "projectId": "hoQDqvLEbD64BkIQ",
      "project": {
        "updatedAt": "2026-01-19T07:56:25.309Z",
        "createdAt": "2026-01-19T07:50:23.327Z",
        "id": "hoQDqvLEbD64BkIQ",
        "name": "xiong Jackson <xiongwang@coros.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7433da26-6bef-4588-9d55-58679e0fbf0d"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}