raw-data/n8n-workflows/M3GIn7bTQ0Rbj3l5.json
{
  "updatedAt": "2026-01-31T07:08:35.751Z",
  "createdAt": "2024-12-03T03:16:06.127Z",
  "id": "M3GIn7bTQ0Rbj3l5",
  "name": "SNgenerate_API",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "return $('Webhook').all()[0].json"
      },
      "id": "41addc36-6963-4b9b-a1c0-237bf4da76fe",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"该SN已有重复项，请检查填写项是否正确\"\n}",
        "options": {}
      },
      "id": "a9e21332-a0b8-4155-8290-062288dcfcee",
      "name": "报错信息：重复SN",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2720,
        384
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"请填写所有必填项\"\n}",
        "options": {}
      },
      "id": "51809049-6cf5-45d4-8b15-3de4c466ba1f",
      "name": "报错信息：必填项未填",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "334a22e4-b75c-48b8-83a4-71317730f2d0",
              "leftValue": "={{ $('Webhook').item.json.query.jobordernumber }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "75cbd051-0675-4730-bcf6-b21df11f99f2",
              "leftValue": "={{ $('Webhook').item.json.query.EndSeries }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "12b56117-6522-45ce-b3af-2a4b24169760",
              "leftValue": "={{ $('Webhook').item.json.query.ProductPhase }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "abd5f9da-5df5-4d45-a169-729dd4609ea0",
              "leftValue": "={{ $('Webhook').item.json.query.BeginSeries }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "3768d341-3c65-4904-983a-ee6c4dacb379",
              "leftValue": "={{ $('Webhook').item.json.query.ProductModel }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "67cc641a-8b55-4fbd-8e55-0516f4893d38",
              "leftValue": "={{ $('Webhook').item.json.query.ProductName }}",
              "rightValue": "={{ $json.query.ProductName }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "59eccb7a-469c-42b7-b482-eada9e949d57",
              "leftValue": "={{ $('Webhook').item.json.query.joborderid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "951a0c89-b904-41ae-b9ff-3ae524b1158b",
      "name": "判断是否填写必填项",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        432,
        400
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "SNgenerate_API",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e2121a0e-6242-43b9-a35f-99ed153ffecb",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -736,
        400
      ],
      "webhookId": "d66a386a-b15b-4bb3-b5dd-ce6335d3924b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "0f9c6764-5b16-412a-9744-3e2213b17ddf",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3328c85-ad2e-4d6e-96f7-ff1613ca0e87",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        4160,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"200\",\n  \"msg\":\"生成成功\",\n  \"listid\":\"{{ $json.data.retroid_generate_id}}\"\n}",
        "options": {}
      },
      "id": "6247ee99-b93e-4a2c-9719-81600f39e522",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4656,
        80
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "retroid",
          "mode": "list",
          "cachedResultName": "retroid"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "joborder_id": "={{ $('Code').item.json.query.joborderid }}",
            "status": 1,
            "createtime": "={{ $now }}",
            "retroid_generate_id": "={{ $('插入sn生成表').item.json.retroid_generate_id }}",
            "retroid": "={{$json.sn}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "retroid_id",
              "displayName": "retroid_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "joborder_id",
              "displayName": "joborder_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "retroid_generate_id",
              "displayName": "retroid_generate_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "createtime",
              "displayName": "createtime",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "retroid",
              "displayName": "retroid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reamrk",
              "displayName": "reamrk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "05399e51-8581-48c6-ae5d-25048f287cae",
      "name": "插入sn表",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3920,
        80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "hW9OCmLkbDsCF40U",
          "name": "mes.pgsql.mes.coros.team"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "retroid_generate",
          "mode": "list",
          "cachedResultName": "retroid_generate"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "joborder_id": "={{ $json.query.joborderid }}",
            "user_id": 1,
            "machine_id": 1,
            "createtime": "={{ $now }}",
            "beginseries": "={{ $json.query.BeginSeries }}",
            "endseries": "={{ $json.query.EndSeries }}",
            "product_phase": "={{ $json.query.ProductPhase }}",
            "product_model": "={{ $json.query.ProductModel }}",
            "product_series": "={{ $json.query.ProductName.split(\"-\")[1] }}",
            "status": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "retroid_generate_id",
              "displayName": "retroid_generate_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "joborder_id",
              "displayName": "joborder_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "machine_id",
              "displayName": "machine_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_series",
              "displayName": "product_series",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_model",
              "displayName": "product_model",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_phase",
              "displayName": "product_phase",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createtime",
              "displayName": "createtime",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "beginseries",
              "displayName": "beginseries",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "endseries",
              "displayName": "endseries",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0d148ed0-4642-49b7-a74c-292685844983",
      "name": "插入sn生成表",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3392,
        64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "hW9OCmLkbDsCF40U",
          "name": "mes.pgsql.mes.coros.team"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "machine_data",
          "mode": "list",
          "cachedResultName": "machine_data"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "machine_id": 0,
            "retroid_id": "={{ $json.retroid_id }}",
            "user_id": 1,
            "data": "={{ $json }}",
            "createtime": "={{ $now }}",
            "procedure_detail_id": "={{ $json.procedure_detail_id }}",
            "history_procedure_id": "={{ $json.history_procedure_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "machine_data_id",
              "displayName": "machine_data_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "retroid_id",
              "displayName": "retroid_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "procedure_detail_id",
              "displayName": "procedure_detail_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "history_procedure_id",
              "displayName": "history_procedure_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "machine_id",
              "displayName": "machine_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "createtime",
              "displayName": "createtime",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4480,
        80
      ],
      "id": "56f00200-d334-4f84-acba-1680e0bce3c1",
      "name": "插入工序表",
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nconst result = [];\n\ninput.forEach(item => {\n  const { \n    product_series = '', \n    product_phase = '',\n    product_model = '',\n    beginseries, \n    endseries \n  } = item.json || {};\n\n  if (typeof beginseries === 'number' && typeof endseries === 'number') {\n    for (let i = beginseries; i <= endseries; i++) {\n      // 1. 处理前缀部分（3位 = 1位系列 + 2位型号）\n      const seriesStr = String(product_series).trim();\n      const modelStr = String(product_model).padStart(2, '0').trim(); // 补零到2位\n      const prefix = `${seriesStr}${modelStr}`.substring(0, 3); // 确保总长3位\n\n      // 2. 处理阶段码（2位）\n      const phaseStr = String(product_phase).trim();\n      const phasePart = phaseStr.padEnd(2, 'Y').substring(0, 2);\n\n      // 3. 生成基础序列号（格式: 前缀3 + 阶段码2 + 数字5）\n      let sn = `${prefix}${phasePart}${String(i).padStart(5, '0')}`;\n\n      // 4. 强制第4位为字母（索引3）\n      if (!/[A-Za-z]/.test(sn[3])) {\n        throw new Error(`第4位必须是字母，当前值: ${sn[3]} (完整SN: ${sn})`);\n      }\n\n      // 5. 截断确保10位\n      sn = sn.substring(0, 10);\n      result.push({ json: { sn } });\n    }\n  } else {\n    console.error(\"Invalid beginseries or endseries:\", beginseries, endseries);\n  }\n});\n\nreturn result;"
      },
      "id": "972f19be-d8e7-42a1-8ba5-dc6d129d9034",
      "name": "生成sn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        64
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return $('Webhook').all()[0].json"
      },
      "id": "ce918f70-5128-4d73-800b-a628775b94ef",
      "name": "返回原始数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        272
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1696,
        256
      ],
      "id": "50ede808-1129-4a0b-8487-2a1a924da816",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c25112fa-ae5f-4533-b792-27cf04d36c80",
              "leftValue": "={{ $json.nonEmptyCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "df73fb61-a2c1-48c5-952b-81bb8e1545b3",
      "name": "判断SN是否重复",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        2208,
        256
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1824,
        256
      ],
      "id": "0678c703-5935-4fed-bd31-e2086b00d6e2",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// 从 Execute Workflow 节点中提取所有数据。假设这里只有一个执行输出，且数据符合描述\nconst executeWorkflowData = $('查询工序').all().reduce((acc, item) => {\n  if (Array.isArray(item.json.data)) {\n    acc.push(...item.json.data);\n  }\n  return acc;\n}, []);\n\n// 从所有输入获得数据\nconst inputData = $input.all();\n\n// 假定 executeWorkflowData 中的数据是可以映射到 inputData 的\nconst enhancedResults = inputData.map(inputItem => {\n  const inputJson = inputItem.json;\n  const bind_id = inputItem.json.retroid\n\n  // 获取 Execute Workflow 数据中的第一个 entry 的 procedure_detail_id 和 history_procedure_id\n  // 这是基于你给定的结构，确保这是你想要的对应关系。\n  const procedureData = executeWorkflowData.find(item => item.procedure_detail_id !== undefined);\n\n  if (procedureData) {\n    // 将需要的字段合并到输入的元素中\n    return {\n      json: {\n        ...inputJson,\n        procedure_detail_id: procedureData.procedure_detail_id,\n        history_procedure_id: procedureData.history_procedure_id,\n        bind_id:bind_id\n      }\n    };\n  }\n\n  // 如果没有找到匹配的，返回未修改的 item\n  return { \n    json: {\n            ...inputJson,\n            bind_id:bind_id    \n          } \n         };\n});\n\n// 输出最终合并的结果\nreturn enhancedResults;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4320,
        80
      ],
      "id": "977e4663-6670-4e9f-91d8-cb7b987c0b00",
      "name": "Code2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"数据库报错\"\n}",
        "options": {}
      },
      "id": "2c08cf22-e3ab-40d1-a502-1f80d78637ff",
      "name": "报错信息：数据库报错",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4224,
        768
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d85ff6d8-fdf1-485f-b64b-2aae14f06d94",
              "leftValue": "={{ $json.sn.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3760,
        80
      ],
      "id": "a3953a14-9958-431d-a479-0f73898f3a62",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"SN生成开始序列和结束序列区间重叠，请重新输入\"\n}",
        "options": {}
      },
      "id": "607f9566-1ad2-44a7-aa06-675b308e8b7a",
      "name": "sn生成区间重复",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3344,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"SN生成异常，请联系IT\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3920,
        304
      ],
      "id": "aa67012f-099f-4310-b9ad-edeeb824f603",
      "name": "sn生成异常"
    },
    {
      "parameters": {
        "jsCode": "// 获取上一个节点的数据\nconst inputData = $('Webhook').all();\n\n// 处理每个 item\nreturn inputData.map(item => {\n  const productName = item.json.query.ProductName;\n  const productModel = item.json.query.ProductModel;\n\n  // 获取 ProductName 的最后一个字符\n  const lastChar = productName.slice(-1);\n\n  // 拼接结果\n  const combinedValue = lastChar + productModel;\n\n  // 返回新的数据（可以新增字段或覆盖原有字段）\n  return {\n   \n    query: {\n      ...item.json.query, // 保留原始 query 数据\n      combinedValue, // 新增字段\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        400
      ],
      "id": "804efad5-6387-454e-b1b0-f61c0ec506e0",
      "name": "Code3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc991424-d72c-4bab-b3f6-7dae94317b60",
              "leftValue": "={{ $json.value }}",
              "rightValue": "={{ $('Code3').item.json.query.combinedValue }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        272,
        400
      ],
      "id": "4c7668a0-c5d5-4863-9743-ec28b5020008",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from mes.joborder j \nwhere j.joborder_id ='{{ $('Webhook').item.json.query.joborderid }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1024,
        288
      ],
      "id": "abf232aa-e691-4277-aaef-2f3b247af9e3",
      "name": "判断该工单是否冻结（并发情况引起）",
      "credentials": {
        "postgres": {
          "id": "4jSeve9X8u4zjkBA",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"并发影响，该工单为旧工单已冻结，请刷新浏览器后重试\"\n}",
        "options": {}
      },
      "id": "28c81ccb-7ae3-48ff-bfa1-97f05d157097",
      "name": "报错信息：该工单已冻结",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1328,
        608
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"该工单的产品类型和生产sn选择的产品类型不同，请确认后重新生成\"\n}",
        "options": {}
      },
      "id": "a6419c4f-4e5a-4545-91c0-eb81a526ca41",
      "name": "工单的产品类型和生产sn不一致",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        576
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"工艺流程不包含这道工序\"\n}",
        "options": {}
      },
      "id": "e2b9f8d9-95ee-4039-868e-48b4ee15b52b",
      "name": "工艺流程不包含该工序",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -176,
        608
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iipMI3IDY4ryTUpO",
          "mode": "list",
          "cachedResultName": "1.Mes重构 — 工序查询通用接口"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -576,
        400
      ],
      "id": "d54e628e-ba8a-40c2-ac5c-5493247c784c",
      "name": "查询工序"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5182b19f-45fe-45f9-9b76-25ec8b61f5a0",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -384,
        400
      ],
      "id": "34dcadbc-8b6e-4e3c-ad99-25ed8a313cf4",
      "name": "判断工序是否存在"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select pm.product_model_name from mes.joborder j \njoin mes.product_info pi2 on j.product_id = pi2.product_id\njoin mes.product_model pm on pm.product_model_id = pi2.product_model_id\nwhere j.joborder_id = {{ $('Webhook').item.json.query.joborderid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -48,
        400
      ],
      "id": "08d0fd19-a302-4150-8267-485fc74d0548",
      "name": "查询产品型号",
      "credentials": {
        "postgres": {
          "id": "4jSeve9X8u4zjkBA",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Define your key-value mapping (left is key, right is value)\nconst keyValueMap = {\n  \"M1D\": \"M04\",\n  \"B20\": \"B20\",\n  \"B21\": \"B21\",\n  \"B18\": \"M18\",\n  \"B19S\": \"V09\",\n  \"W331\": \"W31\",\n  \"W332\": \"W32\",\n  \"B15D\": \"B05\",\n  \"FD05\": \"F05\",\n  \"HR31\": \"H31\",\n  \"BY01\": \"C01\",\n  \"BY02\": \"B02\",\n  \"FD02\": \"F02\",\n  \"FD03\": \"F03\",\n  \"W942\": \"W92\",\n  \"S501\": \"S51\",\n  \"W541\": \"W51\",\n  \"W542\": \"W52\",\n  \"R4\": \"W35\",\n  \"W335\": \"W35\",\n  \"W336\":\"W36\",\n  \"W337\":\"W37\"\n};\n\n// Get the incoming data\nconst items = $input.all();\n\n// Process each item\nconst results = items.map(item => {\n  //const snValue = item.json.body.sn;\n const key = item.json.product_model_name; // 假设这是 key\n  const value = keyValueMap[key]; // 根据 key 获取 value\n  \n  // Return the matched key (or null if not found)\n  return {\n   \n    value: value || null\n  };\n});\n\n// Return the processed results\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        400
      ],
      "id": "9846e685-96b4-4d01-9698-8c7b5407f871",
      "name": "检查机型是否准确"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "562a8228-d580-4f90-b10c-7561ad1dc637",
              "leftValue": "={{ $json.status }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        288
      ],
      "id": "cb8af5eb-e50a-4877-80d7-b6d417250ca0",
      "name": "判断工单是否冻结"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM YFConsumer.dbo.consm_baselinegenerate\nWHERE ProductName = '{{ $json.query.ProductName }}'\n  AND ProductModel = '{{ $json.query.ProductModel }}'\n  AND ProductPhase = '{{ $json.query.ProductPhase }}'\n  AND CAST(BeginSeries AS INT) <={{ $json.query.BeginSeries }}   -- 转为数字\n  AND CAST(EndSeries AS INT) >={{ $json.query.EndSeries }} ;   -- 转为数字\n"
      },
      "id": "727f7232-8bdb-4574-8349-e6c73ffe64cc",
      "name": "查询是否存在SN（老mes)",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1424,
        256
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "sXlTCwIbf42MUs4H",
          "name": "MES_SQL_SERVER"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "retroid_generate",
          "mode": "list",
          "cachedResultName": "retroid_generate"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "product_phase",
              "value": "={{ $json.query.ProductPhase}}"
            },
            {
              "column": "product_model",
              "value": "={{ $json.query.ProductModel }}"
            },
            {
              "column": "product_series",
              "value": "={{ $json.query.ProductName.split(\"-\")[1] }}"
            },
            {
              "column": "beginseries",
              "value": "={{ $json.query.BeginSeries }}"
            },
            {
              "column": "endseries",
              "value": "={{ $json.query.EndSeries }}"
            },
            {
              "column": "status",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1504,
        464
      ],
      "id": "ae9038bc-f46d-435f-95c0-858365b218a7",
      "name": "查询是否存在SN（新mes)",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $json.data;\nconst nonEmptyItems = items.filter(item => Object.keys(item).length > 0);\n\nreturn [{ json: { nonEmptyCount: nonEmptyItems.length } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        256
      ],
      "id": "34818161-4748-4c6b-b5c2-9e8a9d16eb54",
      "name": "查询是否存在过相同的retroid_generate"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "retroid_generate",
          "mode": "list",
          "cachedResultName": "retroid_generate"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "product_phase",
              "value": "={{ $('Webhook').item.json.query.ProductPhase }}"
            },
            {
              "column": "product_model",
              "value": "={{ $('Webhook').item.json.query.ProductModel }}"
            },
            {
              "column": "product_series",
              "value": "={{ $('Webhook').item.json.query.ProductName.split(\"-\")[1] }}"
            },
            {
              "column": "status",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2464,
        144
      ],
      "id": "1b494103-fd3b-4339-917c-0c9265c1a391",
      "name": "查询是否存在重复区间",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const existingIntervals = items.map(item => {\n    // 兼容两种数据结构：优先取data内的值，没有则取顶层值\n    const data = item.json.data || item.json;\n    return {\n      start: parseInt(data.beginseries, 10),  // 转换为数字\n      end: parseInt(data.endseries, 10)      // 转换为数字\n    };\n  });\n\n// 获取输入的区间（兼容字符串转数字）\n  const inputData = $('Webhook').first().json.query\n  const newInterval = {\n    start: parseInt(inputData.BeginSeries, 10),\n    end: parseInt(inputData.EndSeries, 10)\n  };\n\n\n// 优化后的重叠检测函数\n  const findOverlaps = (existing, newInt) => {\n    const overlaps = [];\n    \n    // 验证输入区间有效性\n    if (isNaN(newInt.start) || isNaN(newInt.end)) {\n      throw new Error(\"区间值必须是数字\");\n    }\n    if (newInt.start > newInt.end) {\n      throw new Error(`非法区间：起始值(${newInt.start})不能大于结束值(${newInt.end})`);\n    }\n  \n    existing.forEach(item => {\n      const overlapStart = Math.max(item.start, newInt.start);\n      const overlapEnd = Math.min(item.end, newInt.end);\n      \n      if (overlapStart <= overlapEnd) {\n        overlaps.push({\n          existingInterval: `${item.start}-${item.end}`,\n          overlapPart: `${overlapStart}-${overlapEnd}`,\n          conflict: true,\n          overlapLength: overlapEnd - overlapStart + 1\n        });\n      }\n    });\n  \n    return overlaps.length > 0 ? overlaps : [{ \n      conflict: false,\n      message: \"新区间与现有区间无冲突\" \n    }];\n  };\n  \n  // 执行检测\n  const result = findOverlaps(existingIntervals, newInterval);\n  \n  // 构建返回结果\n  return [{\n    json: {\n      newInterval: `${newInterval.start}-${newInterval.end}`,\n      overlaps: result,\n      hasConflict: result[0].conflict,\n      checkedIntervalCount: existingIntervals.length,\n      // 调试信息（可选）\n      //debug: {\n        //receivedData: items.map(item => //item.json),\n       // normalizedIntervals: //existingIntervals\n     // }\n    },\n    pairedItem: items.map(item => item.pairedItem)\n  }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        112
      ],
      "id": "25380212-4671-4bc7-8dc4-8ea784ec4d10",
      "name": "构建数据"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "043fe95a-3912-4a35-940d-45d7cc1962cb",
              "leftValue": "={{ $json.hasConflict }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2912,
        128
      ],
      "id": "51bd6d66-5306-4166-abdb-7e71d86ff782",
      "name": "判断是否存在重复区间"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    jo.joborder_id,\n    COUNT(r.retroid_id) AS retroid_count,\n    jo.product_quantity\nFROM \n    mes.joborder jo\nLEFT JOIN \n    mes.retroid r ON jo.joborder_id = r.joborder_id AND r.status <> 3\nWHERE \n    jo.joborder_id = {{ $('Webhook').item.json.query.joborderid }}\nGROUP BY \n    jo.joborder_id, jo.product_quantity;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        416
      ],
      "id": "1537b372-023f-427a-b62a-ab5f1c03866c",
      "name": "查询生成sn是否超过工单数量",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// 获取Webhook节点中的数据\nconst webhookQueryData = $('Webhook').first().json.query;\n\n// 输入的数据\nconst inputData = $input.all();\n\n// 判断输入数据是否为空对象，并设置默认值\nconst firstInputItem = inputData.length > 0 && Object.keys(inputData[0]).length > 0 ? inputData[0] : {\n  json: {\n    retroid_count: \"0\",\n    product_quantity: 0\n  }\n};\n\n// 从firstInputItem中获取json对象\nconst inputJson = firstInputItem.json || {};\n\n// 计算generate_quantity\nconst generateQuantity = parseInt(webhookQueryData.EndSeries, 10) - parseInt(webhookQueryData.BeginSeries, 10) + 1; // +1 是因为系列是包括在内的\n\n// 计算total数量，确保retroid_count是数值\nconst retroidCount = parseInt(inputJson.retroid_count || \"0\", 10);\nconst totalQuantity = retroidCount + generateQuantity;\n\n// 合并结果并以数组形式返回\nconst resultArray = [\n  {\n    retroid_count: inputJson.retroid_count || \"0\",\n    product_quantity: inputJson.product_quantity || 0,\n    generate_quantity: generateQuantity,\n    total: totalQuantity\n  }\n];\n\nreturn resultArray;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        320
      ],
      "id": "8981f562-506c-4578-a718-843469376267",
      "name": "查询生成sn数量是否合理"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "65d3ccf4-7be8-4502-8f65-36290a8970d5",
              "leftValue": "={{ $json.total }}",
              "rightValue": "={{ $json.product_quantity }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        320
      ],
      "id": "33bfe526-54b8-44e6-8268-61b57c78b570",
      "name": "判断生成数量是否合理"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"该工单生成的sn数量已超出工单数量，请删除失效sn\"\n}",
        "options": {}
      },
      "id": "896636fe-2c92-49c8-9016-289589614732",
      "name": "报错信息：该工单生成的sn数量已超出工单数量",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        736
      ]
    }
  ],
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "插入sn生成表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否填写必填项": {
      "main": [
        [
          {
            "node": "查询生成sn是否超过工单数量",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：必填项未填",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "查询工序",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "插入sn表": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：数据库报错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "插入sn生成表": {
      "main": [
        [
          {
            "node": "生成sn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：数据库报错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "插入工序表": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成sn": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "返回原始数据": {
      "main": [
        [
          {
            "node": "查询是否存在SN（老mes)",
            "type": "main",
            "index": 0
          },
          {
            "node": "查询是否存在SN（新mes)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断SN是否重复": {
      "main": [
        [
          {
            "node": "查询是否存在重复区间",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：重复SN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "查询是否存在过相同的retroid_generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "插入工序表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "插入sn表",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sn生成异常",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "查询产品型号",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "判断是否填写必填项",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "工单的产品类型和生产sn不一致",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断该工单是否冻结（并发情况引起）": {
      "main": [
        [
          {
            "node": "判断工单是否冻结",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询工序": {
      "main": [
        [
          {
            "node": "判断工序是否存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断工序是否存在": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "工艺流程不包含该工序",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询产品型号": {
      "main": [
        [
          {
            "node": "检查机型是否准确",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查机型是否准确": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断工单是否冻结": {
      "main": [
        [
          {
            "node": "返回原始数据",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：该工单已冻结",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询是否存在SN（老mes)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：数据库报错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询是否存在SN（新mes)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "报错信息：数据库报错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询是否存在过相同的retroid_generate": {
      "main": [
        [
          {
            "node": "判断SN是否重复",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询是否存在重复区间": {
      "main": [
        [
          {
            "node": "构建数据",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：数据库报错",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建数据": {
      "main": [
        [
          {
            "node": "判断是否存在重复区间",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否存在重复区间": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sn生成区间重复",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询生成sn是否超过工单数量": {
      "main": [
        [
          {
            "node": "查询生成sn数量是否合理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询生成sn数量是否合理": {
      "main": [
        [
          {
            "node": "判断生成数量是否合理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断生成数量是否合理": {
      "main": [
        [
          {
            "node": "判断该工单是否冻结（并发情况引起）",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：该工单生成的sn数量已超出工单数量",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "192.168.128.8",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "51",
            "user-agent": "ReactorNetty/1.1.8",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {
            "procedure_name": "看放大镜/SN二维码贴附",
            "EndSeries": "10038",
            "BeginSeries": "10001",
            "jobordernumber": "5000000527",
            "joborderid": "1819",
            "ProductPhase": "AE",
            "ProductModel": "37",
            "ProductName": "W331/W541/W942/W941-W"
          },
          "body": {
            "procedure_name": "看放大镜/SN二维码贴附"
          },
          "webhookUrl": "https://n8n.mes.coros.team/prod/SNgenerate_API",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "c2f156c3-5430-48bb-8d35-5b06dcdabe7d",
  "activeVersionId": "c2f156c3-5430-48bb-8d35-5b06dcdabe7d",
  "versionCounter": 40,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-04-24T05:56:58.531Z",
      "createdAt": "2025-04-24T05:56:58.531Z",
      "role": "workflow:owner",
      "workflowId": "M3GIn7bTQ0Rbj3l5",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}