raw-data/n8n-workflows/N35BVOG5eWr3Dpx4.json
{
  "updatedAt": "2025-11-19T07:43:02.849Z",
  "createdAt": "2025-07-21T08:10:40.646Z",
  "id": "N35BVOG5eWr3Dpx4",
  "name": "get_matialCode_by_sn_oversea_test",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "OMS_OVERSEA",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5072,
        480
      ],
      "id": "7d956552-a539-4ec1-82c6-e9acce6fb687",
      "name": "Webhook",
      "webhookId": "08580b8c-6392-4b80-94aa-0825d5b37fce"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\t\"CODE\": \"E\",\n\t\"MSG\": \"参数错误 # {{$json.msg}}\"\n}  ",
        "options": {}
      },
      "id": "62cc86f5-6212-416f-a273-7abe1ce2a9d4",
      "name": "参数错误",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -4592,
        704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.err }}",
              "value2": "ok"
            }
          ]
        }
      },
      "id": "b7fd2a09-cc2e-4b42-a6ca-000548cfcad2",
      "name": "判断参数是否正确",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -4784,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// 必选字符串\nlet str = function (v, l) {\n    if ((!v && typeof (v) != \"string\") || (l && v.length > l)) {\n        return true;\n    }\n}\n\n// 可选字符串\nlet strOpt = function (v, l) {\n    if (v !== undefined && (typeof (v) !== \"string\" || (l && v.length > l))) {\n        return true;\n    }\n}\n\n// 必选数字\nlet num = function (v, l) {\n    if (typeof (v) !== \"number\" || (l && String(v).length > l)) {\n        return true;\n    }\n}\n\n// 可选数字\nlet numOpt = function (v, l) {\n    if (v && (typeof (v) !== \"number\" || (l && String(v).length > l))) {\n        return true;\n    }\n}\n\n// 是否空值\nlet isEmpty = function (v) {\n    return v === undefined || v === null;\n}\n\nlet func = function (body, data) {\n    // ---校验列表\n    if (!body.snList || !Array.isArray(body.snList)) {\n        return { \"err\": \"error\", \"snList\": [] }; // 不符合规则时返回空数组\n    }\n    \n    if (body.snList.length < 1) {\n        return { \"err\": \"error\", \"msg\": \"snList error\", \"data\": body.snList };\n    }\n    \n    let snObj = {};\n    for (let i = 0; i < body.snList.length; i++) {\n        let sn = body.snList[i];\n        \n        if (typeof sn !== 'string') {\n            return { \"err\": \"error\", \"snList\": [] }; // 非字符串元素时返回空数组\n        }\n\n        sn = sn.replace(/\\r\\n/g, \"\").replace(/\\n/g, \"\").replace(/\\r/g, \"\");\n        \n        if (str(sn) || sn.length < 1) { // 合并空字符串校验\n            return { \"err\": \"error\", \"msg\": \"sn error\" };\n        }\n        if (!snObj[sn]) {\n            snObj[sn] = true;\n            data.snList = data.snList ? `${data.snList},'${sn}'` : `'${sn}'`; // 优化字符串拼接\n        }\n    }\n    return null; // 只有在没有错误的情况下才返回null，以便于后续处理\n}\n\nlet data = { snList: \"\" };\nlet err = func($input.all()[0].json.body, data);\nreturn err ? err : { \"err\": \"ok\", \"snList\": data.snList };\n"
      },
      "id": "0ff9b6a0-6acd-4fd3-a5b5-0226fdfea809",
      "name": "入参判断和提取",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4928,
        480
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM consm_barcodeinfo WHERE uuid IN ({{ $json.snList }});"
      },
      "id": "4f884435-dbca-45da-8947-6da67215a007",
      "name": "根据SN查询工单数据（旧MES）",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        -3104,
        240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "sXlTCwIbf42MUs4H",
          "name": "MES_SQL_SERVER"
        }
      },
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH RecentMachineData AS (\n    SELECT\n        md.machine_data_id,\n        md.retroid_id,\n        md.procedure_detail_id,\n        md.data,\n        ROW_NUMBER() OVER (PARTITION BY md.retroid_id ORDER BY md.createtime DESC) as rn\n    FROM\n        mes.machine_data md\n    WHERE\n        md.procedure_detail_id = '79'\n)\n\nSELECT DISTINCT\n    j.joborder_number,\n    r.retroid\nFROM\n    mes.retroid r\nJOIN\n    RecentMachineData rmd ON r.retroid_id = rmd.retroid_id AND rmd.rn = 1\nJOIN \n    mes.joborder j ON rmd.data->>'jobNumber' = j.joborder_number\nWHERE\n    r.retroid IN ({{ $json.snList }})\n  and\n    j.status = '1'\n and \n    r.status in('1','2');\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3072,
        624
      ],
      "id": "c85c0791-1763-4829-b826-9f68d0233f24",
      "name": "根据SN查询工单信息(新mes)",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "4jSeve9X8u4zjkBA",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3c295e5-f498-40ed-aa10-de8f5006fff7",
              "name": "retroid",
              "value": "={{ $json.uuid }}",
              "type": "string"
            },
            {
              "id": "86ba6f31-e55c-41d5-9b65-ea84833553aa",
              "name": "jobnumber",
              "value": "={{ $json.jobnumber2 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2816,
        208
      ],
      "id": "a5b47cdd-ecf1-4d5f-9dbe-300ed931f608",
      "name": "组装SN与工单信息（旧MES）"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3c295e5-f498-40ed-aa10-de8f5006fff7",
              "name": "retroid",
              "value": "={{ $json.retroid }}",
              "type": "string"
            },
            {
              "id": "86ba6f31-e55c-41d5-9b65-ea84833553aa",
              "name": "jobnumber",
              "value": "={{ $json.joborder_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2800,
        592
      ],
      "id": "9e3952b9-2c54-47d3-9f69-e0c9e9b1a46b",
      "name": "组装SN与工单信息（新MES）"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -2560,
        224
      ],
      "id": "332c03cd-47bd-4076-bc89-db5e8eec34d1",
      "name": "合并两个数据库查询到的工单数据信息"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1e89a301-5e23-47e1-9d1c-cb218d191bd4",
              "leftValue": "={{ $json.retroid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2352,
        224
      ],
      "id": "40a2d3be-c4f4-4c90-96f1-396e559993e1",
      "name": "移除空对象",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\t\"CODE\": \"E\",\n\t\"MSG\": \"数据库错误：{{JSON.stringify($json)}}\"\n}  ",
        "options": {}
      },
      "id": "60de2a3d-f9b1-4078-9c0a-c7d250805e95",
      "name": "数据库错误1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -2800,
        400
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "sync",
          "mode": "list",
          "cachedResultName": "sync"
        },
        "table": {
          "__rl": true,
          "value": "sap_job_info_cache",
          "mode": "list",
          "cachedResultName": "sap_job_info_cache"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "job_number",
              "condition": "LIKE",
              "value": "={{ $json.jobnumber }}%"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "job_number",
            "material_code"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1808,
        224
      ],
      "id": "6f3d8ed8-7ba2-4e15-b10f-af0389b61cef",
      "name": "从工单缓存信息中获取料号",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "4jSeve9X8u4zjkBA",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "snList",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2000,
        224
      ],
      "id": "30530bdc-eb38-49ab-a71a-8e0215ff1dfc",
      "name": "拆分snList进行料号查询"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "job_number",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -1456,
        96
      ],
      "id": "a7ff2269-1659-480d-9557-616b21cb2981",
      "name": "去除相同的工单"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id,sn,material_code,job_number from mes.sync.sn_material_code where sn in ({{ $json.snList }})",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4640,
        496
      ],
      "id": "3edbd82b-212b-4fc0-9692-3a18a190f251",
      "name": "从数据库中查询料号信息",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "4jSeve9X8u4zjkBA",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        32,
        128
      ],
      "id": "2d8c29e8-f4ea-4337-8926-c3a587790515",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3c295e5-f498-40ed-aa10-de8f5006fff7",
              "name": "retroid",
              "value": "={{ $json.sn }}",
              "type": "string"
            },
            {
              "id": "86ba6f31-e55c-41d5-9b65-ea84833553aa",
              "name": "material_code",
              "value": "={{ $json.material_code }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3344,
        4288
      ],
      "id": "a5c295a1-c82d-4d29-a8c7-31c2a2f054b8",
      "name": "组装SN与料号信息"
    },
    {
      "parameters": {
        "jsCode": "// 从输入数据中提取所有有效sn值\nconst inputData = $input.all().filter(item => item.json?.sn);\nconst snSet = new Set(inputData.map(item => item.json.sn));\n\nfunction isEmpty(obj) {\n  return !obj || Object.keys(obj).length === 0;\n}\n\nfunction shouldExcludeFromSnList(item) {\n  if (!item || isEmpty(item.json)) return true;\n  \n  const materialCode = item.json.material_code || '';\n  return materialCode.startsWith(\"TPVT\") || \n         materialCode.startsWith(\"HSW\");\n}\n\n// 获取Webhook请求中的snList\nconst webhookData = $(\"Webhook\").all();\nconst reqList = webhookData[0]?.json?.body?.snList || [];\n\nif (!reqList.length) return [];\n\nconst snNoFindList = [];\nconst snList = [];\nconst processedSNs = new Set();\n\nreqList.forEach(sn => {\n  if (!sn || processedSNs.has(sn)) return;\n  processedSNs.add(sn);\n  \n  const inputItem = inputData.find(item => item.json.sn === sn);\n  \n  if (!inputItem || shouldExcludeFromSnList(inputItem)) {\n    snNoFindList.push(sn);\n  } else {\n    snList.push(inputItem.json);\n  }\n});\n\nconst res = [];\n\nif (snNoFindList.length) {\n  res.push({ \n    snNoFindList, \n    type: \"1\" \n  });\n}\n\nif (snList.length) {\n  res.push({ \n    snList,\n    type: \"2\"\n  });\n}\n\nreturn res;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4432,
        448
      ],
      "id": "c96f8332-ad9a-40c7-b4be-27ef87aa1c24",
      "name": "过滤出存在料号的SN"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3c766bb-cee1-4482-a4fd-83c050423fe7",
              "leftValue": "={{ $json.type }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4224,
        608
      ],
      "id": "e9f9f8d3-94d5-4f85-bda7-f0c9f5402acc",
      "name": "拆分数组"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "619548c7-8321-4fcf-8bf1-68234e4d97d6",
              "leftValue": "={{ $json.snNoFindList }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4000,
        592
      ],
      "id": "430fa700-4518-43ef-9156-b6311a9fb43f",
      "name": "If"
    },
    {
      "parameters": {
        "fieldToSplitOut": "snList",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3520,
        4288
      ],
      "id": "a54e6ff9-546b-4315-bd75-265796b3b22a",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "jsCode": "//必选字符串\nlet str = function (v, l) {\n    if ((!v && typeof (v) != \"string\") || (l && v.length > l)) {\n        return true;\n    }\n}\n//可选字符串\nlet strOpt = function (v, l) {\n    if (v != undefined && (typeof (v) != \"string\" || (l && v.length > l))) {\n        return true;\n    }\n}\n//必选数字\nlet num = function (v, l) {\n    if (typeof (v) != \"number\" || (l && String(v).length > l)) {\n        return true;\n    }\n}\n//可选数字\nlet numOpt = function (v, l) {\n    if (v && (typeof (v) != \"number\" || (l && String(v).length > l))) {\n        return true;\n    }\n}\n//是否空值\nlet isEmpty = function (v) {\n    return v === undefined || v === null;\n}\nlet func = function (body, data) {\n    //---校验列表\n    if (!body.snNoFindList || !Array.isArray(body.snNoFindList) || body.snNoFindList.length < 1) {\n        return { \"err\": \"error\", \"msg\": \"snNoFindList error\", \"data\": body.snNoFindList };\n    }\n    let snObj = {};\n    for (let i = 0; i < body.snNoFindList.length; i++) {\n        let sn = body.snNoFindList[i].replace(/\\r\\n/g, \"\").replace(/\\n/g, \"\").replace(/\\r/g, \"\");\n        if (str(sn) || sn.length < 1) { // 合并空字符串校验\n            return { \"err\": \"error\", \"msg\": \"sn error\" };\n        }\n        if (!snObj[sn]) {\n            snObj[sn] = true;\n            data.snNoFindList = data.snNoFindList ? `${data.snNoFindList},'${sn}'` : `'${sn}'`; // 优化字符串拼接\n        }\n    }\n}\nlet data = {snNoFindList:\"\"}\nlet err = func($input.all()[0].json, data);\nreturn err ? err : { \"err\": \"ok\", \"snList\": data.snNoFindList };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3440,
        384
      ],
      "id": "2bcc21dd-ed20-4516-81af-cd1658be7883",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "619548c7-8321-4fcf-8bf1-68234e4d97d6",
              "leftValue": "={{ $json.snList }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4032,
        736
      ],
      "id": "65a996ed-0fa3-4632-8247-cc8c641cd7e9",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "let res = {\n  code: 2,\n  snList: []\n};\n\n// 循环处理输入的items\nfor (const item of $input.all()) {\n  if (item.json.snList) {\n    // 直接将snList合并到res.snList中\n    res.snList.push(...item.json.snList);\n  }\n}\n\nreturn [res];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        832
      ],
      "id": "6dbb0f3f-3d9c-420f-9f81-0aefd66ed3ae",
      "name": "整合SN"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "snList",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -3152,
        4288
      ],
      "id": "c1d07e9c-b4b7-4457-b20c-54e3634cd5d7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "99dfb62c-fc6d-4111-b5df-56ae3887cc96",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1632,
        224
      ],
      "id": "5b630fd3-38ad-431e-b90a-85e4b7be8f4e",
      "name": "判断该工单信息是否存在"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json:{\n    snList:$input.all(),\n    code:0\n    \n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        4688
      ],
      "id": "f2ec23a8-a3cd-4959-b52e-e3393b76b2ae",
      "name": "Code1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "24e01f53-d25a-497c-a7dd-b2dd8bb5ea90",
              "leftValue": "={{ $json.code }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1136,
        64
      ],
      "id": "a694d2bd-3c4e-4c3b-a27b-98cd6b55f320",
      "name": "判断存在工单的sn是否有料号1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\t\"CODE\": \"E\",\n\t\"MSG\": \"SN对应工单的料号不存在:{{ $json.noFindMsnList.map(item=>item.retroid).join(',') }}\"\n}",
        "options": {}
      },
      "id": "aeae5167-07c5-4b48-9378-e25a0c15915b",
      "name": "返回查询不到料号的sn1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        576,
        48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\t\"CODE\": \"S\",\n\t\"SN_MATNR\": {{JSON.stringify($json.snList.reduce((obj,item)=>{obj[item.retroid]=item.material_code; return obj},{}))}}\n}",
        "options": {}
      },
      "id": "5cd770fe-be1b-4203-86b7-ec5b3f5927a9",
      "name": "正确返回2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        592,
        288
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "sync",
          "mode": "list",
          "cachedResultName": "sync"
        },
        "table": {
          "__rl": true,
          "value": "sn_material_code",
          "mode": "list",
          "cachedResultName": "sn_material_code"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sn": "={{ $json.retroid }}",
            "material_code": "={{ $json.material_code }}",
            "job_number": "={{ $json.jobnumber }}",
            "create_time": "={{ $now.toUTC() }}"
          },
          "matchingColumns": [
            "sn"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sn",
              "displayName": "sn",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "material_code",
              "displayName": "material_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "create_time",
              "displayName": "create_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_number",
              "displayName": "job_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -720,
        448
      ],
      "id": "710e0262-92d9-4645-b765-df302e1eb6d7",
      "name": "将SN与料号的信息插入到缓存表中1",
      "credentials": {
        "postgres": {
          "id": "4jSeve9X8u4zjkBA",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "snList",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -880,
        464
      ],
      "id": "9895034e-778f-4662-9e3d-7fbb21051a14",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "24e01f53-d25a-497c-a7dd-b2dd8bb5ea90",
              "leftValue": "={{ $json.code }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        160
      ],
      "id": "6261bd6d-4b9a-4368-99be-9f6599ad321f",
      "name": "判断存在工单的sn是否有料号"
    },
    {
      "parameters": {
        "jsCode": "let result = [];\nlet code2Item = { code: 2, snList: [] };\nlet code1Item = { code: 1, noFindMsnList: [] };\n\nfor (const item of $input.all()) {\n  if (item.json.code === 2) {\n    code2Item.snList.push(...item.json.snList);\n  } else if (item.json.code === 1) {\n    code1Item.noFindMsnList.push(...item.json.noFindMsnList);\n  }\n}\n\n// 优先检查code2Item，如果它的snList有内容，就只添加code2Item\nif (code2Item.snList.length > 0) {\n  result.push(code2Item);\n} else if (code1Item.noFindMsnList.length > 0) { \n  // 只有当code2Item的snList为空时才考虑code1Item\n  result.push(code1Item);\n}\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        160
      ],
      "id": "486e5831-2158-4e29-be84-642b822c4689",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "const inputList = $input.all();\nlet code2Item = { \n  code: 2, \n  snList: [] \n};\n\n// 遍历输入列表并构建code2Item.snList\nfor (const item of inputList) {\n  code2Item.snList.push(item.json);\n}\n\n// 返回结果\nreturn [code2Item];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        224
      ],
      "id": "909801f4-f8b0-4ff9-b8e7-79f25d5f2f27",
      "name": "Code3"
    },
    {
      "parameters": {
        "jsCode": "const inputList = $(\"移除空对象\").all();\nconst additionalInfoList = $input.all();\n\n// 初始化code2Item对象\nlet code2Item = {\n  code: 2,\n  snList: []\n};\n\n// 创建一个map映射job_number到additionalInfo\nconst additionalInfoMap = new Map(\n  additionalInfoList.map(item => [item.json.job_number, item])\n);\n\n// 填充snList, 根据job_number匹配additionalInfo\nfor (const inputItem of inputList) {\n  const jobNumber = inputItem.json.jobnumber;\n  const retroid = inputItem.json.retroid;\n  const additionalInfo = additionalInfoMap.get(jobNumber);\n\n  if (additionalInfo) {\n    code2Item.snList.push({\n      retroid: retroid,\n      job_number: jobNumber,\n      material_code: additionalInfo.json.material_code\n    });\n  } else {\n    const defaultJobNumber = \"default job number\"; // 这里可用适合的默认值\n    const defaultMaterialCode = \"default material code\"; // 同上\n\n    // 添加默认项\n    code2Item.snList.push({\n      retroid: retroid,\n      job_number: defaultJobNumber,\n      material_code: defaultMaterialCode\n    });\n  }\n}\n\nreturn [code2Item];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        48
      ],
      "id": "160967ec-0da3-4fd6-b3eb-0ad975e3867d",
      "name": "将料号和sn进行组合"
    },
    {
      "parameters": {
        "jsCode": "// 获取如果节点的数据列表\nconst ifNodeData = $(\"If\").all(); // 假设这是从 if 节点获取数据的方式\nlet result = {\n  code: 1,\n  noFindMsnList: []\n};\n\n// 从数据中提取 snNoFindList\nfor (const item of ifNodeData) {\n  if (item.json.snNoFindList) {\n    // 将每个snNoFindList的元素作为retroid封装进noFindMsnList\n    item.json.snNoFindList.forEach(sn => {\n      result.noFindMsnList.push({ retroid: sn });\n    });\n  }\n}\n\n// 返回结果\nreturn [result];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        288
      ],
      "id": "180405a7-aaf0-4ec2-95f8-44593846795e",
      "name": "Code4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM consm_barcodeinfo WHERE uuid in ({{ $json.sn_list }});"
      },
      "id": "ed253c09-d7b5-4e14-b487-c57cca9532b9",
      "name": "根据SN查询工单数据（旧MES）1",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        -3616,
        704
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "sXlTCwIbf42MUs4H",
          "name": "MES_SQL_SERVER"
        }
      },
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH RecentMachineData AS (\n    SELECT\n        md.machine_data_id,\n        md.retroid_id,\n        md.procedure_detail_id,\n        md.data,\n        ROW_NUMBER() OVER (PARTITION BY md.retroid_id ORDER BY md.createtime DESC) as rn\n    FROM\n        mes.machine_data md\n    WHERE\n        md.procedure_detail_id = '79'\n)\n\nSELECT DISTINCT\n    j.joborder_number,\n    r.retroid\nFROM\n    mes.retroid r\nJOIN\n    RecentMachineData rmd ON r.retroid_id = rmd.retroid_id AND rmd.rn = 1\nJOIN \n    mes.joborder j ON rmd.data->>'jobNumber' = j.joborder_number\nWHERE\n    r.retroid in ({{ $json.sn_list }})\n  and\n    j.status = '1'\n and \n    r.status in('1','2');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3616,
        992
      ],
      "id": "8faa7a46-69c5-4cc3-b3e0-f918947c79a4",
      "name": "根据SN查询工单信息(新mes)1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "4jSeve9X8u4zjkBA",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3c295e5-f498-40ed-aa10-de8f5006fff7",
              "name": "retroid",
              "value": "={{ $json.uuid }}",
              "type": "string"
            },
            {
              "id": "86ba6f31-e55c-41d5-9b65-ea84833553aa",
              "name": "job_number",
              "value": "={{ $json.jobnumber2 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3328,
        704
      ],
      "id": "f5987076-dda4-4e72-a1ef-a2e75d6ea9fd",
      "name": "组装SN与工单信息（旧MES）1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3c295e5-f498-40ed-aa10-de8f5006fff7",
              "name": "retroid",
              "value": "={{ $json.retroid }}",
              "type": "string"
            },
            {
              "id": "86ba6f31-e55c-41d5-9b65-ea84833553aa",
              "name": "job_number",
              "value": "={{ $json.joborder_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3344,
        1008
      ],
      "id": "5b58d09f-a05f-4db3-8a17-9c284186fbcb",
      "name": "组装SN与工单信息（新MES）1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -3088,
        864
      ],
      "id": "2e153526-b09a-4aec-bb51-2f710512d93a",
      "name": "合并两个数据库查询到的工单数据信息1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1e89a301-5e23-47e1-9d1c-cb218d191bd4",
              "leftValue": "={{ $json.retroid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2928,
        864
      ],
      "id": "3950970e-7dca-4ade-a32c-48424ef71562",
      "name": "移除空对象1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f4aa3a6c-5d50-4e00-85e0-51eb216efe56",
              "leftValue": "={{ $json.resultTag }}",
              "rightValue": "tag0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2240,
        848
      ],
      "id": "3cb304c4-1eca-4c50-8e3a-3cf10775f560",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "sync",
          "mode": "list",
          "cachedResultName": "sync"
        },
        "table": {
          "__rl": true,
          "value": "sap_job_info_cache",
          "mode": "list",
          "cachedResultName": "sap_job_info_cache"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "job_number",
              "value": "={{ $json.job_number }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "job_number",
            "material_code"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1744,
        1088
      ],
      "id": "68e1de93-b223-4a85-9eb8-b4970dd39a9e",
      "name": "从工单缓存信息中获取料号1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "4jSeve9X8u4zjkBA",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "mismatchedItems",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1888,
        1088
      ],
      "id": "345e881c-bacc-4b95-bdbb-d4353d9c11c8",
      "name": "拆分snList进行料号查询1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "99dfb62c-fc6d-4111-b5df-56ae3887cc96",
              "leftValue": "={{ $json.resultTag }}",
              "rightValue": "tag1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1504,
        1856
      ],
      "id": "6240951e-f52e-4b3e-97ff-faad3ce2c1a6",
      "name": "判断该工单信息是否存在1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\t\"CODE\": \"E\",\n\t\"MSG\": \"该工单信息不存在于sap缓存，请检查sap中是否存在该工单！\"\n}",
        "options": {}
      },
      "id": "ec13b280-76f4-4a04-9155-6ca028b5559c",
      "name": "返回通过SN查询不到MES中对应的工单信息2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1232,
        1984
      ]
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "job_number",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -1376,
        1104
      ],
      "id": "870ddade-0362-4fb4-816c-7005dc50068d",
      "name": "去除相同的工单1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2560,
        848
      ],
      "id": "1d5fcc13-ec8c-4557-9272-7ae96972b521",
      "name": "合并sn对应工单号数据"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1168,
        1104
      ],
      "id": "ab591e25-7c6a-47ba-a915-3d402b8da6a5",
      "name": "合并去重完剩余工单的数据"
    },
    {
      "parameters": {
        "jsCode": "// 获取两个节点的输入数据\nconst aggregateData = $input.all()[0].json.data; // Aggregate1 节点的数据\nconst ifData = $('If1').first().json.snList;     // if1 节点的数据\n\n// 创建结果容器\nconst arrayA = []; // job_number 匹配的项\nconst arrayB = []; // job_number 不匹配的项\n\n// 创建 Aggregate1 数据的查找表（以 retroid 为键）\nconst aggregateLookup = {};\naggregateData.forEach(item => {\n    aggregateLookup[item.retroid] = item.job_number || item.jobnumber;\n});\n\n// 遍历 if1 数据并进行比较\nifData.forEach(item => {\n    const sn = item.sn;\n    const materialCode = item.material_code;\n    const ifJobNumber = item.job_number;\n    \n    // 检查是否存在于 Aggregate1 数据中\n    if (aggregateLookup.hasOwnProperty(sn)) {\n        const aggregateJobNumber = aggregateLookup[sn];\n        \n        // 比较 job_number\n        if (ifJobNumber === aggregateJobNumber) {\n            // 匹配 - 加入数组A\n            arrayA.push({\n                sn: sn,\n                material_code: materialCode\n            });\n        } else {\n            // 不匹配 - 加入数组B\n            arrayB.push({\n                sn: sn,\n                job_number: aggregateJobNumber\n            });\n        }\n    } else {\n        // 不存在于 Aggregate1 中 - 根据需求处理（这里加入数组B）\n        arrayB.push({\n            sn: sn,\n            job_number: \"Not found in Aggregate1 data\"\n        });\n    }\n});\n\n// 确定返回标签\nlet resultTag;\nif (arrayA.length > 0 && arrayB.length > 0) {\n    resultTag = \"tag1\"; // 两者都有值\n} else if (arrayA.length > 0 && arrayB.length === 0) {\n    resultTag = \"tag0\"; // 只有matchedItems有值\n} else if (arrayA.length === 0 && arrayB.length > 0) {\n    resultTag = \"tag2\"; // 只有mismatchedItems有值\n} else {\n    resultTag = \"tag3\"; // 两者都为空（根据需求可以调整）\n}\n\n// 返回结果\nreturn [\n    {\n        json: {\n            matchedItems: arrayA,    // 匹配的项\n            mismatchedItems: arrayB, // 不匹配的项\n            resultTag: resultTag     // 结果标签\n        }\n    }\n];\n//tag0代表数据全部正确，tag1代表部份sn的工单号与sap中不符合，tag2代表全部sn的工单号与sap中不符合"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        848
      ],
      "id": "89ca1899-7254-4f9c-b56e-b7d7752e4150",
      "name": "查出缓存表工单号不同的数据"
    },
    {
      "parameters": {
        "jsCode": "// 获取输入数据\nconst comparisonData =$('查出缓存表工单号不同的数据').first().json; // 包含 matchedItems 和 mismatchedItems 的数据\nconst jobData =$input.first().json.data ;  // 包含 job_number 和 material_code 的数据\n\n// 创建 job_number 到 material_code 的映射表\nconst jobMaterialMap = {};\njobData.forEach(item => {\n    jobMaterialMap[item.job_number] = item.material_code;\n});\n\n// 处理 mismatchedItems，补充 material_code\nconst processedMismatchedItems = comparisonData.mismatchedItems.map(item => {\n    const jobNumber = item.job_number;\n    return {\n        sn: item.sn,\n        job_number: jobNumber,\n        material_code: jobMaterialMap[jobNumber] || null // 如果找不到则为 null\n    };\n});\n\n// 返回结果，保留 matchedItems 不变\nreturn [{\n    json: {\n\n        rightmatchedItems: processedMismatchedItems // 补充了 material_code 的数据\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        1104
      ],
      "id": "13f93739-5d27-4323-b257-b5a4de6dedff",
      "name": "sn匹配正常工单号与物料号"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -400,
        848
      ],
      "id": "fd239e1b-94d8-4627-8ed8-93a4d35fcc1a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61ae6237-e3f3-4c84-81e3-75b81c2aac20",
              "leftValue": "={{ $json.resultTag }}",
              "rightValue": "tag1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2064,
        1024
      ],
      "id": "545f036f-350a-45a5-92eb-a8044e3f0078",
      "name": "If3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "matchedItems",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1824,
        880
      ],
      "id": "f5d69167-93d5-4a5f-9d49-d7a4e0ecf92e",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3c295e5-f498-40ed-aa10-de8f5006fff7",
              "name": "retroid",
              "value": "={{ $json.sn }}",
              "type": "string"
            },
            {
              "id": "86ba6f31-e55c-41d5-9b65-ea84833553aa",
              "name": "material_code",
              "value": "={{ $json.material_code }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1216,
        832
      ],
      "id": "9ebd5160-e99f-4f07-b1e7-73852ebf02ec",
      "name": "组装SN与料号信息1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3602c140-363d-4c51-8aec-1697fd046b42",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2752,
        864
      ],
      "id": "0755c5dc-6cfc-4541-aec4-13cfccd2b3d4",
      "name": "If4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n\t\"CODE\": \"E\",\n\t\"MSG\": \"存在SN在新旧mes找不到数据，请检查mes中SN生产信息：{{ $json.snList.join(' ') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2576,
        1088
      ],
      "id": "0c869ca5-fab9-46e5-bd4c-ddf03fb79ecc",
      "name": "存在SN在新旧mes找不到数据"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3c295e5-f498-40ed-aa10-de8f5006fff7",
              "name": "retroid",
              "value": "={{ $json.sn }}",
              "type": "string"
            },
            {
              "id": "86ba6f31-e55c-41d5-9b65-ea84833553aa",
              "name": "material_code",
              "value": "={{ $json.material_code }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        1104
      ],
      "id": "92baa64c-12db-4152-949c-f08e65dd02bf",
      "name": "组装SN与料号信息2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "snList",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -256,
        848
      ],
      "id": "a721e87c-fbeb-4662-ab11-3d987ae9ab48",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\t\"CODE\": \"E\",\n\t\"MSG\": \"数据库错误：{{JSON.stringify($json)}}\"\n}  ",
        "options": {}
      },
      "id": "27169e80-dc1c-42df-9fd5-59bcf7472933",
      "name": "数据库错误2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -3440,
        864
      ]
    },
    {
      "parameters": {
        "jsCode": "// 获取输入数据\nconst inputData = $input.all();\n\n// 提取所有 sn 值，并用单引号包裹\nconst snList = inputData\n  .flatMap(item => item.json.snList)\n  .map(entry => `'${entry.sn}'`);  // 用单引号包裹每个 sn\n\n// 返回单个 item，包含合并后的 sn 数组\nreturn [{\n  json: {\n    sn_list: snList  // 输出格式为 ['F05AA07087', 'F05AA07086', ...]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3808,
        800
      ],
      "id": "b7bc79d8-b58a-487d-88eb-366fa2102e71",
      "name": "Code5"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "sync",
          "mode": "list",
          "cachedResultName": "sync"
        },
        "table": {
          "__rl": true,
          "value": "sn_material_code",
          "mode": "list",
          "cachedResultName": "sn_material_code"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sn": "={{ $json.sn }}",
            "material_code": "={{ $json.material_code }}",
            "job_number": "={{ $json.job_number }}",
            "create_time": "={{ $now.toUTC() }}"
          },
          "matchingColumns": [
            "sn"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sn",
              "displayName": "sn",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "material_code",
              "displayName": "material_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "create_time",
              "displayName": "create_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_number",
              "displayName": "job_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -672,
        1104
      ],
      "id": "24828d79-b876-4d35-8c25-cabb4b367353",
      "name": "将SN与料号的信息插入到缓存表中",
      "credentials": {
        "postgres": {
          "id": "4jSeve9X8u4zjkBA",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "rightmatchedItems",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -864,
        1104
      ],
      "id": "208e4b3b-15f5-4d2a-a2df-b32097c2317d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// 获取两个节点的输入数据\nconst previousItems = $input.all(); // 上一个节点的所有 items\nconst comparisonData = $('查出缓存表工单号不同的数据').first().json; // 对比节点的数据\n\n// 计算有效 item 数量（过滤掉空 item）\nconst validPreviousItemCount = previousItems.filter(item => \n  item.json && Object.keys(item.json).length > 0\n).length;\n\n// 获取 mismatchedItems 的数量\nconst mismatchedCount = comparisonData.mismatchedItems?.length || 0;\n\n// 确定返回标签\nlet resultTag;\nif (mismatchedCount === 0) {\n  // 如果 mismatchedItems 为空数组，特殊处理\n  resultTag = \"tag2\";\n} else if (validPreviousItemCount === mismatchedCount) {\n  // 数量相等\n  resultTag = \"tag1\";\n} else {\n  // 数量不等或上一个节点有空 item\n  resultTag = \"tag2\";\n}\n\n// 返回结果\nreturn [{\n  json: {\n    resultTag: resultTag,\n    previousItemCount: validPreviousItemCount,\n    mismatchedItemCount: mismatchedCount\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        1888
      ],
      "id": "795a24a2-a175-44c1-bbd6-ccefa858db58",
      "name": "Code6"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "入参判断和提取",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断参数是否正确": {
      "main": [
        [
          {
            "node": "从数据库中查询料号信息",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "参数错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "入参判断和提取": {
      "main": [
        [
          {
            "node": "判断参数是否正确",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "根据SN查询工单数据（旧MES）": {
      "main": [
        [
          {
            "node": "组装SN与工单信息（旧MES）",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "根据SN查询工单信息(新mes)": {
      "main": [
        [
          {
            "node": "组装SN与工单信息（新MES）",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组装SN与工单信息（旧MES）": {
      "main": [
        [
          {
            "node": "合并两个数据库查询到的工单数据信息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组装SN与工单信息（新MES）": {
      "main": [
        [
          {
            "node": "合并两个数据库查询到的工单数据信息",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "合并两个数据库查询到的工单数据信息": {
      "main": [
        [
          {
            "node": "移除空对象",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "移除空对象": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "从工单缓存信息中获取料号": {
      "main": [
        [
          {
            "node": "判断该工单信息是否存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拆分snList进行料号查询": {
      "main": [
        [
          {
            "node": "从工单缓存信息中获取料号",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "去除相同的工单": {
      "main": [
        [
          {
            "node": "将料号和sn进行组合",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "从数据库中查询料号信息": {
      "main": [
        [
          {
            "node": "过滤出存在料号的SN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组装SN与料号信息": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "过滤出存在料号的SN": {
      "main": [
        [
          {
            "node": "拆分数组",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拆分数组": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "组装SN与料号信息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "根据SN查询工单数据（旧MES）",
            "type": "main",
            "index": 0
          },
          {
            "node": "根据SN查询工单信息(新mes)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整合SN": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        []
      ]
    },
    "判断该工单信息是否存在": {
      "main": [
        [
          {
            "node": "去除相同的工单",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断存在工单的sn是否有料号1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "将SN与料号的信息插入到缓存表中1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断存在工单的sn是否有料号": {
      "main": [
        [
          {
            "node": "返回查询不到料号的sn1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "正确返回2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "判断存在工单的sn是否有料号",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "拆分snList进行料号查询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "将料号和sn进行组合": {
      "main": [
        [
          {
            "node": "判断存在工单的sn是否有料号1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "根据SN查询工单数据（旧MES）1": {
      "main": [
        [
          {
            "node": "组装SN与工单信息（旧MES）1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "根据SN查询工单信息(新mes)1": {
      "main": [
        [
          {
            "node": "组装SN与工单信息（新MES）1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组装SN与工单信息（旧MES）1": {
      "main": [
        [
          {
            "node": "合并两个数据库查询到的工单数据信息1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组装SN与工单信息（新MES）1": {
      "main": [
        [
          {
            "node": "合并两个数据库查询到的工单数据信息1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "合并两个数据库查询到的工单数据信息1": {
      "main": [
        [
          {
            "node": "移除空对象1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "移除空对象1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "从工单缓存信息中获取料号1": {
      "main": [
        [
          {
            "node": "去除相同的工单1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拆分snList进行料号查询1": {
      "main": [
        [
          {
            "node": "从工单缓存信息中获取料号1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断该工单信息是否存在1": {
      "main": [
        [],
        [
          {
            "node": "返回通过SN查询不到MES中对应的工单信息2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "去除相同的工单1": {
      "main": [
        [
          {
            "node": "合并去重完剩余工单的数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合并sn对应工单号数据": {
      "main": [
        [
          {
            "node": "查出缓存表工单号不同的数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合并去重完剩余工单的数据": {
      "main": [
        [
          {
            "node": "sn匹配正常工单号与物料号",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查出缓存表工单号不同的数据": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sn匹配正常工单号与物料号": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "拆分snList进行料号查询1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "拆分snList进行料号查询1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "组装SN与料号信息1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组装SN与料号信息1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "合并sn对应工单号数据",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "存在SN在新旧mes找不到数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组装SN与料号信息2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "根据SN查询工单数据（旧MES）1",
            "type": "main",
            "index": 0
          },
          {
            "node": "根据SN查询工单信息(新mes)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "将SN与料号的信息插入到缓存表中": {
      "main": [
        [
          {
            "node": "组装SN与料号信息2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "将SN与料号的信息插入到缓存表中",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "整合SN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "192.168.29.70",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "50231",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.8.1",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "snList": [
              "W31AN06244",
              "W31AN05185",
              "W31AN06257",
              "W31AN05909",
              "W31AN06009",
              "W31AN06382",
              "W31AN06150",
              "W31AN06122",
              "W31AN06498",
              "W31AN06449",
              "W31AN06369",
              "W31AN06240",
              "W31AN06108",
              "W31AN06153",
              "W31AN05797",
              "W31AN05658",
              "W31AN06198",
              "W31AN05054",
              "W31AN06017",
              "W31AN05782",
              "W31AN05556",
              "W31AN05247",
              "W31AN05673",
              "W31AN05653",
              "W31AN05267",
              "W31AN05684",
              "W31AN05084",
              "W31AN05334",
              "W31AN05117",
              "W31AN05096",
              "W31AN03571",
              "W31AN05477",
              "W31AN05312",
              "W31AN05230",
              "W31AN05299",
              "W31AN05523",
              "W31AN05021",
              "W31AN05484",
              "W31AN05561",
              "W31AN05493",
              "W31AN05876",
              "W31AN05716",
              "W31AN06282",
              "W31AN05845",
              "W31AN05592",
              "W31AN06124",
              "W31AN05723",
              "W31AN05042",
              "W31AN05710",
              "W31AN05063",
              "W31AN05691",
              "W31AN05773",
              "W31AN05722",
              "W31AN05704",
              "W31AN05729",
              "W31AN05711",
              "W31AN06188",
              "W31AN05570",
              "W31AN05804",
              "W31AN06152",
              "W31AN05738",
              "W31AN05746",
              "W31AN05133",
              "W31AN05577",
              "W31AN05599",
              "W31AN05767",
              "W31AN05765",
              "W31AN05788",
              "W31AN06101",
              "W31AN05868",
              "W31AN06135",
              "W31AN05894",
              "W31AN06058",
              "W31AN05881",
              "W31AN06079",
              "W31AN06048",
              "W31AN05360",
              "W31AN05052",
              "W31AN05050",
              "W31AN05304",
              "W31AN05607",
              "W31AN05504",
              "W31AN05713",
              "W31AN05693",
              "W31AN05717",
              "W31AN05017",
              "W31AN05715",
              "W31AN05780",
              "W31AN05676",
              "W31AN05571",
              "W31AN05640",
              "W31AN05707",
              "W31AN05118",
              "W31AN05301",
              "W31AN05391",
              "W31AN05386",
              "W31AN05479",
              "W31AN05609",
              "W31AN05336",
              "W31AN05147",
              "W31AN05511",
              "W31AN05393",
              "W31AN05346",
              "W31AN05020",
              "W31AN05623",
              "W31AN05531",
              "W31AN05040",
              "W31AN06005",
              "W31AN05110",
              "W31AN05444",
              "W31AN05495",
              "W31AN03918",
              "W31AN06229",
              "W31AN05057",
              "W31AN05332",
              "W31AN05437",
              "W31AN05616",
              "W31AN05430",
              "W31AN05489",
              "W31AN05617",
              "W31AN05545",
              "W31AN05683",
              "W31AN05169",
              "W31AN06098",
              "W31AN05363",
              "W31AN05596",
              "W31AN06435",
              "W31AN06305",
              "W31AN05482",
              "W31AN04112",
              "W31AN05547",
              "W31AN05377",
              "W31AN05498",
              "W31AN05743",
              "W31AN05645",
              "W31AN05447",
              "W31AN06521",
              "W31AN04527",
              "W31AN05022",
              "W31AN05098",
              "W31AN05435",
              "W31AN06081",
              "W31AN05445",
              "W31AN06063",
              "W31AN05612",
              "W31AN06411",
              "W31AN06120",
              "W31AN05122",
              "W31AN05566",
              "W31AN06040",
              "W31AN05598",
              "W31AN06031",
              "W31AN05453",
              "W31AN05764",
              "W31AN05586",
              "W31AN05919",
              "W31AN05846",
              "W31AN06072",
              "W31AN05961",
              "W31AN05785",
              "W31AN04607",
              "W31AN03388",
              "W31AN03704",
              "W31AN03609",
              "W31AN06066",
              "W31AN05510",
              "W31AN04613",
              "W31AN04564",
              "W31AN04235",
              "W31AN03674",
              "W31AN04188",
              "W31AN05083",
              "W31AN05573",
              "W31AN05013",
              "W31AN05208",
              "W31AN05648",
              "W31AN05633",
              "W31AN05593",
              "W31AN05880",
              "W31AN06259",
              "W31AN05740",
              "W31AN05808",
              "W31AN06065",
              "W31AN05569",
              "W31AN05934",
              "W31AN05816",
              "W31AN05954",
              "W31AN06059",
              "W31AN05731",
              "W31AN05825",
              "W31AN06015",
              "W31AN06053",
              "W31AN05977",
              "W31AN05950",
              "W31AN05997",
              "W31AN06118",
              "W31AN05796",
              "W31AN05872",
              "W31AN06051",
              "W31AN05990",
              "W31AN06113",
              "W31AN05949",
              "W31AN03514",
              "W31AN05457",
              "W31AN05161",
              "W31AN05028",
              "W31AN05667",
              "W31AN05526",
              "W31AN05516",
              "W31AN05292",
              "W31AN05578",
              "W31AN05293",
              "W31AN05768",
              "W31AN06028",
              "W31AN03941",
              "W31AN05202",
              "W31AN05719",
              "W31AN05918",
              "W31AN06024",
              "W31AN06071",
              "W31AN05893",
              "W31AN05289",
              "W31AN05112",
              "W31AN06013",
              "W31AN05700",
              "W31AN05171",
              "W31AN05568",
              "W31AN05365",
              "W31AN05140",
              "W31AN05232",
              "W31AN05476",
              "W31AN05041",
              "W31AN06033",
              "W31AN05562",
              "W31AN05821",
              "W31AN05995",
              "W31AN06039",
              "W31AN05941",
              "W31AN05979",
              "W31AN05485",
              "W31AN05343",
              "W31AN05994",
              "W31AN06377",
              "W31AN05115",
              "W31AN06275",
              "W31AN05908",
              "W31AN06215",
              "W31AN06174",
              "W31AN06182",
              "W31AN05843",
              "W31AN06061",
              "W31AN05874",
              "W31AN06499",
              "W31AN06158",
              "W31AN06464",
              "W31AN06412",
              "W31AN06442",
              "W31AN06212",
              "W31AN06359",
              "W31AN06326",
              "W31AN05407",
              "W31AN05092",
              "W31AN05366",
              "W31AN05025",
              "W31AN05039",
              "W31AN05080",
              "W31AN04269",
              "W31AN05697",
              "W31AN05073",
              "W31AN05486",
              "W31AN05836",
              "W31AN05986",
              "W31AN06299",
              "W31AN04633",
              "W31AN04627",
              "W31AN03797",
              "W31AN03564",
              "W31AN03650",
              "W31AN03460",
              "W31AN06495",
              "W31AN05815",
              "W31AN06037",
              "W31AN05728",
              "W31AN05375",
              "W31AN05988",
              "W31AN05744",
              "W31AN05367",
              "W31AN05766",
              "W31AN05852",
              "W31AN05826",
              "W31AN05109",
              "W31AN05241",
              "W31AN06105",
              "W31AN05858",
              "W31AN06077",
              "W31AN05947",
              "W31AN05752",
              "W31AN05771",
              "W31AN06022",
              "W31AN05891",
              "W31AN05662",
              "W31AN05341",
              "W31AN04782",
              "W31AN05403",
              "W31AN06413",
              "W31AN05094",
              "W31AN05440",
              "W31AN05166",
              "W31AN05464",
              "W31AN04582",
              "W31AN05423",
              "W31AN05622",
              "W31AN05625",
              "W31AN05641",
              "W31AN04138",
              "W31AN05614",
              "W31AN05456",
              "W31AN05638",
              "W31AN05650",
              "W31AN05081",
              "W31AN05015",
              "W31AN05105",
              "W31AN05465",
              "W31AN05370",
              "W31AN05647",
              "W31AN05165",
              "W31AN05968",
              "W31AN04079",
              "W31AN05415",
              "W31AN05589",
              "W31AN06012",
              "W31AN06110",
              "W31AN05396",
              "W31AN05463",
              "W31AN05552",
              "W31AN05758",
              "W31AN06290",
              "W31AN06556",
              "W31AN05686",
              "W31AN05854",
              "W31AN05533",
              "W31AN05411",
              "W31AN05560",
              "W31AN05087",
              "W31AN04265",
              "W31AN05487",
              "W31AN05996",
              "W31AN05838",
              "W31AN05778",
              "W31AN06123",
              "W31AN05666",
              "W31AN05555",
              "W31AN06054",
              "W31AN06067",
              "W31AN05458",
              "W31AN03723",
              "W31AN05581",
              "W31AN05588",
              "W31AN06052",
              "W31AN05981",
              "W31AN05527",
              "W31AN05580",
              "W31AN05162",
              "W31AN05371",
              "W31AN05483",
              "W31AN05530",
              "W31AN05221",
              "W31AN05525",
              "W31AN05186",
              "W31AN05661",
              "W31AN05750",
              "W31AN05682",
              "W31AN05019",
              "W31AN05529",
              "W31AN05129",
              "W31AN05066",
              "W31AN05669",
              "W31AN05319",
              "W31AN05699",
              "W31AN05362",
              "W31AN05887",
              "W31AN06144",
              "W31AN06070",
              "W31AN05795",
              "W31AN05774",
              "W31AN06076",
              "W31AN06055",
              "W31AN05960",
              "W31AN05793",
              "W31AN05733",
              "W31AN05962",
              "W31AN05942",
              "W31AN06043",
              "W31AN05794",
              "W31AN05870",
              "W31AN05970",
              "W31AN05672",
              "W31AN05307",
              "W31AN05943",
              "W31AN05897",
              "W31AN05379",
              "W31AN05784",
              "W31AN05862",
              "W31AN05964",
              "W31AN05792",
              "W31AN05494",
              "W31AN05756",
              "W31AN06027",
              "W31AN05124",
              "W31AN06137",
              "W31AN05786",
              "W31AN06131",
              "W31AN06719",
              "W31AN06906",
              "W31AN06004",
              "W31AN06818",
              "W31AN06721",
              "W31AN06815",
              "W31AN05956",
              "W31AN06908",
              "W31AN06735",
              "W31AN06694",
              "W31AN06136",
              "W31AN06310",
              "W31AN06279",
              "W31AN06249",
              "W31AN06210",
              "W31AN06848",
              "W31AN06328",
              "W31AN06657",
              "W31AN06817",
              "W31AN05689",
              "W31AN06345",
              "W31AN06431",
              "W31AN06564",
              "W31AN06903",
              "W31AN06145",
              "W31AN06232",
              "W31AN05850",
              "W31AN06655",
              "W31AN05761",
              "W31AN05044",
              "W31AN05010",
              "W31AN05685",
              "W31AN05518",
              "W31AN05660",
              "W31AN04063",
              "W31AN05665",
              "W31AN05720",
              "W31AN05426",
              "W31AN05987",
              "W31AN05584",
              "W31AN05470",
              "W31AN05639",
              "W31AN05628",
              "W31AN05505",
              "W31AN05070",
              "W31AN04902",
              "W31AN05499",
              "W31AN05026",
              "W31AN05759",
              "W31AN05306",
              "W31AN05966",
              "W31AN04706",
              "W31AN05634",
              "W31AN05387",
              "W31AN05163",
              "W31AN05671",
              "W31AN05358",
              "W31AN05119",
              "W31AN05382",
              "W31AN05420",
              "W31AN05565",
              "W31AN05455",
              "W31AN05376",
              "W31AN05018",
              "W31AN05998",
              "W31AN05602",
              "W31AN05114",
              "W31AN05058",
              "W31AN05108",
              "W31AN05139",
              "W31AN05402",
              "W31AN05644",
              "W31AN05502",
              "W31AN05694",
              "W31AN05095",
              "W31AN05536",
              "W31AN05474",
              "W31AN05317",
              "W31AN05603",
              "W31AN05394",
              "W31AN05051",
              "W31AN05405",
              "W31AN05452",
              "W31AN05490",
              "W31AN05072",
              "W31AN05030",
              "W31AN05522",
              "W31AN05515",
              "W31AN05971",
              "W31AN06038",
              "W31AN05730",
              "W31AN05737",
              "W31AN05973",
              "W31AN05831",
              "W31AN05770",
              "W31AN05992",
              "W31AN06129",
              "W31AN05480",
              "W31AN05989",
              "W31AN06073",
              "W31AN05488",
              "W31AN06064",
              "W31AN05543",
              "W31AN05944",
              "W31AN05754",
              "W31AN05967",
              "W31AN06050",
              "W31AN06128",
              "W31AN05732",
              "W31AN05875",
              "W31AN05939",
              "W31AN05983",
              "W31AN05857",
              "W31AN05948",
              "W31AN06111",
              "W31AN06029",
              "W31AN05835",
              "W31AN06019",
              "W31AN06003",
              "W31AN06034",
              "W31AN06030",
              "W31AN06016",
              "W31AN05896",
              "W31AN05974",
              "W31AN05975",
              "W31AN05747",
              "W31AN05965",
              "W31AN05107",
              "W31AN05677",
              "W31AN05389",
              "W31AN05659",
              "W31AN05538",
              "W31AN05090",
              "W31AN05657",
              "W31AN05156",
              "W31AN05537",
              "W31AN05075",
              "W31AN05236",
              "W31AN05535",
              "W31AN05595",
              "W31AN05060",
              "W31AN05478",
              "W31AN05651",
              "W31AN05425",
              "W31AN05061",
              "W31AN05637",
              "W31AN05390",
              "W31AN05086",
              "W31AN05404",
              "W31AN05384",
              "W31AN05462",
              "W31AN05775",
              "W31AN05675",
              "W31AN05137",
              "W31AN05520",
              "W31AN03956",
              "W31AN05062",
              "W31AN05680",
              "W31AN05243",
              "W31AN05692",
              "W31AN05031",
              "W31AN05626",
              "W31AN05373",
              "W31AN05506",
              "W31AN05501",
              "W31AN05698",
              "W31AN05355",
              "W31AN05032",
              "W31AN05496",
              "W31AN05406",
              "W31AN05608",
              "W31AN05339",
              "W31AN06068",
              "W31AN05600",
              "W31AN05395",
              "W31AN05397",
              "W31AN05548",
              "W31AN04048",
              "W31AN05340",
              "W31AN05481",
              "W31AN05123",
              "W31AN05475",
              "W31AN05368",
              "W31AN03972",
              "W31AN05347",
              "W31AN05514",
              "W31AN05553",
              "W31AN05199",
              "W31AN06000",
              "W31AN05781",
              "W31AN05303",
              "W31AN05383",
              "W31AN05789",
              "W31AN06062",
              "W31AN05751",
              "W31AN05779",
              "W31AN05755",
              "W31AN05727",
              "W31AN05524",
              "W31AN05972",
              "W31AN04099",
              "W31AN04867",
              "W31AN06132",
              "W31AN05550",
              "W31AN05957",
              "W31AN05818",
              "W31AN05078",
              "W31AN04139",
              "W31AN04963",
              "W31AN03981",
              "W31AN05003",
              "W31AN04519",
              "W31AN04018",
              "W31AN04851",
              "W31AN04469",
              "W31AN04225",
              "W31AN04115",
              "W31AN05280",
              "W31AN05138",
              "W31AN05255",
              "W31AN04084",
              "W31AN04039",
              "W31AN03348",
              "W31AN03890",
              "W31AN04031",
              "W31AN05183",
              "W31AN04976",
              "W31AN04908",
              "W31AN05473",
              "W31AN05333",
              "W31AN05014",
              "W31AN05544",
              "W31AN05866",
              "W31AN05739",
              "W31AN05575",
              "W31AN05827",
              "W31AN05777",
              "W31AN05865",
              "W31AN05328",
              "W31AN05130",
              "W31AN06069",
              "W31AN05345",
              "W31AN06023",
              "W31AN06036",
              "W31AN05734",
              "W31AN06114",
              "W31AN06046",
              "W31AN05791",
              "W31AN05222",
              "W31AN04092",
              "W31AN04068",
              "W31AN05234",
              "W31AN05180",
              "W31AN05146",
              "W31AN04107",
              "W31AN05246",
              "W31AN05285",
              "W31AN04069",
              "W31AN05240",
              "W31AN05238",
              "W31AN04757",
              "W31AN05220",
              "W31AN05093",
              "W31AN05043",
              "W31AN05008",
              "W31AN05157",
              "W31AN05574",
              "W31AN05274",
              "W31AN05380",
              "W31AN05012",
              "W31AN05184",
              "W31AN05325",
              "W31AN05381",
              "W31AN05135",
              "W31AN05643",
              "W31AN05559",
              "W31AN05308",
              "W31AN05047",
              "W31AN05102",
              "W31AN05159",
              "W31AN05558",
              "W31AN05011",
              "W31AN05369",
              "W31AN05127",
              "W31AN05111",
              "W31AN05585",
              "W31AN05316",
              "W31AN05597",
              "W31AN05583",
              "W31AN05248",
              "W31AN05175",
              "W31AN04055",
              "W31AN04040",
              "W31AN05330",
              "W31AN05408",
              "W31AN05326",
              "W31AN05541",
              "W31AN05681",
              "W31AN05100",
              "W31AN04836",
              "W31AN05364",
              "W31AN05213",
              "W31AN06084",
              "W31AN05879",
              "W31AN05873",
              "W31AN05993",
              "W31AN05757",
              "W31AN05928",
              "W31AN03488",
              "W31AN04622",
              "W31AN03434",
              "W31AN04624",
              "W31AN04262",
              "W31AN03482",
              "W31AN03337",
              "W31AN03462",
              "W31AN04436",
              "W31AN03336",
              "W31AN03792",
              "W31AN03417",
              "W31AN04226",
              "W31AN04260",
              "W31AN03587",
              "W31AN03730",
              "W31AN03595",
              "W31AN03677",
              "W31AN04404",
              "W31AN04332",
              "W31AN04717",
              "W31AN04863",
              "W31AN04896",
              "W31AN04859",
              "W31AN03883",
              "W31AN04664",
              "W31AN03914",
              "W31AN05085",
              "W31AN04808",
              "W31AN04696",
              "W31AN04846",
              "W31AN04024",
              "W31AN04518",
              "W31AN04525",
              "W31AN04733",
              "W31AN03944",
              "W31AN03341",
              "W31AN03967",
              "W31AN03958",
              "W31AN04483",
              "W31AN04272",
              "W31AN03761",
              "W31AN04574",
              "W31AN04492",
              "W31AN03534",
              "W31AN04318",
              "W31AN03549",
              "W31AN03772",
              "W31AN04401",
              "W31AN03466",
              "W31AN03371",
              "W31AN03463",
              "W31AN03880",
              "W31AN04281",
              "W31AN03357",
              "W31AN05125",
              "W31AN03862",
              "W31AN05335",
              "W31AN05329",
              "W31AN05469",
              "W31AN05466",
              "W31AN04037",
              "W31AN05443",
              "W31AN04046",
              "W31AN05204",
              "W31AN05035",
              "W31AN05245",
              "W31AN05652",
              "W31AN04824",
              "W31AN04123",
              "W31AN05428",
              "W31AN04000",
              "W31AN05131",
              "W31AN05419",
              "W31AN05459",
              "W31AN04088",
              "W31AN04515",
              "W31AN03994",
              "W31AN05259",
              "W31AN04769",
              "W31AN05071",
              "W31AN05338",
              "W31AN05678",
              "W31AN05337",
              "W31AN05065",
              "W31AN05357",
              "W31AN05291",
              "W31AN05167",
              "W31AN05331",
              "W31AN05392",
              "W31AN05400",
              "W31AN05009",
              "W31AN05621",
              "W31AN05327",
              "W31AN04943",
              "W31AN05036",
              "W31AN05037",
              "W31AN04051",
              "W31AN05045",
              "W31AN05024",
              "W31AN05670",
              "W31AN05351",
              "W31AN05579",
              "W31AN05049",
              "W31AN05461",
              "W31AN05191",
              "W31AN05153",
              "W31AN05348",
              "W31AN05399",
              "W31AN05546",
              "W31AN05023",
              "W31AN05027",
              "W31AN05349",
              "W31AN05519",
              "W31AN05046",
              "W31AN05540",
              "W31AN04042",
              "W31AN05322",
              "W31AN05277",
              "W31AN03951",
              "W31AN04796",
              "W31AN04668",
              "W31AN04771",
              "W31AN03375",
              "W31AN04708",
              "W31AN04843",
              "W31AN03962",
              "W31AN03611",
              "W31AN04840",
              "W31AN04814",
              "W31AN04754",
              "W31AN04728",
              "W31AN04760",
              "W31AN03907",
              "W31AN04969",
              "W31AN04975",
              "W31AN04928",
              "W31AN04970",
              "W31AN04967",
              "W31AN04479",
              "W31AN04398",
              "W31AN03601",
              "W31AN04337",
              "W31AN03576",
              "W31AN03781",
              "W31AN04306",
              "W31AN03698",
              "W31AN04159",
              "W31AN04359",
              "W31AN03452",
              "W31AN04152",
              "W31AN03472",
              "W31AN04171",
              "W31AN04258",
              "W31AN04334",
              "W31AN04311",
              "W31AN03407",
              "W31AN04620",
              "W31AN04614",
              "W31AN04322",
              "W31AN04474",
              "W31AN04913",
              "W31AN03901",
              "W31AN03885",
              "W31AN04995",
              "W31AN03966",
              "W31AN03855",
              "W31AN03897",
              "W31AN04481",
              "W31AN03902",
              "W31AN04477",
              "W31AN04996",
              "W31AN04533",
              "W31AN04899",
              "W31AN04743",
              "W31AN04981",
              "W31AN04482",
              "W31AN04806",
              "W31AN04720",
              "W31AN03844",
              "W31AN05104",
              "W31AN05005",
              "W31AN05134",
              "W31AN05309",
              "W31AN05077",
              "W31AN05128",
              "W31AN05214",
              "W31AN05323",
              "W31AN05016",
              "W31AN04105",
              "W31AN05497",
              "W31AN05226",
              "W31AN05113",
              "W31AN05263",
              "W31AN05126",
              "W31AN05069",
              "W31AN05604",
              "W31AN05121",
              "W31AN05120",
              "W31AN05149",
              "W31AN05576",
              "W31AN05460",
              "W31AN05687",
              "W31AN05492",
              "W31AN05503",
              "W31AN05539",
              "W31AN05173",
              "W31AN05521",
              "W31AN05034",
              "W31AN05372",
              "W31AN05350",
              "W31AN04089",
              "W31AN05549",
              "W31AN05079",
              "W31AN05099",
              "W31AN04528",
              "W31AN05212",
              "W31AN04980",
              "W31AN05324",
              "W31AN05551",
              "W31AN04791",
              "W31AN04811",
              "W31AN04689",
              "W31AN04989",
              "W31AN04802",
              "W31AN04845",
              "W31AN04877",
              "W31AN04931",
              "W31AN04858",
              "W31AN03630",
              "W31AN04514",
              "W31AN04512",
              "W31AN04878",
              "W31AN04779",
              "W31AN04755",
              "W31AN04701",
              "W31AN04739",
              "W31AN04704",
              "W31AN04881",
              "W31AN04797",
              "W31AN06192",
              "W31AN05925",
              "W31AN06262",
              "W31AN06383",
              "W31AN06410",
              "W31AN05878",
              "W31AN06358",
              "W31AN06162",
              "W31AN06094",
              "W31AN05830",
              "W31AN06163",
              "W31AN05931",
              "W31AN05905",
              "W31AN06258",
              "W31AN05888",
              "W31AN06080",
              "W31AN05810",
              "W31AN06277",
              "W31AN06193",
              "W31AN05940",
              "W31AN03505",
              "W31AN04335",
              "W31AN03735",
              "W31AN03658",
              "W31AN03366",
              "W31AN03825",
              "W31AN04390",
              "W31AN03480",
              "W31AN03738",
              "W31AN03591",
              "W31AN04271",
              "W31AN04378",
              "W31AN03875",
              "W31AN03751",
              "W31AN03600",
              "W31AN03360",
              "W31AN04186",
              "W31AN03745",
              "W31AN04438",
              "W31AN03428",
              "W31AN03673",
              "W31AN03773",
              "W31AN04270",
              "W31AN03800",
              "W31AN03828",
              "W31AN04590",
              "W31AN03867",
              "W31AN03660",
              "W31AN04508",
              "W31AN03743",
              "W31AN04592",
              "W31AN03351",
              "W31AN04459",
              "W31AN04549",
              "W31AN04463",
              "W31AN04448",
              "W31AN06701",
              "W31AN04164",
              "W31AN03580",
              "W31AN03693",
              "W31AN06283",
              "W31AN06178",
              "W31AN05929",
              "W31AN06300",
              "W31AN06100",
              "W31AN06225",
              "W31AN06191",
              "W31AN06173",
              "W31AN06093",
              "W31AN06408",
              "W31AN06452",
              "W31AN06250",
              "W31AN05892",
              "W31AN06302",
              "W31AN06746",
              "W31AN07001",
              "W31AN06698",
              "W31AN06482",
              "W31AN06935",
              "W31AN06917",
              "W31AN03639",
              "W31AN04506",
              "W31AN03676",
              "W31AN03746",
              "W31AN03708",
              "W31AN03613",
              "W31AN03702",
              "W31AN03815",
              "W31AN03420",
              "W31AN03640",
              "W31AN04380",
              "W31AN03882",
              "W31AN04573",
              "W31AN03484",
              "W31AN04342",
              "W31AN04621",
              "W31AN04215",
              "W31AN03665",
              "W31AN04302",
              "W31AN04321",
              "W31AN03686",
              "W31AN04456",
              "W31AN04246",
              "W31AN03667",
              "W31AN03594",
              "W31AN04191",
              "W31AN03562",
              "W31AN03424",
              "W31AN03447",
              "W31AN04251",
              "W31AN04154",
              "W31AN04175",
              "W31AN04357",
              "W31AN04174",
              "W31AN04439",
              "W31AN04249",
              "W31AN04310",
              "W31AN04284",
              "W31AN03635",
              "W31AN04381",
              "W31AN06931",
              "W31AN03339",
              "W31AN04210",
              "W31AN03403",
              "W31AN05839",
              "W31AN04222",
              "W31AN06691",
              "W31AN03370",
              "W31AN06335",
              "W31AN06649",
              "W31AN06936",
              "W31AN07003",
              "W31AN06801",
              "W31AN06910",
              "W31AN06540",
              "W31AN06987",
              "W31AN06096",
              "W31AN06952",
              "W31AN05424",
              "W31AN06530",
              "W31AN06623",
              "W31AN05985",
              "W31AN06899",
              "W31AN06230",
              "W31AN06613",
              "W31AN06425",
              "W31AN06653",
              "W31AN06992",
              "W31AN06860",
              "W31AN06609",
              "W31AN06654",
              "W31AN06765",
              "W31AN06684",
              "W31AN06950",
              "W31AN04982",
              "W31AN03560",
              "W31AN06159",
              "W31AN06621",
              "W31AN06339",
              "W31AN06103",
              "W31AN04366",
              "W31AN03826",
              "W31AN04202",
              "W31AN04443",
              "W31AN04288",
              "W31AN03538",
              "W31AN04445",
              "W31AN04184",
              "W31AN03646",
              "W31AN03396",
              "W31AN03372",
              "W31AN03386",
              "W31AN04274",
              "W31AN04405",
              "W31AN03740",
              "W31AN04209",
              "W31AN03714",
              "W31AN04323",
              "W31AN04419",
              "W31AN03717",
              "W31AN04520",
              "W31AN04774",
              "W31AN03848",
              "W31AN04680",
              "W31AN03605",
              "W31AN03608",
              "W31AN04874",
              "W31AN04775",
              "W31AN04569",
              "W31AN04810",
              "W31AN04420",
              "W31AN04722",
              "W31AN04659",
              "W31AN04485",
              "W31AN03874",
              "W31AN04643",
              "W31AN04500",
              "W31AN04690",
              "W31AN03837",
              "W31AN04674",
              "W31AN04464",
              "W31AN05702",
              "W31AN03996",
              "W31AN05517",
              "W31AN05679",
              "W31AN05572",
              "W31AN05354",
              "W31AN05088",
              "W31AN05082",
              "W31AN03932",
              "W31AN05038",
              "W31AN05033",
              "W31AN04834",
              "W31AN04882",
              "W31AN03986",
              "W31AN04003",
              "W31AN04702",
              "W31AN04005",
              "W31AN03934",
              "W31AN04961",
              "W31AN04954",
              "W31AN03915",
              "W31AN03968",
              "W31AN04759",
              "W31AN04523",
              "W31AN04011",
              "W31AN04531",
              "W31AN04555",
              "W31AN03853",
              "W31AN04541",
              "W31AN04786",
              "W31AN04944",
              "W31AN03983",
              "W31AN04539",
              "W31AN04716",
              "W31AN04785",
              "W31AN04505",
              "W31AN04841",
              "W31AN03857",
              "W31AN04983",
              "W31AN04644",
              "W31AN04809",
              "W31AN04626",
              "W31AN04763",
              "W31AN04703",
              "W31AN03919",
              "W31AN03849",
              "W31AN04880",
              "W31AN04790",
              "W31AN04832",
              "W31AN03963",
              "W31AN04677",
              "W31AN04709",
              "W31AN04653",
              "W31AN04852",
              "W31AN04778",
              "W31AN04783",
              "W31AN04655",
              "W31AN04960",
              "W31AN04833",
              "W31AN04897",
              "W31AN04946",
              "W31AN03847",
              "W31AN03866",
              "W31AN03978",
              "W31AN03888",
              "W31AN03995",
              "W31AN04844",
              "W31AN03896",
              "W31AN04730",
              "W31AN04827",
              "W31AN04794",
              "W31AN04291",
              "W31AN04985",
              "W31AN04719",
              "W31AN04503",
              "W31AN04938",
              "W31AN04727",
              "W31AN04958",
              "W31AN03852",
              "W31AN04744",
              "W31AN03957",
              "W31AN03871",
              "W31AN04197",
              "W31AN04912",
              "W31AN04535",
              "W31AN03976",
              "W31AN04462",
              "W31AN04021",
              "W31AN03992",
              "W31AN04303",
              "W31AN04537",
              "W31AN04821",
              "W31AN04923",
              "W31AN04948",
              "W31AN04926",
              "W31AN03604",
              "W31AN04014",
              "W31AN04805",
              "W31AN04801",
              "W31AN03610",
              "W31AN04532",
              "W31AN04978",
              "W31AN04888",
              "W31AN04776",
              "W31AN04861",
              "W31AN03840",
              "W31AN04669",
              "W31AN04876",
              "W31AN03905",
              "W31AN03916",
              "W31AN04022",
              "W31AN04965",
              "W31AN06271",
              "W31AN03903",
              "W31AN06902",
              "W31AN06725",
              "W31AN06197",
              "W31AN06365",
              "W31AN06700",
              "W31AN04984",
              "W31AN03891",
              "W31AN04497",
              "W31AN04798",
              "W31AN03873",
              "W31AN04484",
              "W31AN04990",
              "W31AN04890",
              "W31AN03935",
              "W31AN04692",
              "W31AN04957",
              "W31AN04651",
              "W31AN04510",
              "W31AN04949",
              "W31AN04540",
              "W31AN03949",
              "W31AN03860",
              "W31AN04986",
              "W31AN03533",
              "W31AN04964",
              "W31AN04856",
              "W31AN04999",
              "W31AN03597",
              "W31AN05002",
              "W31AN04676",
              "W31AN04547",
              "W31AN04924",
              "W31AN04765",
              "W31AN04684",
              "W31AN04812",
              "W31AN04934",
              "W31AN03971",
              "W31AN04992",
              "W31AN04529",
              "W31AN04756",
              "W31AN03948",
              "W31AN04994",
              "W31AN03925",
              "W31AN04920",
              "W31AN04804",
              "W31AN04033",
              "W31AN04091",
              "W31AN04665",
              "W31AN04732",
              "W31AN05296",
              "W31AN04010",
              "W31AN04118",
              "W31AN04126",
              "W31AN04100",
              "W31AN03440",
              "W31AN04036",
              "W31AN04122",
              "W31AN04853",
              "W31AN05282",
              "W31AN04047",
              "W31AN05177",
              "W31AN04077",
              "W31AN03974",
              "W31AN04815",
              "W31AN04742",
              "W31AN03920",
              "W31AN04767",
              "W31AN03343",
              "W31AN04737",
              "W31AN03929",
              "W31AN04530",
              "W31AN04768",
              "W31AN03970",
              "W31AN04661",
              "W31AN04688",
              "W31AN04712",
              "W31AN03947",
              "W31AN04933",
              "W31AN04883",
              "W31AN04942",
              "W31AN04885",
              "W31AN04489",
              "W31AN04656",
              "W31AN03982",
              "W31AN04663",
              "W31AN04823",
              "W31AN03985",
              "W31AN04678",
              "W31AN04831",
              "W31AN03899",
              "W31AN04842",
              "W31AN04947",
              "W31AN04167",
              "W31AN03942",
              "W31AN04713",
              "W31AN04895",
              "W31AN04893",
              "W31AN04718",
              "W31AN04952",
              "W31AN04868",
              "W31AN03999",
              "W31AN04662",
              "W31AN04645",
              "W31AN04830",
              "W31AN04825",
              "W31AN04829",
              "W31AN04683",
              "W31AN04741",
              "W31AN04816",
              "W31AN04685",
              "W31AN04681",
              "W31AN04639",
              "W31AN04879",
              "W31AN04673",
              "W31AN04839",
              "W31AN03887",
              "W31AN03894",
              "W31AN04553",
              "W31AN04866",
              "W31AN03906",
              "W31AN03988",
              "W31AN04490",
              "W31AN04667",
              "W31AN04941",
              "W31AN03909",
              "W31AN04536",
              "W31AN04781",
              "W31AN04916",
              "W31AN04903",
              "W31AN04959",
              "W31AN04542",
              "W31AN04777",
              "W31AN04002",
              "W31AN04847",
              "W31AN04950",
              "W31AN05116",
              "W31AN04860",
              "W31AN05385",
              "W31AN05356",
              "W31AN05690",
              "W31AN04128",
              "W31AN05513",
              "W31AN05401",
              "W31AN05103",
              "W31AN03636",
              "W31AN04020",
              "W31AN05006",
              "W31AN05217",
              "W31AN03954",
              "W31AN04826",
              "W31AN04134",
              "W31AN05132",
              "W31AN05288",
              "W31AN04104",
              "W31AN05310",
              "W31AN03975",
              "W31AN05174",
              "W31AN04534",
              "W31AN04657",
              "W31AN03923",
              "W31AN04819",
              "W31AN04854",
              "W31AN04953",
              "W31AN04697",
              "W31AN04914",
              "W31AN04666",
              "W31AN04915",
              "W31AN04788",
              "W31AN04918",
              "W31AN03950",
              "W31AN04900",
              "W31AN04504",
              "W31AN04784",
              "W31AN04939",
              "W31AN03845",
              "W31AN04682",
              "W31AN04971",
              "W31AN04956",
              "W31AN04921",
              "W31AN04865",
              "W31AN03910",
              "W31AN03960",
              "W31AN04478",
              "W31AN04699",
              "W31AN04919",
              "W31AN03859",
              "W31AN03936",
              "W31AN04502",
              "W31AN04864",
              "W31AN04516",
              "W31AN03987",
              "W31AN03893",
              "W31AN03879",
              "W31AN04795",
              "W31AN04991",
              "W31AN03939",
              "W31AN04686",
              "W31AN04793",
              "W31AN04955",
              "W31AN04710",
              "W31AN05281",
              "W31AN04642",
              "W31AN04770",
              "W31AN04546",
              "W31AN04480",
              "W31AN05627",
              "W31AN05190",
              "W31AN04837",
              "W31AN04087",
              "W31AN03973",
              "W31AN04548",
              "W31AN05451",
              "W31AN03961",
              "W31AN04494",
              "W31AN04694",
              "W31AN04672",
              "W31AN05154",
              "W31AN05610",
              "W31AN03889",
              "W31AN04652",
              "W31AN05442",
              "W31AN05431",
              "W31AN05624",
              "W31AN04869",
              "W31AN05433",
              "W31AN04848",
              "W31AN04698",
              "W31AN04751",
              "W31AN03838",
              "W31AN04870",
              "W31AN03959",
              "W31AN04998",
              "W31AN04871",
              "W31AN04486",
              "W31AN04822",
              "W31AN04988",
              "W31AN05000",
              "W31AN04935",
              "W31AN04012",
              "W31AN04471",
              "W31AN03979",
              "W31AN03991",
              "W31AN03851",
              "W31AN04968",
              "W31AN04872",
              "W31AN04807",
              "W31AN04660",
              "W31AN05152",
              "W31AN03940",
              "W31AN04873",
              "W31AN04711",
              "W31AN04787",
              "W31AN03913",
              "W31AN04772",
              "W31AN04524",
              "W31AN04714",
              "W31AN04930",
              "W31AN04538",
              "W31AN04658",
              "W31AN03990",
              "W31AN04013",
              "W31AN03854",
              "W31AN04705",
              "W31AN03964",
              "W31AN04910",
              "W31AN03953",
              "W31AN04750",
              "W31AN05269",
              "W31AN04579",
              "W31AN04015",
              "W31AN04670",
              "W31AN04065",
              "W31AN04006",
              "W31AN04905",
              "W31AN04862",
              "W31AN03952",
              "W31AN03858",
              "W31AN04749",
              "W31AN03989",
              "W31AN04671",
              "W31AN03892",
              "W31AN03554",
              "W31AN05432",
              "W31AN04721",
              "W31AN05001",
              "W31AN04473",
              "W31AN04813",
              "W31AN04937",
              "W31AN04764",
              "W31AN03931",
              "W31AN03965",
              "W31AN04997",
              "W31AN04891",
              "W31AN04731",
              "W31AN04016",
              "W31AN04008",
              "W31AN03846",
              "W31AN04886",
              "W31AN04850",
              "W31AN04496",
              "W31AN04945",
              "W31AN04906",
              "W31AN04753",
              "W31AN04201",
              "W31AN04789",
              "W31AN05632",
              "W31AN05439",
              "W31AN05064",
              "W31AN05663",
              "W31AN05619",
              "W31AN05438",
              "W31AN05418",
              "W31AN05454",
              "W31AN05436",
              "W31AN05427",
              "W31AN05421",
              "W31AN05629",
              "W31AN05416",
              "W31AN05410",
              "W31AN04103",
              "W31AN05260",
              "W31AN05264",
              "W31AN04080",
              "W31AN04023",
              "W31AN04053",
              "W31AN04792",
              "W31AN03937",
              "W31AN04501",
              "W31AN03850",
              "W31AN04875",
              "W31AN05004",
              "W31AN04828",
              "W31AN04884",
              "W31AN03900",
              "W31AN04695",
              "W31AN04780",
              "W31AN04773",
              "W31AN03904",
              "W31AN04907",
              "W31AN04726",
              "W31AN04019",
              "W31AN04734",
              "W31AN04977",
              "W31AN04707",
              "W31AN04922",
              "W31AN04043",
              "W31AN04086",
              "W31AN04004",
              "W31AN04917",
              "W31AN05318",
              "W31AN04120",
              "W31AN05257",
              "W31AN04929",
              "W31AN05160",
              "W31AN05290",
              "W31AN04521",
              "W31AN04028",
              "W31AN04747",
              "W31AN04526",
              "W31AN04475",
              "W31AN03599",
              "W31AN05194",
              "W31AN03912",
              "W31AN04299",
              "W31AN04554",
              "W31AN05409",
              "W31AN05412",
              "W31AN03922",
              "W31AN05231",
              "W31AN05150",
              "W31AN05353",
              "W31AN05344",
              "W31AN05313",
              "W31AN05295",
              "W31AN05091",
              "W31AN03598",
              "W31AN04124",
              "W31AN05567",
              "W31AN05067",
              "W31AN05298",
              "W31AN05284",
              "W31AN05449",
              "W31AN05441",
              "W31AN05414",
              "W31AN05053",
              "W31AN04050",
              "W31AN04127",
              "W31AN05268",
              "W31AN04054",
              "W31AN05631",
              "W31AN05649",
              "W31AN04073",
              "W31AN04106",
              "W31AN04835",
              "W31AN04049",
              "W31AN04133",
              "W31AN04097",
              "W31AN03927",
              "W31AN04517",
              "W31AN04800",
              "W31AN03933",
              "W31AN04849",
              "W31AN03921",
              "W31AN03917",
              "W31AN04762",
              "W31AN05253",
              "W31AN05225",
              "W31AN05239",
              "W31AN04070",
              "W31AN05262",
              "W31AN03522",
              "W31AN04119",
              "W31AN05250",
              "W31AN05251",
              "W31AN04052",
              "W31AN05224",
              "W31AN05200",
              "W31AN05286",
              "W31AN04129",
              "W31AN05228",
              "W31AN05216",
              "W31AN04083",
              "W31AN05311",
              "W31AN05223",
              "W31AN04032",
              "W31AN03993",
              "W31AN03908",
              "W31AN03895",
              "W31AN05205",
              "W31AN03945",
              "W31AN04909",
              "W31AN03836",
              "W31AN04927",
              "W31AN03843",
              "W31AN04509",
              "W31AN04820",
              "W31AN03984",
              "W31AN04487",
              "W31AN03606",
              "W31AN03924",
              "W31AN04654",
              "W31AN04143",
              "W31AN04748",
              "W31AN04799",
              "W31AN04887",
              "W31AN04993",
              "W31AN03946",
              "W31AN03930",
              "W31AN03886",
              "W31AN04974",
              "W31AN04857",
              "W31AN04898",
              "W31AN03980",
              "W31AN04936",
              "W31AN04892",
              "W31AN03607",
              "W31AN04894",
              "W31AN05265",
              "W31AN04111",
              "W31AN04691",
              "W31AN04715",
              "W31AN04925",
              "W31AN04495",
              "W31AN04766",
              "W31AN04740",
              "W31AN05197",
              "W31AN03926",
              "W31AN05211",
              "W31AN05187",
              "W31AN05315",
              "W31AN05615",
              "W31AN04066",
              "W31AN04067",
              "W31AN05193",
              "W31AN04110",
              "W31AN05429",
              "W31AN05142",
              "W31AN05618",
              "W31AN04102",
              "W31AN05170",
              "W31AN03831",
              "W31AN04136",
              "W31AN05314",
              "W31AN05605",
              "W31AN05413",
              "W31AN04818",
              "W31AN04476",
              "W31AN04838",
              "W31AN04817",
              "W31AN04700",
              "W31AN04729",
              "W31AN03977",
              "W31AN04972",
              "W31AN03856",
              "W31AN04736",
              "W31AN04803",
              "W31AN03898",
              "W31AN04889",
              "W31AN04027",
              "W31AN04724",
              "W31AN04693",
              "W31AN04855",
              "W31AN04758",
              "W31AN04940",
              "W31AN04979",
              "W31AN04041",
              "W31AN05272",
              "W31AN04072",
              "W31AN05188",
              "W31AN04030",
              "W31AN05219",
              "W31AN05235",
              "W31AN05206",
              "W31AN05007",
              "W31AN05287",
              "W31AN05300",
              "W31AN04017",
              "W31AN05168",
              "W31AN05305",
              "W31AN04059",
              "W31AN05145",
              "W31AN04488",
              "W31AN04212",
              "W31AN04108",
              "W31AN03821",
              "W31AN05229",
              "W31AN05182",
              "W31AN05195",
              "W31AN04064",
              "W31AN04094",
              "W31AN05164",
              "W31AN04130",
              "W31AN05244",
              "W31AN04098",
              "W31AN04058",
              "W31AN04001",
              "W31AN05279",
              "W31AN04045",
              "W31AN04071",
              "W31AN05172",
              "W31AN04109",
              "W31AN04060",
              "W31AN05270",
              "W31AN04076",
              "W31AN05273",
              "W31AN04056",
              "W31AN04132",
              "W31AN04062",
              "W31AN04904",
              "W31AN05276",
              "W31AN04081",
              "W31AN03969",
              "W31AN05252",
              "W31AN03928",
              "W31AN04034",
              "W31AN05509",
              "W31AN05148",
              "W31AN05654",
              "W31AN04901",
              "W31AN05472",
              "W31AN05297",
              "W31AN04082",
              "W31AN05089",
              "W31AN05646",
              "W31AN05106",
              "W31AN05227",
              "W31AN05143",
              "W31AN05271",
              "W31AN05209",
              "W31AN05302",
              "W31AN03509",
              "W31AN04987",
              "W31AN04113",
              "W31AN05151",
              "W31AN05278",
              "W31AN04078",
              "W31AN05155",
              "W31AN05210",
              "W31AN05141",
              "W31AN05207",
              "W31AN05196",
              "W31AN04117",
              "W31AN03997",
              "W31AN05422",
              "W31AN05074",
              "W31AN04735",
              "W31AN04911",
              "W31AN04035",
              "W31AN05198",
              "W31AN05218",
              "W31AN04522",
              "W31AN05144",
              "W31AN04121",
              "W31AN05249",
              "W31AN04116",
              "W31AN04096",
              "W31AN05254",
              "W31AN04075",
              "W31AN04038",
              "W31AN05233",
              "W31AN04114",
              "W31AN04007",
              "W31AN05256",
              "W31AN05176",
              "W31AN05189",
              "W31AN04511",
              "W31AN04646",
              "W31AN04932",
              "W31AN03363",
              "W31AN05283",
              "W31AN04951",
              "W31AN04962",
              "W31AN05266",
              "W31AN05242",
              "W31AN03558",
              "W31AN04044",
              "W31AN04061",
              "W31AN04025",
              "W31AN04057",
              "W31AN05201",
              "W31AN04675",
              "W31AN04973",
              "W31AN04725",
              "W31AN04738",
              "W31AN04085",
              "W31AN05620",
              "W31AN04101",
              "W31AN05467",
              "W31AN05636",
              "W31AN05203",
              "W31AN04135",
              "W31AN05192",
              "W31AN05215",
              "W31AN05635",
              "W31AN05512",
              "W31AN05594",
              "W31AN05237",
              "W31AN05613",
              "W31AN05434",
              "W31AN05450",
              "W31AN05446",
              "W31AN05642",
              "W31AN05294",
              "W31AN04093",
              "W31AN05076",
              "W31AN05984",
              "W31AN05913",
              "W31AN06172",
              "W31AN05656",
              "W31AN06179",
              "W31AN05708",
              "W31AN06473",
              "W31AN06231",
              "W31AN06487",
              "W31AN06285",
              "W31AN06196",
              "W31AN05703",
              "W31AN06238",
              "W31AN05959",
              "W31AN05807",
              "W31AN06439",
              "W31AN05991",
              "W31AN06287",
              "W31AN06180",
              "W31AN06154",
              "W31AN06340",
              "W31AN05749",
              "W31AN05181",
              "W31AN06112",
              "W31AN05735",
              "W31AN06010",
              "W31AN06008",
              "W31AN05982",
              "W31AN06236",
              "W31AN05871",
              "W31AN05769",
              "W31AN05864",
              "W31AN05999",
              "W31AN06121",
              "W31AN05745",
              "W31AN05969",
              "W31AN05760",
              "W31AN06202",
              "W31AN06011",
              "W31AN05820",
              "W31AN06394",
              "W31AN05936",
              "W31AN06214",
              "W31AN05630",
              "W31AN05958",
              "W31AN05886",
              "W31AN05938",
              "W31AN06260",
              "W31AN05856",
              "W31AN06278",
              "W31AN06441",
              "W31AN06463",
              "W31AN06311",
              "W31AN05916",
              "W31AN06104",
              "W31AN05772",
              "W31AN06386",
              "W31AN06391",
              "W31AN05848",
              "W31AN06397",
              "W31AN05507",
              "W31AN05809",
              "W31AN05508",
              "W31AN06265",
              "W31AN05158",
              "W31AN05361",
              "W31AN06090",
              "W31AN06091",
              "W31AN06134",
              "W31AN06221",
              "W31AN05833",
              "W31AN06298",
              "W31AN05275",
              "W31AN05563",
              "W31AN05601",
              "W31AN05136",
              "W31AN05668",
              "W31AN05468",
              "W31AN03943",
              "W31AN05491",
              "W31AN06400",
              "W31AN05712",
              "W31AN05762",
              "W31AN06025",
              "W31AN06176",
              "W31AN05811",
              "W31AN06006",
              "W31AN06203",
              "W31AN06148",
              "W31AN06220",
              "W31AN06082",
              "W31AN06497",
              "W31AN05927",
              "W31AN06168",
              "W31AN06228",
              "W31AN06297",
              "W31AN05352",
              "W31AN05877",
              "W31AN06434",
              "W31AN05920",
              "W31AN06436",
              "W31AN06329",
              "W31AN06234",
              "W31AN06269",
              "W31AN06206",
              "W31AN06353",
              "W31AN06514",
              "W31AN06385",
              "W31AN06224",
              "W31AN06106",
              "W31AN06448",
              "W31AN06470",
              "W31AN06393",
              "W31AN06455",
              "W31AN05798",
              "W31AN06323",
              "W31AN06222",
              "W31AN06321",
              "W31AN05802",
              "W31AN06446",
              "W31AN06396",
              "W31AN05696",
              "W31AN06286",
              "W31AN06346",
              "W31AN04125",
              "W31AN05841",
              "W31AN05664",
              "W31AN06026",
              "W31AN06057",
              "W31AN06186",
              "W31AN05055",
              "W31AN05725",
              "W31AN06001",
              "W31AN05829",
              "W31AN05976",
              "W31AN05883",
              "W31AN06018",
              "W31AN04090",
              "W31AN05748",
              "W31AN05945",
              "W31AN05587",
              "W31AN05853",
              "W31AN03955",
              "W31AN05178",
              "W31AN05701",
              "W31AN05674",
              "W31AN05101",
              "W31AN05895",
              "W31AN05564",
              "W31AN05902",
              "W31AN05471",
              "W31AN05448",
              "W31AN05388",
              "W31AN05787",
              "W31AN05258",
              "W31AN03938",
              "W31AN05763",
              "W31AN06035",
              "W31AN05753",
              "W31AN06087",
              "W31AN07772",
              "W31AN08002",
              "W31AN07940",
              "W31AN07776",
              "W31AN07890",
              "W31AN07798",
              "W31AN07913",
              "W31AN08346",
              "W31AN08023",
              "W31BN02462",
              "W31BN00565",
              "W31BN01264",
              "W31BN02711",
              "W31BN02508",
              "W31BN01580",
              "W31BN01704",
              "W31BN02475",
              "W31BN01835",
              "W31BN00628",
              "W31BN01944",
              "W31BN01025",
              "W31BN02471",
              "W31BN00447",
              "W31BN01819",
              "W31BN02800",
              "W31BN02580",
              "W31BN01392",
              "W31BN02526",
              "W31BN01238",
              "W31BN02476",
              "W31BN01977",
              "W31BN02054",
              "W31BN02697",
              "W31BN01810",
              "W31BN00441",
              "W31BN02616",
              "W31BN02644",
              "W31BN02477",
              "W31BN02529",
              "W31BN00207",
              "W31BN02465",
              "W31BN02452",
              "W31BN02456",
              "W31BN02438",
              "W31BN01177",
              "W31BN01771",
              "W31BN02473",
              "W31BN00875",
              "W31BN01988",
              "W31BN02601",
              "W31BN02221",
              "W31BN02543",
              "W31BN02345",
              "W31BN02786",
              "W31BN02337",
              "W31BN00292",
              "W31BN01405",
              "W31BN02784",
              "W31BN02339",
              "W31BN02360",
              "W31BN00550",
              "W31BN02581",
              "W31BN01138",
              "W31BN01128",
              "W31BN02856",
              "W31BN01435",
              "W31BN01878",
              "W31BN02750",
              "W31BN02349",
              "W31BN01246",
              "W31BN01399",
              "W31BN01563",
              "W31BN02618",
              "W31BN00242",
              "W31BN01042",
              "W31BN02686",
              "W31BN02513",
              "W31BN01204",
              "W31BN02868",
              "W31BN01825",
              "W31BN01165",
              "W31BN00083",
              "W31BN02873",
              "W31BN02700",
              "W31BN00481",
              "W31BN01121",
              "W31BN01941",
              "W31BN00516",
              "W31BN02509",
              "W31BN01725",
              "W31BN02020",
              "W31BN01366",
              "W31BN02532",
              "W31BN02040",
              "W31BN01811",
              "W31BN00502",
              "W31BN02271",
              "W31BN02680",
              "W31BN02847",
              "W31BN01171",
              "W31BN02243",
              "W31BN02561",
              "W31BN02045",
              "W31BN02710",
              "W31BN02087",
              "W31BN01964",
              "W31BN02673",
              "W31BN01380",
              "W31BN02871",
              "W31BN02797",
              "W31BN02670",
              "W31BN02632",
              "W31BN02818",
              "W31BN02564",
              "W31BN02712",
              "W31BN00394",
              "W31BN01711",
              "W31BN02541",
              "W31BN01732",
              "W31BN00574",
              "W31BN01808",
              "W31BN02472",
              "W31BN01896",
              "W31BN02635",
              "W31BN01965",
              "W31BN01994",
              "W31BN00821",
              "W31BN00089",
              "W31BN02178",
              "W31BN02716",
              "W31BN02043",
              "W31BN02492",
              "W31BN01957",
              "W31BN02631",
              "W31BN00549",
              "W31BN00080",
              "W31BN01134",
              "W31BN01909",
              "W31BN02046",
              "W31BN00119",
              "W31BN02596",
              "W31BN02320",
              "W31BN02781",
              "W31BN02882",
              "W31BN00068",
              "W31BN01489",
              "W31BN02807",
              "W31BN02859",
              "W31BN01987",
              "W31BN02826",
              "W31BN02273",
              "W31BN02353",
              "W31BN02347",
              "W31BN01334",
              "W31BN02010",
              "W31BN01850",
              "W31BN02704",
              "W31BN01712",
              "W31BN01671",
              "W31BN01818",
              "W31BN01827",
              "W31BN01699",
              "W31BN01697",
              "W31BN00594",
              "W31BN01958",
              "W31BN02566",
              "W31BN00547",
              "W31BN02002",
              "W31BN00067",
              "W31BN01034",
              "W31BN01789",
              "W31BN02860",
              "W31BN01546",
              "W31BN02617",
              "W31BN01092",
              "W31BN00551",
              "W31BN02458",
              "W31BN01760",
              "W31BN00754",
              "W31BN02861",
              "W31BN01899",
              "W31BN01824",
              "W31BN01938",
              "W31BN01816",
              "W31BN02863",
              "W31BN02499",
              "W31BN01351",
              "W31BN02014",
              "W31BN01948",
              "W31BN02874",
              "W31BN01795",
              "W31BN02322",
              "W31BN00660",
              "W31BN01768",
              "W31BN01130",
              "W31BN01736",
              "W31BN02328",
              "W31BN01804",
              "W31BN02667",
              "W31BN02714",
              "W31BN02260",
              "W31BN02533",
              "W31BN02240",
              "W31BN02593",
              "W31BN02576",
              "W31BN02829",
              "W31BN01906",
              "W31BN02824",
              "W31BN02329",
              "W31BN02297",
              "W31BN01997",
              "W31BN02870",
              "W31BN02356",
              "W31BN02823",
              "W31BN02740",
              "W31BN02838",
              "W31BN00086",
              "W31BN01761",
              "W31BN02671",
              "W31BN02366",
              "W31BN00556",
              "W31BN00393",
              "W31BN02310",
              "W31BN00649",
              "W31BN00542",
              "W31BN02372",
              "W31BN01852",
              "W31BN01916",
              "W31BN01893",
              "W31BN00159",
              "W31BN02408",
              "W31BN02516",
              "W31BN01576",
              "W31BN01836",
              "W31BN02642",
              "W31BN00459",
              "W31BN02676",
              "W31BN02705",
              "W31BN01953",
              "W31BN02628",
              "W31BN02625",
              "W31BN00652",
              "W31BN02474",
              "W31BN01874",
              "W31BN01821",
              "W31BN00428",
              "W31BN01102",
              "W31BN00439",
              "W31BN01858",
              "W31BN02555",
              "W31BN02467",
              "W31BN02457",
              "W31BN01163",
              "W31BN00410",
              "W31BN01955",
              "W31BN00069",
              "W31BN02466",
              "W31BN01135",
              "W31BN01332",
              "W31BN01783",
              "W31BN00968",
              "W31BN02623",
              "W31BN01915",
              "W31BN02722",
              "W31BN01665",
              "W31BN02605",
              "W31BN01744",
              "W31BN01860",
              "W31BN01767",
              "W31BN01162",
              "W31BN01729",
              "W31BN01004",
              "W31BN02038",
              "W31BN01830",
              "W31BN01741",
              "W31BN00781",
              "W31BN02066",
              "W31BN02851",
              "W31BN02009",
              "W31BN01529",
              "W31BN01136",
              "W31BN01809",
              "W31BN02149",
              "W31BN00117",
              "W31BN02437",
              "W31BN00149",
              "W31BN01981",
              "W31BN01837",
              "W31BN01812",
              "W31BN02453",
              "W31BN01973",
              "W31BN02613",
              "W31BN00527",
              "W31BN02510",
              "W31BN01873",
              "W31BN00848",
              "W31BN00176",
              "W31BN02512",
              "W31BN02585",
              "W31BN02583",
              "W31BN01318",
              "W31BN02470",
              "W31BN02620",
              "W31BN02563",
              "W31BN02451",
              "W31BN01826",
              "W31BN02464",
              "W31BN00474",
              "W31BN01980",
              "W31BN02072",
              "W31BN02858",
              "W31BN01214",
              "W31BN00236",
              "W31BN01805",
              "W31BN01030",
              "W31BN02039",
              "W31BN01975",
              "W31BN01976",
              "W31BN00487",
              "W31BN00559",
              "W31BN02463",
              "W31BN02614",
              "W31BN01970",
              "W31BN01110",
              "W31BN02633",
              "W31BN02572",
              "W31BN02545",
              "W31BN01990",
              "W31BN02005",
              "W31BN00209",
              "W31BN00218",
              "W31BN01120",
              "W31BN00228",
              "W31BN02790",
              "W31BN01978",
              "W31BN01722",
              "W31BN01971",
              "W31BN00151",
              "W31BN01726",
              "W31BN02497",
              "W31BN00233",
              "W31BN02548",
              "W31BN01688",
              "W31BN01793",
              "W31BN01923",
              "W31BN01086",
              "W31BN01519",
              "W31BN01386",
              "W31BN01595",
              "W31BN02723",
              "W31BN02883",
              "W31BN00568",
              "W31BN02621",
              "W31BN02880",
              "W31BN01119",
              "W31BN02744",
              "W31BN00633",
              "W31BN02244",
              "W31BN02236",
              "W31BN01593",
              "W31BN01859",
              "W31BN02735",
              "W31BN00831",
              "W31BN02206",
              "W31BN01799",
              "W31BN02654",
              "W31BN01700",
              "W31BN02798",
              "W31BN01840",
              "W31BN02523",
              "W31BN01756",
              "W31BN01674",
              "W31BN02019",
              "W31BN02864",
              "W31BN01037",
              "W31BN00975",
              "W31BN01212",
              "W31BN01506",
              "W31BN00361",
              "W31BN02484",
              "W31BN01299",
              "W31BN02447",
              "W31BN02840",
              "W31BN02008",
              "W31BN02647",
              "W31BN00165",
              "W31BN01486",
              "W31BN01968",
              "W31BN00946",
              "W31BN01954",
              "W31BN00506",
              "W31BN02503",
              "W31BN02624",
              "W31BN01774",
              "W31BN01140",
              "W31BN01843",
              "W31BN02577",
              "W31BN00701",
              "W31BN01974",
              "W31BN01672",
              "W31BN00832",
              "W31BN00840",
              "W31BN02538",
              "W31BN02288",
              "W31BN01684",
              "W31BN02528",
              "W31BN02468",
              "W31BN01814",
              "W31BN02006",
              "W31BN01550",
              "W31BN00015",
              "W31BN01172",
              "W31BN01822",
              "W31BN00522",
              "W31BN01897",
              "W31BN00308",
              "W31BN01748",
              "W31BN01709",
              "W31BN01568",
              "W31BN00293",
              "W31BN02187",
              "W31BN02599",
              "W31BN02681",
              "W31BN02496",
              "W31BN01089",
              "W31BN02011",
              "W31BN02611",
              "W31BN00041",
              "W31BN01174",
              "W31BN02432",
              "W31BN02396",
              "W31BN02368",
              "W31BN02369",
              "W31BN00734",
              "W31BN02331",
              "W31BN00795",
              "W31BN01282",
              "W31BN00611",
              "W31BN02410",
              "W31BN00425",
              "W31BN02381",
              "W31BN02306",
              "W31BN02248",
              "W31BN02816",
              "W31BN02319",
              "W31BN00543",
              "W31BN02257",
              "W31BN00416",
              "W31BN02773",
              "W31BN01701",
              "W31BN02821",
              "W31BN01734",
              "W31BN01683",
              "W31BN00903",
              "W31BN00011",
              "W31BN02352",
              "W31BN00617",
              "W31BN00005",
              "W31BN02276",
              "W31BN02846",
              "W31BN02558",
              "W31BN02834",
              "W31BN02815",
              "W31BN00826",
              "W31BN01689",
              "W31BN01879",
              "W31BN02801",
              "W31BN01746",
              "W31BN00145",
              "W31BN02678",
              "W31BN02571",
              "W31BN02606",
              "W31BN02380",
              "W31BN02429",
              "W31BN00973",
              "W31BN02391",
              "W31BN00099",
              "W31BN02659",
              "W31BN00817",
              "W31BN02424",
              "W31BN02123",
              "W31BN00485",
              "W31BN02400",
              "W31BN02582",
              "W31BN02436",
              "W31BN02721",
              "W31BN01379",
              "W31BN02376",
              "W31BN02604",
              "W31BN02971",
              "W31BN02900",
              "W31BN02898",
              "W31BN02431",
              "W31BN02701",
              "W31BN02026",
              "W31BN02944",
              "W31BN02976",
              "W31BN03087",
              "W31BN02931",
              "W31BN02739",
              "W31BN02279",
              "W31BN02926",
              "W31BN02955",
              "W31BN00989",
              "W31BN01564",
              "W31BN00669",
              "W31BN02504",
              "W31BN01184",
              "W31BN01833",
              "W31BN02584",
              "W31BN01998",
              "W31BN00655",
              "W31BN01105",
              "W31BN02506",
              "W31BN01982",
              "W31BN01149",
              "W31BN00995",
              "W31BN01347",
              "W31BN02854",
              "W31BN02685",
              "W31BN01807",
              "W31BN02666",
              "W31BN01125",
              "W31BN01231",
              "W31BN01508",
              "W31BN01574",
              "W31BN02706",
              "W31BN02652",
              "W31BN00355",
              "W31BN01985",
              "W31BN00096",
              "W31BN01387",
              "W31BN00007",
              "W31BN02677",
              "W31BN00756",
              "W31BN01803",
              "W31BN00860",
              "W31BN00615",
              "W31BN01961",
              "W31BN02042",
              "W31BN02012",
              "W31BN01751",
              "W31BN01226",
              "W31BN01698",
              "W31BN01999",
              "W31BN01170",
              "W31BN00675",
              "W31BN00623",
              "W31BN02679",
              "W31BN01951",
              "W31BN01695",
              "W31BN02461",
              "W31BN01772",
              "W31BN00003",
              "W31BN00055",
              "W31BN01853",
              "W31BN02004",
              "W31BN01630",
              "W31BN01553",
              "W31BN00569",
              "W31BN02546",
              "W31BN01753",
              "W31BN02037",
              "W31BN02289",
              "W31BN01500",
              "W31BN00963",
              "W31BN01505",
              "W31BN02802",
              "W31BN02309",
              "W31BN01298",
              "W31BN02373",
              "W31BN02525",
              "W31BN02371",
              "W31BN02661",
              "W31BN02131",
              "W31BN02720",
              "W31BN00614",
              "W31BN00813",
              "W31BN02550",
              "W31BN01730",
              "W31BN02414",
              "W31BN00091",
              "W31BN02419",
              "W31BN01762",
              "W31BN01842",
              "W31BN00470",
              "W31BN01583",
              "W31BN01928",
              "W31BN00432",
              "W31BN00121",
              "W31BN02877",
              "W31BN02003",
              "W31BN01169",
              "W31BN01677",
              "W31BN01882",
              "W31BN01103",
              "W31BN01972",
              "W31BN01247",
              "W31BN02034",
              "W31BN02444",
              "W31BN01258",
              "W31BN01381",
              "W31BN01652",
              "W31BN00704",
              "W31BN01027",
              "W31BN02338",
              "W31BN02540",
              "W31BN02480",
              "W31BN01914",
              "W31BN01707",
              "W31BN02234",
              "W31BN01865",
              "W31BN00668",
              "W31BN02718",
              "W31BN00618",
              "W31BN01703",
              "W31BN01922",
              "W31BN01757",
              "W31BN01235",
              "W31BN02375",
              "W31BN02630",
              "W31BN00433",
              "W31BN02754",
              "W31BN00624",
              "W31BN02791",
              "W31BN02423",
              "W31BN02318",
              "W31BN02420",
              "W31BN02061",
              "W31BN02315",
              "W31BN02307",
              "W31BN01488",
              "W31BN02820",
              "W31BN02836",
              "W31BN02848",
              "W31BN02412",
              "W31BN02763",
              "W31BN01285",
              "W31BN02324",
              "W31BN00144",
              "W31BN00972",
              "W31BN02407",
              "W31BN01639",
              "W31BN02689",
              "W31BN02708",
              "W31BN02767",
              "W31BN01395",
              "W31BN01420",
              "W31BN02702",
              "W31BN02387",
              "W31BN02641",
              "W31BN02486",
              "W31BN01959",
              "W31BN02841",
              "W31BN02421",
              "W31BN00992",
              "W31BN02312",
              "W31BN02483",
              "W31BN02490",
              "W31BN01962",
              "W31BN02547",
              "W31BN02814",
              "W31BN02500",
              "W31BN01733",
              "W31BN02549",
              "W31BN01300",
              "W31BN01829",
              "W31BN02459",
              "W31BN01148",
              "W31BN02522",
              "W31BN01669",
              "W31BN00888",
              "W31BN02587",
              "W31BN01718",
              "W31BN01129",
              "W31BN01141",
              "W31BN02031",
              "W31BN02865",
              "W31BN01823",
              "W31BN00446",
              "W31BN00134",
              "W31BN02489",
              "W31BN00528",
              "W31BN02588",
              "W31BN01903",
              "W31BN02857",
              "W31BN01394",
              "W31BN02828",
              "W31BN01880",
              "W31BN00002",
              "W31BN02501",
              "W31BN02262",
              "W31BN02233",
              "W31BN02672",
              "W31BN01565",
              "W31BN00137",
              "W31BN02684",
              "W31BN01813",
              "W31BN01877",
              "W31BN02849",
              "W31BN01635",
              "W31BN01868",
              "W31BN01657",
              "W31BN02869",
              "W31BN02364",
              "W31BN02363",
              "W31BN02537",
              "W31BN02806",
              "W31BN00553",
              "W31BN02598",
              "W31BN02747",
              "W31BN00980",
              "W31BN02570",
              "W31BN02201",
              "W31BN02379",
              "W31BN02242",
              "W31BN02386",
              "W31BN02634",
              "W31BN02725",
              "W31BN02675",
              "W31BN02799",
              "W31BN02382",
              "W31BN01670",
              "W31BN02778",
              "W31BN02255",
              "W31BN02544",
              "W31BN02542",
              "W31BN02789",
              "W31BN00769",
              "W31BN02597",
              "W31BN02648",
              "W31BN02780",
              "W31BN02835",
              "W31BN02743",
              "W31BN02664",
              "W31BN02326",
              "W31BN02690",
              "W31BN00127",
              "W31BN02770",
              "W31BN02295",
              "W31BN02153",
              "W31BN02267",
              "W31BN01441",
              "W31BN00449",
              "W31BN01545",
              "W31BN02359",
              "W31BN02765",
              "W31BN00845",
              "W31BN02655",
              "W31BN01702",
              "W31BN02792",
              "W31BN02653",
              "W31BN02425",
              "W31BN01621",
              "W31BN01745",
              "W31BN02395",
              "W31BN02751",
              "W31BN02422",
              "W31BN02731",
              "W31BN01664",
              "W31BN01543",
              "W31BN02300",
              "W31BN00139",
              "W31BN02741",
              "W31BN00607",
              "W31BN01794",
              "W31BN00391",
              "W31BN02270",
              "W31BN00126",
              "W31BN02662",
              "W31BN02441",
              "W31BN01747",
              "W31BN02776",
              "W31BN02794",
              "W31BN02304",
              "W31BN02713",
              "W31BN00079",
              "W31BN02303",
              "W31BN02853",
              "W31BN01097",
              "W31BN01582",
              "W31BN02253",
              "W31BN00868",
              "W31BN02390",
              "W31BN02520",
              "W31BN00187",
              "W31BN02355",
              "W31BN01289",
              "W31BN01244",
              "W31BN02761",
              "W31BN02660",
              "W31BN00133",
              "W31BN01889",
              "W31BN02370",
              "W31BN02442",
              "W31BN02029",
              "W31BN02749",
              "W31BN02771",
              "W31BN02810",
              "W31BN02393",
              "W31BN00530",
              "W31BN02384",
              "W31BN02502",
              "W31BN00916",
              "W31BN02524",
              "W31BN01083",
              "W31BN02091",
              "W31BN02719",
              "W31BN02839",
              "W31BN02813",
              "W31BN02302",
              "W31BN02892",
              "W31BN02296",
              "W31BN02398",
              "W31BN02293",
              "W31BN01223",
              "W31BN00312",
              "W31BN02239",
              "W31BN02687",
              "W31BN02693",
              "W31BN02409",
              "W31BN00993",
              "W31BN02507",
              "W31BN00153",
              "W31BN00341",
              "W31BN01445",
              "W31BN00994",
              "W31BN00950",
              "W31BN01112",
              "W31BN01597",
              "W31BN00243",
              "W31BN01926",
              "W31BN00063",
              "W31BN01079",
              "W31BN01891",
              "W31BN00577",
              "W31BN00108",
              "W31BN00250",
              "W31BN00031",
              "W31BN00755",
              "W31BN00141",
              "W31BN00256",
              "W31BN00313",
              "W31BN00688",
              "W31BN02241",
              "W31BN00334",
              "W31BN00575",
              "W31BN00797",
              "W31BN02200",
              "W31BN00709",
              "W31BN01594",
              "W31BN01385",
              "W31BN00801",
              "W31BN01525",
              "W31BN00234",
              "W31BN01382",
              "W31BN01304",
              "W31BN01499",
              "W31BN00545",
              "W31BN01417",
              "W31BN00785",
              "W31BN02176",
              "W31BN01224",
              "W31BN01494",
              "W31BN00345",
              "W31BN00444",
              "W31BN00859",
              "W31BN00466",
              "W31BN00268",
              "W31BN01309",
              "W31BN01038",
              "W31BN00630",
              "W31BN00311",
              "W31BN00374",
              "W31BN00460",
              "W31BN00123",
              "W31BN00386",
              "W31BN00924",
              "W31BN00198",
              "W31BN00305",
              "W31BN00582",
              "W31BN00426",
              "W31BN00947",
              "W31BN00863",
              "W31BN00331",
              "W31BN00495",
              "W31BN00480",
              "W31BN01560",
              "W31BN00878",
              "W31BN01021",
              "W31BN01181",
              "W31BN00116",
              "W31BN01354",
              "W31BN01082",
              "W31BN00705",
              "W31BN00453",
              "W31BN00306",
              "W31BN01383",
              "W31BN00679",
              "W31BN01188",
              "W31BN01245",
              "W31BN01124",
              "W31BN00490",
              "W31BN01295",
              "W31BN01575",
              "W31BN00588",
              "W31BN01929",
              "W31BN01442",
              "W31BN00362",
              "W31BN00768",
              "W31BN01934",
              "W31BN00288",
              "W31BN00742",
              "W31BN01294",
              "W31BN00581",
              "W31BN00910",
              "W31BN01291",
              "W31BN00696",
              "W31BN00856",
              "W31BN00113",
              "W31BN00996",
              "W31BN00435",
              "W31BN00572",
              "W31BN01887",
              "W31BN00510",
              "W31BN01234",
              "W31BN00557",
              "W31BN01619",
              "W31BN00248",
              "W31BN01109",
              "W31BN00775",
              "W31BN01070",
              "W31BN01284",
              "W31BN00111",
              "W31BN00914",
              "W31BN00122",
              "W31BN00627",
              "W31BN00824",
              "W31BN00235",
              "W31BN00152",
              "W31BN01419",
              "W31BN01537",
              "W31BN01026",
              "W31BN00297",
              "W31BN00984",
              "W31BN00730",
              "W31BN00076",
              "W31BN01158",
              "W31BN00578",
              "W31BN00476",
              "W31BN00879",
              "W31BN02033",
              "W31BN00900",
              "W31BN00280",
              "W31BN00223",
              "W31BN01221",
              "W31BN00130",
              "W31BN00385",
              "W31BN01429",
              "W31BN00651",
              "W31BN00255",
              "W31BN00576",
              "W31BN00029",
              "W31BN00167",
              "W31BN00278",
              "W31BN00737",
              "W31BN00032",
              "W31BN01198",
              "W31BN01463",
              "W31BN00554",
              "W31BN00822",
              "W31BN01933",
              "W31BN00637",
              "W31BN00558",
              "W31BN00760",
              "W31BN00697",
              "W31BN00906",
              "W31BN01517",
              "W31BN01010",
              "W31BN00414",
              "W31BN00245",
              "W31BN01178",
              "W31BN00866",
              "W31BN00155",
              "W31BN00698",
              "W31BN00648",
              "W31BN00077",
              "W31BN00013",
              "W31BN01389",
              "W31BN00431",
              "W31BN00230",
              "W31BN01009",
              "W31BN00713",
              "W31BN01947",
              "W31BN00604",
              "W31BN01462",
              "W31BN01055",
              "W31BN01551",
              "W31BN00039",
              "W31BN00794",
              "W31BN00333",
              "W31BN00468",
              "W31BN01090",
              "W31BN00889",
              "W31BN01465",
              "W31BN00672",
              "W31BN00451",
              "W31BN01052",
              "W31BN00501",
              "W31BN00749",
              "W31BN01229",
              "W31BN00954",
              "W31BN00819",
              "W31BN00097",
              "W31BN01201",
              "W31BN00716",
              "W31BN00042",
              "W31BN00310",
              "W31BN01310",
              "W31BN00203",
              "W31BN01239",
              "W31BN01256",
              "W31BN00492",
              "W31BN02139",
              "W31BN00098",
              "W31BN02063",
              "W31BN01249",
              "W31BN01885",
              "W31BN00101",
              "W31BN02183",
              "W31BN00532",
              "W31BN01269",
              "W31BN02122",
              "W31BN00892",
              "W31BN01476",
              "W31BN00663",
              "W31BN00770",
              "W31BN00423",
              "W31BN00609",
              "W31BN01540",
              "W31BN00019",
              "W31BN00566",
              "W31BN01033",
              "W31BN00837",
              "W31BN00523",
              "W31BN00694",
              "W31BN01628",
              "W31BN00261",
              "W31BN00072",
              "W31BN00025",
              "W31BN00671",
              "W31BN01919",
              "W31BN00456",
              "W31BN00735",
              "W31BN00871",
              "W31BN00034",
              "W31BN00593",
              "W31BN01479",
              "W31BN00909",
              "W31BN00723",
              "W31BN01000",
              "W31BN01605",
              "W31BN00526",
              "W31BN02172",
              "W31BN00247",
              "W31BN02015",
              "W31BN01325",
              "W31BN00747",
              "W31BN00777",
              "W31BN01060",
              "W31BN01475",
              "W31BN00465",
              "W31BN00330",
              "W31BN00771",
              "W31BN01345",
              "W31BN01101",
              "W31BN01007",
              "W31BN02049",
              "W31BN01279",
              "W31BN01409",
              "W31BN02068",
              "W31BN00193",
              "W31BN00967",
              "W31BN00188",
              "W31BN00515",
              "W31BN00109",
              "W31BN00802",
              "W31BN00395",
              "W31BN00420",
              "W31BN01927",
              "W31BN00877",
              "W31BN00969",
              "W31BN01443",
              "W31BN00380",
              "W31BN01175",
              "W31BN00767",
              "W31BN00087",
              "W31BN01118",
              "W31BN01485",
              "W31BN01156",
              "W31BN00488",
              "W31BN00422",
              "W31BN00978",
              "W31BN01180",
              "W31BN00062",
              "W31BN00854",
              "W31BN00093",
              "W31BN00066",
              "W31BN01104",
              "W31BN00368",
              "W31BN01098",
              "W31BN00562",
              "W31BN00894",
              "W31BN00413",
              "W31BN00135",
              "W31BN00548",
              "W31BN00260",
              "W31BN00402",
              "W31BN00852",
              "W31BN00430",
              "W31BN00731",
              "W31BN00343",
              "W31BN00990",
              "W31BN00579",
              "W31BN01352",
              "W31BN00991",
              "W31BN00021",
              "W31BN00452",
              "W31BN00571",
              "W31BN01049",
              "W31BN01451",
              "W31BN01287",
              "W31BN01064",
              "W31BN00937",
              "W31BN00686",
              "W31BN01626",
              "W31BN00745",
              "W31BN00298",
              "W31BN00216",
              "W31BN00162",
              "W31BN00838",
              "W31BN00434",
              "W31BN00936",
              "W31BN01236",
              "W31BN00461",
              "W31BN00786",
              "W31BN00591",
              "W31BN01911",
              "W31BN00933",
              "W31BN00217",
              "W31BN00613",
              "W31BN00366",
              "W31BN01045",
              "W31BN01662",
              "W31BN00956",
              "W31BN00642",
              "W31BN01509",
              "W31BN00115",
              "W31BN01044",
              "W31BN02078",
              "W31BN00252",
              "W31BN02085",
              "W31BN00327",
              "W31BN01321",
              "W31BN01358",
              "W31BN01176",
              "W31BN01056",
              "W31BN00360",
              "W31BN00300",
              "W31BN00322",
              "W31BN00006",
              "W31BN01122",
              "W31BN01631",
              "W31BN00496",
              "W31BN00443",
              "W31BN01166",
              "W31BN00491",
              "W31BN00519",
              "W31BN00721",
              "W31BN01636",
              "W31BN01255",
              "W31BN00714",
              "W31BN00263",
              "W31BN02143",
              "W31BN00163",
              "W31BN00350",
              "W31BN02137",
              "W31BN00249",
              "W31BN01364",
              "W31BN00148",
              "W31BN00764",
              "W31BN00383",
              "W31BN00778",
              "W31BN01233",
              "W31BN00057",
              "W31BN00222",
              "W31BN00806",
              "W31BN00323",
              "W31BN02188",
              "W31BN00621",
              "W31BN00981",
              "W31BN00146",
              "W31BN01087",
              "W31BN00776",
              "W31BN01008",
              "W31BN00494",
              "W31BN00411",
              "W31BN00901",
              "W31BN00830",
              "W31BN00887",
              "W31BN00638",
              "W31BN00206",
              "W31BN01460",
              "W31BN00934",
              "W31BN01094",
              "W31BN00259",
              "W31BN00740",
              "W31BN01222",
              "W31BN00301",
              "W31BN00112",
              "W31BN01051",
              "W31BN00009",
              "W31BN00587",
              "W31BN00606",
              "W31BN00299",
              "W31BN00929",
              "W31BN00124",
              "W31BN01447",
              "W31BN00712",
              "W31BN00397",
              "W31BN01053",
              "W31BN00214",
              "W31BN00935",
              "W31BN01376",
              "W31BN00237",
              "W31BN01303",
              "W31BN01035",
              "W31BN00319",
              "W31BN00390",
              "W31BN00186",
              "W31BN00706",
              "W31BN01259",
              "W31BN00046",
              "W31BN01940",
              "W31BN01080",
              "W31BN01549",
              "W31BN00352",
              "W31BN00599",
              "W31BN01081",
              "W31BN01266",
              "W31BN00953",
              "W31BN00106",
              "W31BN00961",
              "W31BN01966",
              "W31BN00823",
              "W31BN01431",
              "W31BN00033",
              "W31BN01459",
              "W31BN00683",
              "W31BN00499",
              "W31BN00803",
              "W31BN02595",
              "W31BN00586",
              "W31BN01307",
              "W31BN01161",
              "W31BN00337",
              "W31BN00377",
              "W31BN00339",
              "W31BN00872",
              "W31BN00761",
              "W31BN00927",
              "W31BN01306",
              "W31BN00982",
              "W31BN01329",
              "W31BN01315",
              "W31BN00239",
              "W31BN01062",
              "W31BN00885",
              "W31BN00332",
              "W31BN00727",
              "W31BN00529",
              "W31BN01250",
              "W31BN00088",
              "W31BN00075",
              "W31BN00537",
              "W31BN00440",
              "W31BN00779",
              "W31BN00357",
              "W31BN00147",
              "W31BN01047",
              "W31BN01622",
              "W31BN00473",
              "W31BN00027",
              "W31BN00702",
              "W31BN01931",
              "W31BN01416",
              "W31BN01496",
              "W31BN00399",
              "W31BN00081",
              "W31BN01373",
              "W31BN00269",
              "W31BN00873",
              "W31BN00017",
              "W31BN00450",
              "W31BN00851",
              "W31BN00699",
              "W31BN00403",
              "W31BN00038",
              "W31BN01288",
              "W31BN00535",
              "W31BN01490",
              "W31BN00504",
              "W31BN00078",
              "W31BN00316",
              "W31BN01206",
              "W31BN00254",
              "W31BN01920",
              "W31BN00620",
              "W31BN00349",
              "W31BN00170",
              "W31BN00902",
              "W31BN00158",
              "W31BN00517",
              "W31BN00724",
              "W31BN01151",
              "W31BN00102",
              "W31BN01371",
              "W31BN01607",
              "W31BN00765",
              "W31BN00043",
              "W31BN00974",
              "W31BN00059",
              "W31BN01921",
              "W31BN01050",
              "W31BN00442",
              "W31BN00943",
              "W31BN00882",
              "W31BN00497",
              "W31BN00061",
              "W31BN01599",
              "W31BN02152",
              "W31BN00220",
              "W31BN01271",
              "W31BN02203",
              "W31BN00181",
              "W31BN01477",
              "W31BN01343",
              "W31BN01418",
              "W31BN01194",
              "W31BN01262",
              "W31BN00965",
              "W31BN00105",
              "W31BN00484",
              "W31BN01225",
              "W31BN00788",
              "W31BN01078",
              "W31BN00602",
              "W31BN00128",
              "W31BN00023",
              "W31BN00404",
              "W31BN00168",
              "W31BN01243",
              "W31BN00958",
              "W31BN01196",
              "W31BN00156",
              "W31BN00729",
              "W31BN00225",
              "W31BN00287",
              "W31BN00421",
              "W31BN00224",
              "W31BN01227",
              "W31BN00284",
              "W31BN01530",
              "W31BN01526",
              "W31BN00536",
              "W31BN00520",
              "W31BN00645",
              "W31BN00040",
              "W31BN00347",
              "W31BN01240",
              "W31BN01157",
              "W31BN01571",
              "W31BN00200",
              "W31BN00051",
              "W31BN00475",
              "W31BN01391",
              "W31BN00325",
              "W31BN00324",
              "W31BN01200",
              "W31BN00478",
              "W31BN02216",
              "W31BN00546",
              "W31BN00928",
              "W31BN01308",
              "W31BN01046",
              "W31BN00318",
              "W31BN01241",
              "W31BN00919",
              "W31BN01328",
              "W31BN00171",
              "W31BN01113",
              "W31BN00809",
              "W31BN00417",
              "W31BN01005",
              "W31BN00036",
              "W31BN01324",
              "W31BN00229",
              "W31BN00290",
              "W31BN00567",
              "W31BN01167",
              "W31BN01350",
              "W31BN00610",
              "W31BN00857",
              "W31BN00315",
              "W31BN00346",
              "W31BN00931",
              "W31BN00921",
              "W31BN01143",
              "W31BN00317",
              "W31BN01538",
              "W31BN02268",
              "W31BN01197",
              "W31BN00285",
              "W31BN00512",
              "W31BN01218",
              "W31BN01041",
              "W31BN00920",
              "W31BN00952",
              "W31BN00720",
              "W31BN00281",
              "W31BN01281",
              "W31BN00014",
              "W31BN00348",
              "W31BN00891",
              "W31BN00114",
              "W31BN00342",
              "W31BN00608",
              "W31BN00103",
              "W31BN00182",
              "W31BN00541",
              "W31BN00865",
              "W31BN01278",
              "W31BN01349",
              "W31BN00791",
              "W31BN01202",
              "W31BN01401",
              "W31BN01390",
              "W31BN00382",
              "W31BN00531",
              "W31BN00808",
              "W31BN01501",
              "W31BN00265",
              "W31BN00748",
              "W31BN00179",
              "W31BN00500",
              "W31BN00180",
              "W31BN00949",
              "W31BN01305",
              "W31BN00835",
              "W31BN01277",
              "W31BN00107",
              "W31BN02127",
              "W31BN00267",
              "W31BN00392",
              "W31BN01131",
              "W31BN00419",
              "W31BN00084",
              "W31BN00400",
              "W31BN00780",
              "W31BN01422",
              "W31BN01024",
              "W31BN00508",
              "W31BN00751",
              "W31BN00274",
              "W31BN00513",
              "W31BN00282",
              "W31BN00307",
              "W31BN01029",
              "W31BN01003",
              "W31BN00534",
              "W31BN00071",
              "W31BN00409",
              "W31BN00743",
              "W31BN00498",
              "W31BN01481",
              "W31BN00693",
              "W31BN01107",
              "W31BN01210",
              "W31BN01362",
              "W31BN02035",
              "W31BN01261",
              "W31BN00890",
              "W31BN00296",
              "W31BN01952",
              "W31BN01144",
              "W31BN00898",
              "W31BN00016",
              "W31BN00177",
              "W31BN01272",
              "W31BN01186",
              "W31BN00276",
              "W31BN01943",
              "W31BN01949",
              "W31BN01100",
              "W31BN00427",
              "W31BN01457",
              "W31BN01577",
              "W31BN00507",
              "W31BN01017",
              "W31BN00246",
              "W31BN00424",
              "W31BN01618",
              "W31BN01353",
              "W31BN00401",
              "W31BN00092",
              "W31BN01534",
              "W31BN00356",
              "W31BN01581",
              "W31BN00189",
              "W31BN00912",
              "W31BN00911",
              "W31BN01480",
              "W31BN00862",
              "W31BN01168",
              "W31BN00367",
              "W31BN00908",
              "W31BN02022",
              "W31BN00477",
              "W31BN00457",
              "W31BN00454",
              "W31BN00855",
              "W31BN00226",
              "W31BN01043",
              "W31BN01023",
              "W31BN00264",
              "W31BN01433",
              "W31BN01132",
              "W31BN00037",
              "W31BN01237",
              "W31BN00858",
              "W31BN00544",
              "W31BN01640",
              "W31BN01924",
              "W31BN00590",
              "W31BN00150",
              "W31BN00640",
              "W31BN00619",
              "W31BN00738",
              "W31BN00320",
              "W31BN00140",
              "W31BN00157",
              "W31BN00388",
              "W31BN01528",
              "W31BN00479",
              "W31BN00752",
              "W31BN01205",
              "W31BN01592",
              "W31BN00957",
              "W31BN00932",
              "W31BN00381",
              "W31BN00601",
              "W31BN00674",
              "W31BN01613",
              "W31BN01625",
              "W31BN00509",
              "W31BN00321",
              "W31BN00358",
              "W31BN00302",
              "W31BN00412",
              "W31BN00208",
              "W31BN01020",
              "W31BN00511",
              "W31BN00930",
              "W31BN01871",
              "W31BN00664",
              "W31BN01312",
              "W31BN00448",
              "W31BN00493",
              "W31BN00047",
              "W31BN00864",
              "W31BN00626",
              "W31BN00673",
              "W31BN01228",
              "W31BN01587",
              "W31BN01068",
              "W31BN00524",
              "W31BN01327",
              "W31BN00959",
              "W31BN00483",
              "W31BN00951",
              "W31BN00844",
              "W31BN00251",
              "W31BN01589",
              "W31BN00384",
              "W31BN01147",
              "W31BN02140",
              "W31BN02086",
              "W31BN00796",
              "W31BN00846",
              "W31BN01412",
              "W31BN00415",
              "W31BN01617",
              "W31BN01627",
              "W31BN01142",
              "W31BN00070",
              "W31BN01372",
              "W31BN00364",
              "W31BN00644",
              "W31BN01406",
              "W31BN00555",
              "W31BN00241",
              "W31BN00314",
              "W31BN00365",
              "W31BN01520",
              "W31BN01393",
              "W31BN00372",
              "W31BN01454",
              "W31BN00853",
              "W31BN00190",
              "W31BN00886",
              "W31BN00467",
              "W31BN00722",
              "W31BN01153",
              "W31BN01077",
              "W31BN00053",
              "W31BN01275",
              "W31BN01164",
              "W31BN02133",
              "W31BN01925",
              "W31BN00676",
              "W31BN02275",
              "W31BN02013",
              "W31BN02286",
              "W31BN01063",
              "W31BN02168",
              "W31BN00166",
              "W31BN02051",
              "W31BN00904",
              "W31BN02089",
              "W31BN01019",
              "W31BN01946",
              "W31BN00917",
              "W31BN02041",
              "W31BN00074",
              "W31BN00174",
              "W31BN01213",
              "W31BN01015",
              "W31BN01099",
              "W31BN00363",
              "W31BN01531",
              "W31BN00191",
              "W31BN00690",
              "W31BN00436",
              "W31BN01483",
              "W31BN01421",
              "W31BN00962",
              "W31BN01559",
              "W31BN01230",
              "W31BN01185",
              "W31BN00289",
              "W31BN01190",
              "W31BN00625",
              "W31BN00746",
              "W31BN00561",
              "W31BN00539",
              "W31BN00028",
              "W31BN00841",
              "W31BN00303",
              "W31BN01644",
              "W31BN00880",
              "W31BN00681",
              "W31BN00437",
              "W31BN01346",
              "W31BN00942",
              "W31BN00204",
              "W31BN00944",
              "W31BN00948",
              "W31BN01624",
              "W31BN00154",
              "W31BN00710",
              "W31BN00050",
              "W31BN00118",
              "W31BN00605",
              "W31BN00231",
              "W31BN00104",
              "W31BN00336",
              "W31BN01398",
              "W31BN00398",
              "W31BN00850",
              "W31BN01263",
              "W31BN00056",
              "W31BN01032",
              "W31BN00945",
              "W31BN01301",
              "W31BN01913",
              "W31BN00923",
              "W31BN00082",
              "W31BN01013",
              "W31BN00340",
              "W31BN00998",
              "W31BN01016",
              "W31BN00275",
              "W31BN00054",
              "W31BN01253",
              "W31BN00458",
              "W31BN00396",
              "W31BN01137",
              "W31BN00895",
              "W31BN00279",
              "W31BN01054",
              "W31BN00570",
              "W31BN00874",
              "W31BN00869",
              "W31BN01006",
              "W31BN00309",
              "W31BN00596",
              "W31BN00665",
              "W31BN01369",
              "W31BN01057",
              "W31BN00065",
              "W31BN00600",
              "W31BN01011",
              "W31BN00258",
              "W31BN00020",
              "W31BN01623",
              "W31BN01302",
              "W31BN00238",
              "W31BN01507",
              "W31BN01516",
              "W31BN00304",
              "W31BN00793",
              "W31BN00689",
              "W31BN00732",
              "W31BN00750",
              "W31BN01276",
              "W31BN00757",
              "W31BN01059",
              "W31BN01596",
              "W31BN01159",
              "W31BN00110",
              "W31BN00045",
              "W31BN00505",
              "W31BN00955",
              "W31BN01473",
              "W31BN01612",
              "W31BN00800",
              "W31BN01515",
              "W31BN02088",
              "W31BN00680",
              "W31BN00073",
              "W31BN00820",
              "W31BN00939",
              "W31BN00195",
              "W31BN00695",
              "W31BN00573",
              "W31BN00603",
              "W31BN00798",
              "W31BN00022",
              "W31BN01651",
              "W31BN00232",
              "W31BN01339",
              "W31BN02266",
              "W31BN01145",
              "W31BN01320",
              "W31BN00884",
              "W31BN00595",
              "W31BN00462",
              "W31BN01360",
              "W31BN01048",
              "W31BN00979",
              "W31BN01426",
              "W31BN00988",
              "W31BN01863",
              "W31BN00482",
              "W31BN00915",
              "W31BN00212",
              "W31BN00685",
              "W31BN00272",
              "W31BN00030",
              "W31BN01088",
              "W31BN00326",
              "W31BN00389",
              "W31BN00464"
            ]
          },
          "webhookUrl": "https://n8n.mes.coros.team/prod/OMS_OVERSEA",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "89b743bb-a064-47a1-a804-c71df362f482",
  "activeVersionId": null,
  "versionCounter": 7,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-02-03T08:47:50.891Z",
      "createdAt": "2026-02-03T08:47:50.891Z",
      "role": "workflow:owner",
      "workflowId": "N35BVOG5eWr3Dpx4",
      "projectId": "bEZCDhUuacQnl4pP",
      "project": {
        "updatedAt": "2024-05-30T17:44:47.541Z",
        "createdAt": "2024-05-30T17:44:47.541Z",
        "id": "bEZCDhUuacQnl4pP",
        "name": "Easy wang <e@mpnew.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "94775e1f-fc17-45ee-9e00-e7bc7ec06090"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}