raw-data/n8n-workflows/nkdn6Gny3uEDZagN.json
{
  "updatedAt": "2025-12-19T08:33:45.679Z",
  "createdAt": "2025-07-10T02:28:12.517Z",
  "id": "nkdn6Gny3uEDZagN",
  "name": "get_joborder_Pagination",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "be7c39d9-980c-47d0-a15d-90ca38afda1e",
              "leftValue": "={{ $('Webhook').item.json.query.joborder_number }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bc229846-5ac5-42ce-be67-590320476637",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -256,
        -16
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"200\",\n  \"msg\":\"查询成功\",\n  \"result\":{{JSON.stringify($json.result)}},\n  \"total_count\":\"{{ $json.result[0].total_count }}\"\n}",
        "options": {}
      },
      "id": "2b78ed7a-8d1d-4d16-a5ff-0591044dc966",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        352,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "let res = [];\n\nconst allItems = $input.all();\n\nfor (const item of allItems) {\n  let itemJson = item.json || {}; // 如果 item.json 是 undefined，使用空对象作为默认值\n  let translatedType = \"\"; // 变量保存翻译后的类型\n\n  switch (itemJson.joborder_type) {\n    case \"ASSY\":\n      translatedType = \"组装\";\n      break;\n    case \"PACK\":\n      translatedType = \"包装\";\n      break;\n    case \"AfterSale\":\n      translatedType = \"售后\";\n      break;\n    case \"Repair\":\n      translatedType = \"维修\";\n      break;\n  }\n\n  // 添加或覆盖翻译后的类型\n  itemJson = {\n    joborder_id: itemJson.joborder_id || \"\",\n    joborder_number: itemJson.joborder_number || \"\",\n    joborder_type: itemJson.joborder_type || \"\",\n    order_number: itemJson.order_number || \"\",\n    phase: itemJson.phase || \"\",\n    status: itemJson.status || \"\",\n    createtime: itemJson.createtime || \"\",\n    product_quantity: itemJson.product_quantity || \"\",\n    printinfobox_id: itemJson.printinfobox_id || \"\",\n    user_name: itemJson.user_name || \"\",\n    printinfo_name: itemJson.printinfo_name || \"\",\n    printinfobox_name: itemJson.printinfobox_name || \"\",\n    product_code: itemJson.product_code || \"\",\n    procedure_list_name: itemJson.procedure_list_name || \"\",\n    printinfo_id: itemJson.printinfo_id || \"\",\n    product_id: itemJson.product_id || \"\",\n    procedure_list_id: itemJson.procedure_list_id || \"\",\n    total_count: itemJson.total_count || \"\",\n    joborder_type_translated: translatedType,\n    printinfo_second_name: itemJson.printinfo_second_name || \"\",\n    printinfo_second_id: itemJson.printinfo_second_id || \"\",\n  };\n\n  res.push(itemJson);\n}\n\nreturn { result: res };\n"
      },
      "id": "9d7b59eb-01db-4fdc-be4a-5e1a2df9fb1a",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"200\",\n  \"msg\":\"查询成功\",\n  \"result\":{{JSON.stringify($json.result)}}\n}",
        "options": {}
      },
      "id": "1a0ee0d5-7cf8-4d91-85a1-3c592315fb51",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        336,
        -96
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get_joborder_Pagination",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d19c18e1-dad5-4548-a3ea-930c3403d9f9",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -624,
        -16
      ],
      "webhookId": "c443fb97-9156-4305-b330-36fb25bde51b"
    },
    {
      "parameters": {
        "jsCode": "let res = [];\n\nconst allItems = $input.all();\n\nfor (const item of allItems) {\n  let itemJson = item.json || {}; // 如果 item.json 是 undefined，使用空对象作为默认值\n  let translatedType = \"\"; // 变量保存翻译后的类型\n\n  switch (itemJson.joborder_type) {\n    case \"ASSY\":\n      translatedType = \"组装\";\n      break;\n    case \"PACK\":\n      translatedType = \"包装\";\n      break;\n    case \"AfterSale\":\n      translatedType = \"售后\";\n      break;\n    case \"Repair\":\n      translatedType = \"维修\";\n      break;\n  }\n\n  // 添加或覆盖翻译后的类型\n  itemJson = {\n    joborder_id: itemJson.joborder_id || \"\",\n    joborder_number: itemJson.joborder_number || \"\",\n    joborder_type: itemJson.joborder_type || \"\",\n    order_number: itemJson.order_number || \"\",\n    phase: itemJson.phase || \"\",\n    status: itemJson.status || \"\",\n    createtime: itemJson.createtime || \"\",\n    product_quantity: itemJson.product_quantity || \"\",\n    printinfobox_id: itemJson.printinfobox_id || \"\",\n    user_name: itemJson.user_name || \"\",\n    printinfo_name: itemJson.printinfo_name || \"\",\n    printinfobox_name: itemJson.printinfobox_name || \"\",\n    product_code: itemJson.product_code || \"\",\n    procedure_list_name: itemJson.procedure_list_name || \"\",\n    printinfo_id: itemJson.printinfo_id || \"\",\n    product_id: itemJson.product_id || \"\",\n    procedure_list_id: itemJson.procedure_list_id || \"\",\n    total_count: itemJson.total_count || \"\",\n    joborder_type_translated: translatedType,\n    printinfo_second_name: itemJson.printinfo_second_name || \"\",\n    printinfo_second_id: itemJson.printinfo_second_id || \"\",\n  };\n\n  res.push(itemJson);\n}\n\nreturn { result: res };\n"
      },
      "id": "e6871a6c-5b2e-4e58-987d-6438dafa73a4",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"400\",\n  \"msg\":\"数据库报错，请联系IT部门\"\n}",
        "options": {}
      },
      "id": "4fc27904-22e2-4f7d-8eac-508104712c16",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        192,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n     jo.joborder_id, \n     jo.joborder_number, \n     jo.joborder_type, \n     jo.order_number, \n     jo.phase, \n     jo.status, \n     jo.createtime, \n     jo.product_quantity, \n     jo.printinfobox_id,\n     jo.printinfo_second_id,              -- 新增：第二打印信息ID\n     u.user_name AS user_name, \n     p1.print_name AS printinfo_name, \n     p2.print_name AS printinfobox_name, \n     p3.print_name AS printinfo_second_name, -- 新增：第二打印信息名称\n     pinfo2.product_code, \n     pinfo2.product_model_id, \n     pl.procedure_list_name, \n     jo.printinfo_id, \n     jo.product_id, \n     jo.procedure_list_id, \n     COUNT(*) OVER() AS total_count \n FROM \n     mes.joborder jo \n LEFT JOIN \n     mes.sys_user u ON jo.user_id = u.user_id \n LEFT JOIN \n     mes.printinfo p1 ON jo.printinfo_id = p1.printinfo_id \n LEFT JOIN \n     mes.printinfo p2 ON jo.printinfobox_id = p2.printinfo_id \n LEFT JOIN \n     mes.printinfo p3 ON jo.printinfo_second_id = p3.printinfo_id  -- 新增：关联第二打印信息\n LEFT JOIN \n     mes.product_info pinfo2 ON jo.product_id = pinfo2.product_id \n LEFT JOIN \n     mes.procedure_list pl ON jo.procedure_list_id = pl.procedure_list_id \n WHERE \n     jo.status = '1' \n and jo.joborder_number ='{{ $('Webhook').item.json.query.joborder_number }}' \n -- order by pinfo2.product_model_id ASC, jo.createtime DESC \n order by jo.createtime DESC \n -- order by pinfo2.product_model_id \n limit {{$json.pageSize}} OFFSET {{ $json.offset }};",
        "options": {}
      },
      "id": "6f54217d-e21b-428e-8e7b-b5178f038ef3",
      "name": "Execute a SQL query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -64,
        -96
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n     jo.joborder_id, \n     jo.joborder_number, \n     jo.joborder_type, \n     jo.order_number, \n     jo.phase, \n     jo.status, \n     jo.createtime, \n     jo.product_quantity, \n     jo.printinfobox_id, \n     jo.printinfo_second_id,                  -- [新增] 第二打印信息ID\n     u.user_name AS user_name, \n     p1.print_name AS printinfo_name, \n     p2.print_name AS printinfobox_name, \n     p3.print_name AS printinfo_second_name,  -- [新增] 第二打印信息名称\n     pinfo2.product_code, \n     pinfo2.product_model_id, \n     pl.procedure_list_name, \n     jo.printinfo_id, \n     jo.product_id, \n     jo.procedure_list_id, \n     COUNT(*) OVER() AS total_count \n FROM \n     mes.joborder jo \n LEFT JOIN \n     mes.sys_user u ON jo.user_id = u.user_id \n LEFT JOIN \n     mes.printinfo p1 ON jo.printinfo_id = p1.printinfo_id \n LEFT JOIN \n     mes.printinfo p2 ON jo.printinfobox_id = p2.printinfo_id \n LEFT JOIN \n     mes.printinfo p3 ON jo.printinfo_second_id = p3.printinfo_id -- [新增] 关联第二打印信息，使用 LEFT JOIN 处理空值\n LEFT JOIN \n     mes.product_info pinfo2 ON jo.product_id = pinfo2.product_id \n LEFT JOIN \n     mes.procedure_list pl ON jo.procedure_list_id = pl.procedure_list_id \n WHERE \n      jo.status = '1' \n -- order by pinfo2.product_model_id ASC, jo.createtime DESC \n order by jo.createtime DESC \n -- order by pinfo2.product_model_id \n limit {{$json.pageSize}} OFFSET {{ $json.offset }}; ",
        "options": {}
      },
      "id": "e69ed48e-3f99-4f68-8c0f-641bdac8df6a",
      "name": "Execute a SQL query1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -64,
        80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n//判断查询的条件是否存在\n//构建查询的SQL语句\nconst sqlParams={};\nfor (const item of $input.all()) {\n\nconst offset=(item.json.query.pageNo-1)*item.json.query.pageSize;\nsqlParams.offset=offset;\nsqlParams.pageSize=item.json.query.pageSize;\n}\n\nreturn sqlParams;"
      },
      "id": "b7db7857-99cf-4a5c-a3b7-7e9677dbe407",
      "name": "check params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -16
      ]
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "check params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check params": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "192.168.192.2",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "0",
            "accept-encoding": "gzip",
            "user-agent": "ReactorNetty/1.1.22",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {
            "joborder_number": "1234567890",
            "pageSize": "10",
            "pageNo": "1"
          },
          "body": {},
          "webhookUrl": "https://n8n.mes.coros.team/prod/get_joborder_Pagination",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "3223ff0e-c4df-4fda-a960-213db6a53f0e",
  "activeVersionId": "3223ff0e-c4df-4fda-a960-213db6a53f0e",
  "versionCounter": 34,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-07-10T02:28:12.517Z",
      "createdAt": "2025-07-10T02:28:12.517Z",
      "role": "workflow:owner",
      "workflowId": "nkdn6Gny3uEDZagN",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}