raw-data/n8n-workflows/nmpEGHShPVEUrYhq.json
{
  "updatedAt": "2025-07-15T08:07:09.620Z",
  "createdAt": "2025-06-19T07:50:33.154Z",
  "id": "nmpEGHShPVEUrYhq",
  "name": "Resouce_Register",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from mes.resources r \nwhere r.resource_mac ='{{ $json.Machine_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -736,
        416
      ],
      "id": "f7dc7310-e02b-43c4-840d-73805edbcc9a",
      "name": "判断mac地址是否存在",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "4jSeve9X8u4zjkBA",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f3303ae8-2ae7-4dd7-98df-a0940aad6e54",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -512,
        416
      ],
      "id": "8e2b2aeb-5a85-460b-94fe-8a1816ebc309",
      "name": "If"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "resources",
          "mode": "list",
          "cachedResultName": "resources"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "create_time": "={{ $now }}",
            "resource_status": 1,
            "resource_mac": "={{ $('When Executed by Another Workflow').item.json.Machine_id }}",
            "resource_info": "={{ $json }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resource_name",
              "displayName": "resource_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resource_type",
              "displayName": "resource_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resource_info",
              "displayName": "resource_info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "resource_mac",
              "displayName": "resource_mac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resource_status",
              "displayName": "resource_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "procedure_id",
              "displayName": "procedure_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "package_id",
              "displayName": "package_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_delete",
              "displayName": "is_delete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "purchase_time",
              "displayName": "purchase_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "create_time",
              "displayName": "create_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_online",
              "displayName": "is_online",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "update_status",
              "displayName": "update_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "online_update_time",
              "displayName": "online_update_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        320
      ],
      "id": "688600b1-ed6c-4fb1-8716-31750e1d5786",
      "name": "插入数据",
      "credentials": {
        "postgres": {
          "id": "4jSeve9X8u4zjkBA",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "resources",
          "mode": "list",
          "cachedResultName": "resources"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "resource_info": "={{ $json }}",
            "resource_mac": "={{ $('When Executed by Another Workflow').item.json.Machine_id }}"
          },
          "matchingColumns": [
            "resource_mac"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resource_name",
              "displayName": "resource_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resource_type",
              "displayName": "resource_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resource_info",
              "displayName": "resource_info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resource_mac",
              "displayName": "resource_mac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resource_status",
              "displayName": "resource_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "procedure_id",
              "displayName": "procedure_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "package_id",
              "displayName": "package_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_delete",
              "displayName": "is_delete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "purchase_time",
              "displayName": "purchase_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "create_time",
              "displayName": "create_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_online",
              "displayName": "is_online",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "update_status",
              "displayName": "update_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "online_update_time",
              "displayName": "online_update_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        528
      ],
      "id": "86a0009b-a162-46a6-840a-a66bac0430d2",
      "name": "更新数据",
      "credentials": {
        "postgres": {
          "id": "4jSeve9X8u4zjkBA",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -976,
        416
      ],
      "id": "4155f892-ad2b-4195-988c-5d8f08ffa5a0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json:{\n   ip: $('When Executed by Another Workflow').first().json.IP\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        320
      ],
      "id": "ffb8c916-d472-448a-8f6a-2d3f28bfc713",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json:{\n   ip: $('When Executed by Another Workflow').first().json.IP\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        528
      ],
      "id": "d5f30082-d650-41a9-b0a1-4ec6868bbb7f",
      "name": "Code1"
    }
  ],
  "connections": {
    "判断mac地址是否存在": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "判断mac地址是否存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "插入数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "更新数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "SN": "W52BD00112",
          "uuid": "",
          "Procedure_name": "ATE测试",
          "Result": "fail",
          "Data_type": "1",
          "Machine_id": "4C-79-6E-CB-2E-42",
          "IP": "192.168.32.60",
          "User_id": "123",
          "Data": {
            "VenCode": "COROS",
            "MO": "Default",
            "Line": "1线",
            "Station": "ATE测试",
            "Workshop": "2F",
            "Model": "W332",
            "Detail": "Item=Slot1,MinValue=,MeasuredValue=,MaxValue=,Result=OK;Item=序列号,MinValue=下限,MeasuredValue=COROS APEX 4 42mm 81CF9F,MaxValue=上限,UA=单位,Result=NG;Item=日期,MinValue=,MeasuredValue=2025/06/18,MaxValue=,UA=,Result=NG;"
          }
        }
      }
    ]
  },
  "versionId": "556f739b-571c-4351-bcad-0e5af894364e",
  "activeVersionId": "556f739b-571c-4351-bcad-0e5af894364e",
  "versionCounter": 16,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-06-19T07:50:33.154Z",
      "createdAt": "2025-06-19T07:50:33.154Z",
      "role": "workflow:owner",
      "workflowId": "nmpEGHShPVEUrYhq",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}