raw-data/n8n-workflows/NudZlmgsBwujhYo9.json
{
  "updatedAt": "2025-12-29T01:50:33.220Z",
  "createdAt": "2025-07-01T11:49:22.547Z",
  "id": "NudZlmgsBwujhYo9",
  "name": "sn_get_packjoborder_API",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "sn_get_packjoborder_API",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -624,
        -64
      ],
      "id": "06198ea1-68bd-4500-8083-9c4d67834a54",
      "name": "Webhook",
      "webhookId": "3c664c15-6e14-4d08-bbb8-1aa6a25a42ea"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "81177f9b-6ce6-49e1-8d65-7f86d3cdd6c7",
              "leftValue": "={{ $json.query.retroid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "dabec1ec-9975-486f-bd4e-3bdcb58f33e1",
              "leftValue": "={{ $json.query.retroid.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        -64
      ],
      "id": "c7a6fe07-72da-4148-b4b8-d65a8f4a94b8",
      "name": "判断入参"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"200\",\n  \"joborder\":\"{{ $json.jobnumber }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        160,
        -80
      ],
      "id": "6d9d2f57-d62a-4fa5-82f6-782c3f8488fa",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"数据库错误\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        208
      ],
      "id": "30d24d18-2763-4353-9448-5c00f0a96035",
      "name": "数据库错误"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "995676de-3879-40f9-aadc-c694ae3d6408",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -64,
        -64
      ],
      "id": "64757554-28cb-4be7-9aba-9ebc5df555fb",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"sn格式错误\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -256,
        208
      ],
      "id": "c783f77f-81cc-4278-b2ee-1aee4ce06cae",
      "name": "sn格式错误"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"没有找到对应的包装工单\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        304,
        208
      ],
      "id": "7112c750-685a-4953-b7de-81bf3f899ec6",
      "name": "没有对应的包装工单"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    r.retroid_id,\n    md.data->>'ticketNo' AS jobNumber,\n    jo.joborder_id\nFROM \n    mes.retroid r\nJOIN \n    mes.machine_data md ON r.retroid_id = md.retroid_id\nJOIN \n    mes.joborder jo ON md.data->>'ticketNo' = jo.joborder_number\n\nWHERE \n    r.retroid = '{{ $json.query.retroid }}' and jo.joborder_type ='PACK'\n  limit 1 ;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -240,
        -64
      ],
      "id": "966acee2-ffe0-4a21-9107-13066e4d6760",
      "name": "查询工序表中对应的包装工单",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "判断入参",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断入参": {
      "main": [
        [
          {
            "node": "查询工序表中对应的包装工单",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sn格式错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "没有对应的包装工单",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询工序表中对应的包装工单": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "192.168.128.8",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "0",
            "user-agent": "ReactorNetty/1.1.8",
            "accept": "*/*"
          },
          "params": {},
          "query": {
            "retroid": "W35A075608"
          },
          "body": {},
          "webhookUrl": "https://n8n.mes.coros.team/prod/sn_get_packjoborder_API",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "fbeaeef5-5c91-4266-8a08-af789e4973d9",
  "activeVersionId": "fbeaeef5-5c91-4266-8a08-af789e4973d9",
  "versionCounter": 34,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-07-01T11:49:22.547Z",
      "createdAt": "2025-07-01T11:49:22.547Z",
      "role": "workflow:owner",
      "workflowId": "NudZlmgsBwujhYo9",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}