raw-data/n8n-workflows/QqM9eoECWS6K1JAz.json
{
  "updatedAt": "2024-05-14T10:35:22.576Z",
  "createdAt": "2024-04-10T07:40:58.340Z",
  "id": "QqM9eoECWS6K1JAz",
  "name": "条码绑定程序_API-ForTEST",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"message\":\"请填写所有必填项\"\n}",
        "options": {}
      },
      "id": "d6bfb6ca-91c4-48d2-9c1a-0d00073a7d37",
      "name": "报错信息：请填写所有必填项",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        20,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "7a0f398e-5f23-4b05-afa5-9c5596c8ba49",
              "leftValue": "={{ $json.body.productCode }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "a95dd00f-74ca-4921-8516-e7c9b3e65823",
              "leftValue": "={{ $json.body.orderNumber }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "34917810-a4d9-47d1-8240-06d039a005f3",
              "leftValue": "={{ $json.body.jobNumber }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "6aa276a7-1882-4bff-8449-5a74afd3f4c5",
              "leftValue": "={{ $json.body.uuidId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b0b2b56d-23fc-4e1f-b64e-2f4e5a4f014b",
              "leftValue": "={{ $json.body.retroid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "6f335cde-510f-46aa-9131-4b29236f9648",
              "leftValue": "={{ $json.body.BatteryBatch }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2b9a3206-915f-4786-9918-e6db1c2841f3",
              "leftValue": "={{ $json.body.productType }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5e9c5be1-0896-488f-9ab0-ce65b0056b82",
      "name": "所有信息是否已填写",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -380,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3a6c3bcd-b790-4f0f-85a5-6e9a818febaf",
              "leftValue": "={{$json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8ac93b53-37c7-463f-b480-bbc297a0a849",
      "name": "判断条码是否已有绑定记录",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1260,
        40
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"404\",\n  \"message\":\"条码已被绑定，请出入正确的CPUID或底壳条码\"\n}",
        "options": {}
      },
      "id": "e739c172-a4f5-4489-bdea-dd4d94ee88e0",
      "name": "报错信息：条码绑定记录已存在",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1760,
        -280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"403\",\n  \"message\":\"请检查CPUID链接是否填写正确\"\n}",
        "options": {}
      },
      "id": "cc729ec6-5838-43e3-a047-104a2a809c9a",
      "name": "报错信息：请检查CPUID链接是否填写正确",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        760,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet body=$input.first().json.body //只接收第一个输入\n\nlet url=body.uuidId.toUpperCase();\n// 使用单个正则表达式同时匹配所有参数，并捕获所需部分\nconst regex = /a=([\\w\\s]+)\\s([A-F\\d]+)&b=([A-F\\d]+)&c=([A-F\\d]+)/i;\nconst match = url.match(regex);\n\nif (match && match.length==5) { //如果匹配上，并且结果是5个\n  body.model = match[1];\n  body.uuidId = [match[2], match[3], match[4]].join('');\n  body.uuid_unique=[ match[2], match[4]].join('');\n}\n\n//retroid校正大小写输入\n body.retroid = body.retroid.toUpperCase();\nreturn $input.all();\n\n\n"
      },
      "id": "381213a8-8935-4b47-8c14-28a4ddf0587d",
      "name": "根据机型转换uuid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "31f8e166-406b-4fc8-8759-f2890a0e43d5",
              "leftValue": "={{ $json.body.uuidId.length }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "38e0e901-34f8-40b3-876c-cd3d63381f05",
              "leftValue": "={{ $json.body.uuid_unique.length }}",
              "rightValue": 18,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a6b3f61-e669-404a-b4aa-e9b1ad5fa09b",
      "name": "判断转换后UUID长度是否正确",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        40
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"402\",\n  \"message\":\"请检查输入法是否正确\"\n}",
        "options": {}
      },
      "id": "c63d8eaf-6286-43ce-be60-cf1982b8865b",
      "name": "报错信息：请检查输入法是否正确",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        460,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d90369e6-58e0-4a14-bc88-c4fb9d909922",
              "leftValue": "={{ $json.body.uuidId[29] }}",
              "rightValue": "= ",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d1007e4b-b97c-4875-9492-36aa50cc5600",
              "leftValue": "=[M1D,B15D]",
              "rightValue": "={{ $json.body.productType }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "2b482fd4-ea00-4088-8976-99086ae42136",
      "name": "判断输入法是否正确",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -60,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "afd14586-6035-4dad-8c6f-bbf2be5b4c87",
              "leftValue": "={{ $json.body.uuidId[27]}}",
              "rightValue": "= ",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "470cab5c-815a-46e1-8a59-c2d163e61123",
              "leftValue": "=[M1D,B15D]",
              "rightValue": "={{ $json.body.productType }}",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "19f8723e-f188-423d-b2c6-9b180b84c692",
      "name": "判断输入法是否正确1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        100,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2d34b2fa-36fe-4388-a07f-432eab099db0",
              "leftValue": "={{ $json.body.retroid.length}}",
              "rightValue": "={{ 10 }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fdced93d-42b1-4adb-95ef-52b827368896",
      "name": "判断sn码长度是否正确",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -220,
        40
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"401\",\n  \"message\":\"请检查底壳条码是否填写正确\"\n}",
        "options": {}
      },
      "id": "fdfb5340-85a0-4e0a-98ee-c324bc4984bd",
      "name": "报错信息：请检查底壳条码是否填写正确",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        240,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e29567f3-62d6-4532-abf7-5a8e394f9bbd",
              "leftValue": "={{$json}}",
              "rightValue": "=",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "710f687d-302e-4bea-8f50-d985c34fdd12",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        -140
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"405\",\n  \"message\":\"条码已被绑定且有扫描装箱记录\"\n}",
        "options": {}
      },
      "id": "8f3e7975-eecb-4bad-9452-147ed7c89e4c",
      "name": "报错信息：条码绑定记录已存在且有报错记录",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1760,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * \nFROM YFConsumer.dbo.consm_baselinegenerate \nWHERE ProductSeries= '{{ $json.ProductSeries }}' \n  and ProductModel= '{{ $json.ProductModel }}' \n  and ProductPhase = '{{ $json.ProductPhase }}' \n  and CONVERT(INT, BeginSeries) <= CONVERT(INT, '{{ $json.Series }}')  \n  and CONVERT(INT,EndSeries) >= CONVERT(INT,'{{ $json.Series }}') ;"
      },
      "id": "5ed579a9-f7e0-43d2-8993-1ab355e66bb2",
      "name": "查询MES后台数据库中是否存在该条底壳条码",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        680,
        20
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "sXlTCwIbf42MUs4H",
          "name": "MES_SQL_SERVER"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var retroid = $input.all()[0].json.body.retroid;\nvar ProductSeries = retroid.substring(0,1);\nvar ProductModel = retroid.substring(1,3);\nvar ProductPhase = retroid.substring(3,5);\nvar Series = retroid.substring(5,10)\n \nvar snList ={\n ProductSeries:ProductSeries,\n ProductModel:ProductModel,\n ProductPhase:ProductPhase,\n  Series:Series\n}\nreturn snList;"
      },
      "id": "4147ee9f-8de8-40fd-a8dd-92d296804910",
      "name": "拆分SN",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6b79c7ae-45d9-4294-b4d1-9a7483bd551c",
              "leftValue": "={{$json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1faf2f81-cd9f-4d25-abaf-31ba2e6d7471",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        820,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "let result = [];\n\n  let queryResult = $('根据机型转换uuid').all()[0].json;\n\n  result.push(queryResult);\n\nreturn result;\n"
      },
      "id": "b7e4f5f1-12f9-4f9d-823c-54f0337d31a8",
      "name": "新建条码绑定信息1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        20
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"409\",\n  \"message\":\"请检查底壳条码是否填写正确，该底壳不存在\"\n}",
        "options": {}
      },
      "id": "51efee8a-2cd0-47b0-8658-dcc96918b165",
      "name": "报错信息：请检查CPUID链接是否填写正确1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1160,
        280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM consm_deviceweight WHERE barcode ='{{$json.retroid}}'"
      },
      "id": "84204b7f-3bf2-42b4-8274-5740a2f2b3e3",
      "name": "Microsoft SQL",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        1400,
        -120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "sXlTCwIbf42MUs4H",
          "name": "MES_SQL_SERVER"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM mes2024.dbo.consm_barcodebindinfo WHERE uuid = '{{ \n $json.body.uuidId\n  }}' OR retroid ='{{ $json.body.retroid}}'\n"
      },
      "id": "b7ad139a-dc4c-4713-99a7-003ebd5d09eb",
      "name": "查询MES后台数据库中是否存在该条数据",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        1120,
        40
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "sXlTCwIbf42MUs4H",
          "name": "MES_SQL_SERVER"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"200\",\n  \"message\":\"条码已成功绑定\",\n  \"uuid\":\"{{$('判断转换后UUID长度是否正确').all()[0].json.body.uuidId}}\",\n   \"sn\":\"{{$('判断转换后UUID长度是否正确').all()[0].json.body.retroid}}\"\n  \n}\n",
        "options": {}
      },
      "id": "2e967224-bfba-462f-a0b8-c124c2346141",
      "name": "上传成功",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2400,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "7fe110e0-42f9-417a-825d-859d8bfd8b36",
              "leftValue": "={{$json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "042568e0-20cb-471f-8477-09334a7c06a5",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1740,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "let uuid_unique= $('根据机型转换uuid').all()[0].json.body.uuid_unique\nreturn {\n uuid_unique:uuid_unique\n};"
      },
      "id": "43219d95-4522-4f9a-8dee-282ab398a13c",
      "name": "UUID切片",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "let result = [];\n\n  let queryResult = $('根据机型转换uuid').all()[0].json;\n\n  result.push(queryResult);\n\nreturn result;\n"
      },
      "id": "df9babec-f471-466c-aeca-217c74b6a7bd",
      "name": "新建条码绑定信息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM mes2024.dbo.consm_barcodebindinfo WHERE uuid_unique ='{{ $json.uuid_unique }}'"
      },
      "id": "c0f3c006-f305-4ece-af76-3e1495ea3d9c",
      "name": "查询UUID是否存在",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        1560,
        100
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "sXlTCwIbf42MUs4H",
          "name": "MES_SQL_SERVER"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\"\n}",
        "options": {}
      },
      "id": "374aa81b-020b-4486-bc4f-53499c4c9017",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2320,
        440
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "IF NOT EXISTS (\n  SELECT 1 FROM  mes2024.dbo.consm_barcodebindinfo\n  WHERE retroid = '{{ $json.body.retroid }}'\n     OR uuid = '{{ $json.body.uuidId }}'\n     OR uuid_unique = '{{ $json.body.uuid_unique }}'\n)\nBEGIN\nINSERT INTO mes2024.dbo.consm_barcodebindinfo (\n  jobnumber,\n  ordernumber,\n  productcode,\n  clientcode,\n  retroid,\n  baseline,\n  uuid,\n  uuid_unique,\n  BatteryBatch,\n  createtime,\n  modifytime,\n  procedurevalue,\n  isstateok\n) VALUES (\n  '{{ $json.body.jobNumber }}',\n  '{{ $json.body.orderNumber }}',\n  '{{ $json.body.productCode }}',\n  'ConsumerBindClient',\n  '{{ $json.body.retroid }}',\n  '{{ $json.body.retroid }}',\n  '{{ $json.body.uuidId }}',\n  '{{ $json.body.uuid_unique }}',\n  '{{ $json.body.BatteryBatch}}',\n  GETDATE(),\n  GETDATE(),\n  '1',\n  '1'\n);\nSELECT @@ROWCOUNT AS InsertedRows;\nEND\n\n"
      },
      "id": "6339f8fd-2d9b-4822-883a-1a66a9514cd8",
      "name": "更新MES后台数据库",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        2040,
        100
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "sXlTCwIbf42MUs4P",
          "name": "MES_SQL_SERVER_MES2024"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11ddfbc9-f992-4179-9927-aaf70c158ecb",
              "leftValue": "={{ $json.InsertedRows }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "01f81e2f-1776-4d3d-b230-5e3245a1cccf",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2220,
        100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "BARCODEBLINDtest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0571d7c4-1da1-465a-bde1-8f01bc7a41a3",
      "name": "条码绑定程序信息上传",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -540,
        40
      ],
      "webhookId": "90b5b35c-c491-4bbf-babe-107dba61e5f4"
    }
  ],
  "connections": {
    "所有信息是否已填写": {
      "main": [
        [
          {
            "node": "判断sn码长度是否正确",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：请填写所有必填项",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断条码是否已有绑定记录": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UUID切片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "根据机型转换uuid": {
      "main": [
        [
          {
            "node": "判断转换后UUID长度是否正确",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断转换后UUID长度是否正确": {
      "main": [
        [
          {
            "node": "拆分SN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：请检查CPUID链接是否填写正确",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断输入法是否正确": {
      "main": [
        [
          {
            "node": "判断输入法是否正确1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：请检查输入法是否正确",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断输入法是否正确1": {
      "main": [
        [
          {
            "node": "根据机型转换uuid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：请检查输入法是否正确",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断sn码长度是否正确": {
      "main": [
        [
          {
            "node": "判断输入法是否正确",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：请检查底壳条码是否填写正确",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "报错信息：条码绑定记录已存在",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：条码绑定记录已存在且有报错记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询MES后台数据库中是否存在该条底壳条码": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拆分SN": {
      "main": [
        [
          {
            "node": "查询MES后台数据库中是否存在该条底壳条码",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "新建条码绑定信息1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：请检查CPUID链接是否填写正确1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "新建条码绑定信息1": {
      "main": [
        [
          {
            "node": "查询MES后台数据库中是否存在该条数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询MES后台数据库中是否存在该条数据": {
      "main": [
        [
          {
            "node": "判断条码是否已有绑定记录",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "新建条码绑定信息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID切片": {
      "main": [
        [
          {
            "node": "查询UUID是否存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "新建条码绑定信息": {
      "main": [
        [
          {
            "node": "更新MES后台数据库",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询UUID是否存在": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新MES后台数据库": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "上传成功",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "条码绑定程序信息上传": {
      "main": [
        [
          {
            "node": "所有信息是否已填写",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "条码绑定程序信息上传": [
      {
        "json": {
          "headers": {
            "x-real-ip": "172.24.0.2",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "233",
            "user-agent": "ReactorNetty/1.1.8",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "productType": "W331",
            "productCode": "watch",
            "orderNumber": "W331ZZDD",
            "jobNumber": "W331ZZGD",
            "uuidId": "https://r.coros.com/6?a=COROS PACE 3 60EACD&b=F7AF1711048F&c=1711048E0F3A&d=0&e=2&f=0",
            "retroid": "W31AE20082",
            "BatteryBatch": "123"
          },
          "webhookUrl": "https://n8n.mes.coros.team/prod/BARCODEBLINDtest",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "25ba9794-c5ce-4766-a327-3c5cef55802b",
  "activeVersionId": "25ba9794-c5ce-4766-a327-3c5cef55802b",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-04-24T05:57:32.105Z",
      "createdAt": "2024-01-26T07:50:15.258Z",
      "id": "Sagrd0CJUl5QtuS4",
      "name": "MES相关应用API"
    }
  ],
  "shared": [
    {
      "updatedAt": "2024-04-10T07:40:58.340Z",
      "createdAt": "2024-04-10T07:40:58.340Z",
      "role": "workflow:owner",
      "workflowId": "QqM9eoECWS6K1JAz",
      "projectId": "bEZCDhUuacQnl4pP",
      "project": {
        "updatedAt": "2024-05-30T17:44:47.541Z",
        "createdAt": "2024-05-30T17:44:47.541Z",
        "id": "bEZCDhUuacQnl4pP",
        "name": "Easy wang <e@mpnew.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "94775e1f-fc17-45ee-9e00-e7bc7ec06090"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}