raw-data/n8n-workflows/rNVjuANSnDgLxizd.json
{
  "updatedAt": "2025-06-09T11:00:41.262Z",
  "createdAt": "2024-07-24T03:02:25.920Z",
  "id": "rNVjuANSnDgLxizd",
  "name": "createproduct_API",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "product_info",
          "mode": "list",
          "cachedResultName": "product_info"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "product_model_id": "={{ $('Webhook').item.json.body.product_model_id }}",
            "product_code": "={{ $('Webhook').item.json.body.product_code }}",
            "product_color": "={{ $('Webhook').item.json.body.product_color }}",
            "status": 1,
            "createtime": "={{ $now }}",
            "product_type": "={{ $('Webhook').item.json.body.product_type }}",
            "user_id": "={{ $('Webhook').item.json.body.user }} "
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_model_id",
              "displayName": "product_model_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_code",
              "displayName": "product_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_color",
              "displayName": "product_color",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "createtime",
              "displayName": "createtime",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_type",
              "displayName": "product_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "fe3100dd-dc23-40fb-90a4-24aa9e420e5c",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1600,
        280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "960b05ec-a539-4a5c-b24c-148977ca5e49",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8feeee9e-2265-45b1-bf9f-450237a17144",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1760,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"200\"\n}",
        "options": {}
      },
      "id": "75d8d056-9696-4af5-b191-28728cb26e81",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1900,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"数据库报错，请联系IT部门\"\n}",
        "options": {}
      },
      "id": "f8132dbc-ac37-4d87-951e-749e8cd7c6bb",
      "name": "Respond to Webhook3",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1940,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c8c7cc91-7fa9-4497-ab08-a39c29ca8aaf",
              "leftValue": "={{ $json.body.product_model_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "de475ebf-01b1-453a-a1f7-10a40c5753aa",
              "leftValue": "={{ $json.body.product_code }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "65a5e335-0461-4bbd-b7ac-78f492d2539a",
              "leftValue": "={{ $json.body.product_color }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f72d000e-1f98-4942-a480-fe3301a51a21",
              "leftValue": "={{ $json.body.product_type }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "13871725-57d5-4a01-81f0-48d41daedab9",
              "leftValue": "={{ $json.body.user }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1e9f7cd7-5ee0-445c-8e3a-80e6750fd751",
      "name": "判断是否填写必填项",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        780,
        360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"请填写机型名称\"\n}",
        "options": {}
      },
      "id": "792adab7-0c87-4849-849f-f0edf97614cf",
      "name": "报错信息：未填必填项",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        940,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "64d3eb65-802e-430c-90fc-4572c5a00a37",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d816bb30-75bb-487d-baae-10bdd0cb2dd2",
      "name": "判断是否存在物料号",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1080,
        280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM mes.product_info\nWHERE LOWER(product_code) = LOWER('{{ $json.body.product_code }}')\nAND LENGTH(product_code) = LENGTH('{{ $json.body.product_code }}')\nand status !='2' \n\n",
        "options": {}
      },
      "id": "618aeb91-1da2-4af4-9e6a-faac81f57776",
      "name": "查询是否存在物料号",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        940,
        280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"该物料号已存在\"\n}",
        "options": {}
      },
      "id": "e4b1bfe5-8d6e-40a8-991e-52b2121a1f92",
      "name": "报错信息：该物料号已存在",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1240,
        440
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM mes.product_info\nWHERE product_model_id = {{ $('Webhook').item.json.body.product_model_id }}\nAND product_type = {{ $('Webhook').item.json.body.product_type }}\nAND product_color = '{{ $('Webhook').item.json.body.product_color }}';\nand status !='2' \n",
        "options": {}
      },
      "id": "7d7d4a52-4add-4c23-8ffd-e7c343f11452",
      "name": "查询是否存在相同的产品信息",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1240,
        280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "011bf944-9294-453d-a54b-b77a6fbcd203",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "849dd5f2-65e6-444b-b19c-9aebba8606a3",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1420,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"400\",\n  \"msg\":\"该产品信息已存在，对应物料号:{{$json.product_code}}\"\n}",
        "options": {}
      },
      "id": "bf00933f-61dc-4939-a422-563285d778a1",
      "name": "报错信息：该物料号已存在1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1580,
        440
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "createproduct_API",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4f17b60d-bffc-40c2-bb0b-3d0b401ecf34",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        620,
        360
      ],
      "webhookId": "c9f5ad33-aa49-4743-97d3-b05cce3fd9a0"
    }
  ],
  "connections": {
    "Postgres1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否填写必填项": {
      "main": [
        [
          {
            "node": "查询是否存在物料号",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：未填必填项",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否存在物料号": {
      "main": [
        [
          {
            "node": "查询是否存在相同的产品信息",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：该物料号已存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询是否存在物料号": {
      "main": [
        [
          {
            "node": "判断是否存在物料号",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询是否存在相同的产品信息": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：该物料号已存在1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "判断是否填写必填项",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "172.31.0.2",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "108",
            "accept-encoding": "gzip",
            "user-agent": "ReactorNetty/1.1.22",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "product_model_id": 6,
            "product_code": "HSW331000007",
            "product_color": "黑色",
            "product_type": "2",
            "user": "12"
          },
          "webhookUrl": "https://n8n.mes.coros.team/prod/createproduct_API",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "847321d9-f988-439a-b817-5dc4c1020271",
  "activeVersionId": "847321d9-f988-439a-b817-5dc4c1020271",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-04-24T05:46:49.768Z",
      "createdAt": "2025-04-24T05:46:49.768Z",
      "role": "workflow:owner",
      "workflowId": "rNVjuANSnDgLxizd",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}