raw-data/n8n-workflows/rTQw3GXQDRzAZewS.json
{
  "updatedAt": "2025-07-02T06:31:32.418Z",
  "createdAt": "2025-06-30T07:39:19.520Z",
  "id": "rTQw3GXQDRzAZewS",
  "name": "get_print_template",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "/getPDF",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        20
      ],
      "id": "2f4ec89c-aef1-464d-8d2a-435be2c39226",
      "name": "Webhook",
      "webhookId": "e7aa7386-2e28-44e5-9cc7-b8f27f71c00c"
    },
    {
      "parameters": {
        "path": "=/mes/printinfo/{{ $json.query.path }}"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        320,
        20
      ],
      "id": "431b3e10-f636-4b51-be68-5b839e4a8204",
      "name": "FTP",
      "credentials": {
        "ftp": {
          "id": "punCostTgqdQg7Z0",
          "name": "MES-NAS"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        600,
        20
      ],
      "id": "e6b82435-4758-4bd0-9d26-ade2873aa579",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "192.168.33.45",
            "host": "n8n_webhook",
            "connection": "close",
            "sec-ch-ua-platform": "\"macOS\"",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "null",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "zh-CN,zh;q=0.9"
          },
          "params": {},
          "query": {
            "path": "1751105697919W942绿色国内彩盒贴纸模板.pdf"
          },
          "body": {},
          "webhookUrl": "https://n8n.mes.coros.team/prod/getPDF",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "54964a87-5dc7-4835-98e7-992d63742450",
  "activeVersionId": "54964a87-5dc7-4835-98e7-992d63742450",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-07-02T06:31:32.330Z",
      "createdAt": "2025-07-02T06:31:32.330Z",
      "role": "workflow:owner",
      "workflowId": "rTQw3GXQDRzAZewS",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}