raw-data/n8n-workflows/T4CqBt6yx0cV7gxf.json
{
  "updatedAt": "2025-04-24T06:31:30.997Z",
  "createdAt": "2024-08-02T06:24:05.050Z",
  "id": "T4CqBt6yx0cV7gxf",
  "name": "deleteprocess_API",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2a097325-a15b-4610-b715-9e209e23cb42",
              "leftValue": "={{ $json.body.procedure_list_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "23db440b-e100-438d-8322-118c871a2b42",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        40,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "459174f1-ce0a-4dcf-8582-bc88fad09b8d",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e4065a1f-baa6-4e3b-b17b-eb3c50ba8144",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "procedure_list",
          "mode": "list",
          "cachedResultName": "procedure_list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": 2,
            "procedure_list_id": "={{ $json.body.procedure_list_id }}"
          },
          "matchingColumns": [
            "procedure_list_id"
          ],
          "schema": [
            {
              "id": "procedure_list_id",
              "displayName": "procedure_list_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "procedure_detail_id",
              "displayName": "procedure_detail_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "product_model_id",
              "displayName": "product_model_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "createtime",
              "displayName": "createtime",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "procedure_list_name",
              "displayName": "procedure_list_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "fd5ff6bd-58eb-4e3e-ab62-7492dde32953",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        240,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"请先选择需要删除的工艺流程\"\n}",
        "options": {}
      },
      "id": "24f7a33e-cb03-4296-ab8b-fe83144d7ec2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        180,
        480
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"数据库错误，请联系IT部门\"\n}",
        "options": {}
      },
      "id": "52bfa3d4-d37d-4c41-b819-89e06515b98f",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        480
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\":\"200\",\n  \"msg\":\"冻结成功\"\n}",
        "options": {}
      },
      "id": "5119bfa5-24f9-4503-b4cd-9ec3312159bc",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deleteprocess_API",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0769c519-2376-403d-a669-de27024b924b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -100,
        300
      ],
      "webhookId": "0745e91a-2c94-4a61-8935-167134f20646"
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3852d7b6-f7f1-470a-89f4-7d6c4ce5629b",
  "activeVersionId": "3852d7b6-f7f1-470a-89f4-7d6c4ce5629b",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-04-24T05:44:33.744Z",
      "createdAt": "2025-04-24T05:44:33.744Z",
      "role": "workflow:owner",
      "workflowId": "T4CqBt6yx0cV7gxf",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}