raw-data/n8n-workflows/tS5T3HKdmmYNSfPB.json
{
  "updatedAt": "2025-12-01T10:30:30.859Z",
  "createdAt": "2025-12-01T10:15:21.760Z",
  "id": "tS5T3HKdmmYNSfPB",
  "name": "前置工序校验通用接口 copy 2",
  "description": null,
  "active": true,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "jsCode": "let webhookData = [];\ntry {\n  // 尝试获取 When Executed by Another Workflow 节点的数据\n  webhookData = $(\"When Executed by Another Workflow\").all();\n} catch(e) {\n  // 如果没这个节点，报错则用 Webhook 节点数据\n  webhookData = [];\n}\n\nif (!webhookData || webhookData.length === 0) {\n  try {\n    webhookData = $(\"Webhook\").all();\n  } catch(e) {\n    webhookData = [];\n  }\n}\n\nconst procedureNameFromWebhook = webhookData?.[0]?.json?.body?.procedure_name;\n\n// 从 input 获取所有过程数据\nconst inputData = $input.all();\n\n// 从 Edit Fields 节点获取 retroid_id 数据\nlet editFieldsData = [];\ntry {\n  editFieldsData = $(\"Edit Fields\").all();\n} catch (e) {\n  editFieldsData = [];\n}\nconst retroidId = editFieldsData.length > 0 ? editFieldsData[0].json.retroid_id : null;\n\n// 查找当前工序的数据\nconst currentProcedureIndex = inputData.findIndex(item => item.json.procedure_name === procedureNameFromWebhook);\n\nif (currentProcedureIndex !== -1) {\n  const currentProcedure = inputData[currentProcedureIndex].json;\n  const previousProcedure = currentProcedureIndex > 0 ? inputData[currentProcedureIndex - 1].json : null;\n\n  return [\n    {\n      json: {\n        currentProcedure: {\n          procedure_name: currentProcedure.procedure_name,\n          history_procedure_id: currentProcedure.history_procedure_id,\n          procedure_detail_id: currentProcedure.procedure_detail_id,\n          checkrule:currentProcedure.checkrule,\n        },\n        previousProcedure: previousProcedure ? {\n          procedure_name: previousProcedure.procedure_name,\n          history_procedure_id: previousProcedure.history_procedure_id,\n          procedure_detail_id: previousProcedure.procedure_detail_id,\n        } : null,\n        retroidId: retroidId\n      }\n    }\n  ];\n} else {\n  // 没找到匹配时也要 return array，避免 n8n 报错\n  return [];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        320
      ],
      "id": "a1d374bb-e53e-46b8-a3f4-5ee5c99234d3",
      "name": "整合数据",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from mes.machine_data md \nwhere md.procedure_detail_id = {{ $json.previousProcedure.procedure_detail_id }}\nand md.retroid_id ='{{ $json.retroidId }}'\norder by md.createtime DESC LIMIT 1\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        960,
        576
      ],
      "id": "1619c3e8-0f3a-467e-8727-806cd44379bd",
      "name": "查询上一道工序是否完成",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH latest_history AS (\n    SELECT json_array_elements_text((history_procedure_detail_id->>'history_procedure_detail_id')::json) AS detail_id\n    FROM mes.history_procedure_list\n    WHERE history_procedure_list_id = '{{ $json.history_procedure_list_id }}'\n),\nhistory_ids AS (\n    SELECT ARRAY_AGG(detail_id::int) AS ids\n    FROM latest_history\n),\nresult_data AS (\n    SELECT DISTINCT ON (hpd.procedure_detail_id)\n        hpd.*,\n        (SELECT array_position(ids, hpd.history_procedure_id) FROM history_ids) AS sort_order\n    FROM \n        mes.history_procedure_detail hpd\n    WHERE \n        hpd.history_procedure_id IN (\n            SELECT detail_id::int FROM latest_history\n        )\n    AND \n        hpd.procedure_dataupload = 2\n)\nSELECT *\nFROM result_data\nORDER BY sort_order;\n",
        "options": {}
      },
      "id": "48bf2a7a-4281-42bb-91fc-687c77f44ef9",
      "name": "查询对应工序表",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -688,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n       r.retroid_id,\n       jo.joborder_number,\n       jo.joborder_id,\n       pm.product_model_name,\n       pi.product_code,\n       jo.procedure_list_id,\n       jo.history_procedure_list_id\nFROM mes.retroid r\nJOIN mes.retroid_generate rg ON r.retroid_generate_id = rg.retroid_generate_id\nJOIN mes.joborder jo ON rg.joborder_id = jo.joborder_id\nJOIN mes.product_info pi ON jo.product_id = pi.product_id\nJOIN mes.product_model pm ON pi.product_model_id = pm.product_model_id\nWHERE r.retroid = '{{ $json.body.sn }}'\n  and r.status in('1','2') ;    -- 替换成你要查询的 retroid\n",
        "options": {}
      },
      "id": "928bf4f0-b1dd-4983-8acd-592c790591c0",
      "name": "查询相关信息",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -976,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f806de03-fd7c-417f-9aac-9cd347480d91",
              "name": "retroid_id",
              "value": "={{ $json.retroid_id }}",
              "type": "string"
            },
            {
              "id": "d27f55e9-4ca2-47d2-a5b6-f9b483ef8794",
              "name": "joborder_number",
              "value": "={{ $json.joborder_number }}",
              "type": "string"
            },
            {
              "id": "cfc3ade2-1f46-47ec-83c2-01ddb40f2ca3",
              "name": "product_model_name",
              "value": "={{ $json.product_model_name }}",
              "type": "string"
            },
            {
              "id": "2e203abf-2133-4544-bc82-fdc5ebe4df99",
              "name": "product_code",
              "value": "={{ $json.product_code }}",
              "type": "string"
            },
            {
              "id": "e4d13f1a-cc38-42fb-af77-8664b49fe084",
              "name": "procedure_list_id",
              "value": "={{ $json.procedure_list_id }}",
              "type": "number"
            },
            {
              "id": "1bb465b6-34e7-4e73-ab0f-187221a4c9db",
              "name": "history_procedure_list_id",
              "value": "={{ $json.history_procedure_list_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        320
      ],
      "id": "4c612ed8-5030-4a98-8fd4-2a3ef2108e9c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "93701f5d-2a48-4867-9de5-9d6c9a3d4a21",
              "leftValue": "={{ $json.procedure_detail_id }}",
              "rightValue": 62,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        544
      ],
      "id": "c6f4705d-65aa-41ed-86c7-3ab1f048489e",
      "name": "If10"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from mes.machine_data md \nwhere md.procedure_detail_id in({{ $json.procedure_detail_id }},62)\nand md.retroid_id ='{{ $json.retroid_id }}'\nand ( md.data ->>'machine_data_id_old'='{{ $json.machine_data_id }}')\norder by md.createtime desc\nlimit 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1376,
        560
      ],
      "id": "d3579037-73b7-41fa-bf2e-416945a68c4a",
      "name": "确认当前数据是绑定",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "407d2f50-aa0c-448f-9070-bd217dccfa0b",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1184,
        576
      ],
      "id": "bf724edc-3be1-46cd-ac85-db1f1ff36650",
      "name": "If20"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1392,
        144
      ],
      "id": "7139f7be-0dda-41b8-a6f6-b3091fe327cb",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json:{\n    tag:0\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3328,
        -400
      ],
      "id": "4c01beea-7c51-45fc-a927-a125156734f8",
      "name": "前置工序已完成，返回0"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json:{\n    tag:1,\nprocedure_name:$input.first().json.previous_procedure_name\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        128
      ],
      "id": "8534d8ed-7de1-4354-9ca6-c37d241455bb",
      "name": "前置工序未完成返回1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "00441b90-b46f-43c7-a677-4da5e3087112",
              "leftValue": "={{ $json.previousProcedure }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        336
      ],
      "id": "596ba09f-2470-4bb5-9a5e-811f4c364948",
      "name": "校验是否有前置工序"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "27f0a336-135c-4393-abf8-ef962f627ce1",
              "leftValue": "={{ $json.previousProcedure.procedure_name }}",
              "rightValue": "FPC ID与MIC ID绑定",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "79714af0-9f98-4d3f-b9a7-f8b0b7fd1eec",
              "leftValue": "={{ $json.previousProcedure.procedure_name }}",
              "rightValue": "LCD与TP绑定",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4a552ec5-c50b-4c78-a9ad-ac9e7ed1d127",
              "leftValue": "={{ $json.previousProcedure.procedure_name }}",
              "rightValue": "PPG点胶-保压起始",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        384
      ],
      "id": "c7d4d254-1fe6-4485-bc65-5bd24c83d926",
      "name": "判断前置工序是否属于前加工"
    },
    {
      "parameters": {
        "jsCode": "const datas = $(\"查询对应工序表\").all();\nconst retroidId = $input.first().json.retroidId;\n\n// 找到当前工序（通过 procedure_name 与 procedure_detail_id 最安全，或者取其一，根据情况）\nconst currentProcedure = $input.first().json.currentProcedure;\nconst currentItem = datas.find(\n  item => \n    item.json.procedure_name === currentProcedure.procedure_name && \n    item.json.procedure_detail_id === currentProcedure.procedure_detail_id\n);\n\nif (!currentItem) {\n  return [];\n}\nconst currentSortOrder = currentItem.json.sort_order;\n\n// 过滤出currentProcedure前的工序，排除特定名字\nconst result = datas.filter(item => \n  item.json.sort_order < currentSortOrder &&\n  item.json.procedure_name !== \"FPC ID与MIC ID绑定\" &&\n  item.json.procedure_name !== \"LCD与TP绑定\" &&\n  item.json.procedure_name !== \"PPG点胶-保压起始\"\n);\n\nconst procedure_detail_ids = result\n  .map(item => item.json.procedure_detail_id)\n  .join(',');\n\nreturn [\n  {\n    json: {\n      procedure_detail_ids,\n      retroidId\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        128
      ],
      "id": "351d1b45-d25a-4a5c-a4c9-d589e7de21bd",
      "name": "整合查询数据"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "407d2f50-aa0c-448f-9070-bd217dccfa0b",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1392,
        -48
      ],
      "id": "e694825f-a8f1-4bf6-b1e4-7fc7492b8d05",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM (\n  SELECT *, ROW_NUMBER() OVER (PARTITION BY md.procedure_detail_id ORDER BY md.createtime DESC) AS rn\n  FROM mes.machine_data md\n  WHERE md.retroid_id = '{{ $json.retroidId }}'\n\n    AND md.procedure_detail_id IN ({{ $json.procedure_detail_ids ? $json.procedure_detail_ids : -1 }})\n) t\nWHERE t.rn = 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1136,
        -32
      ],
      "id": "f8cf5604-6cc9-4f39-98a7-3b8285917eef",
      "name": "查询所有前置工序是否完成",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const arr = $input.all().map(item => ({\n  procedure_detail_id: item.json.procedure_detail_id,\n  machine_data_id: item.json.machine_data_id,\n  retroid_id: item.json.retroid_id\n}));\nreturn [{ json: { items: arr } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        0
      ],
      "id": "fd928b1c-d572-49b5-b39a-ffe4d5567785",
      "name": "整合查询解绑数据"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  md.*,\n  t.machine_data_id AS input_machine_data_id,\n  t.retroid_id AS input_retroid_id\nFROM\n  jsonb_to_recordset('{{ JSON.stringify($json.items) }}'::jsonb)\n      AS t(procedure_detail_id int, machine_data_id int, retroid_id int)\nJOIN LATERAL (\n  SELECT *\n  FROM mes.machine_data md\n  WHERE \n     md.retroid_id = t.retroid_id\n    AND md.data ->> 'machine_data_id_old' = t.machine_data_id::text\n  ORDER BY md.createtime DESC\n  LIMIT 1\n) md ON TRUE",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1856,
        0
      ],
      "id": "85061e51-8835-4534-8d01-535ac1466ffe",
      "name": "确认所有数据没有解绑",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. 获取所有工序节点数据\nconst allProcedureNodes = $('查询对应工序表').all();\n\n// 2. 要排除的工序名称\nconst excludeNames = [\n  'FPC ID与MIC ID绑定',\n  'LCD与TP绑定',\n  'PPG点胶-保压起始'\n];\n\n// 3. 找到要排除的procedure_detail_id们\nconst excludeIdsSet = new Set(\n  allProcedureNodes\n    .filter(node => excludeNames.includes(node.json.procedure_name))\n    .map(node => Number(node.json.procedure_detail_id))\n);\n\n// 4. 获取并过滤needIds\nconst needIdsStr = $('整合查询数据').first().json.procedure_detail_ids || '';\nconst needIds = needIdsStr\n  .split(',')\n  .map(id => Number(id))\n  .filter(id => !isNaN(id) && !excludeIdsSet.has(id));\n\n// ====== 核心修改区域 Start ======\n\n// A. 获取“物理上做过”的记录 (历史记录)\nconst finishedItems = $('查询所有前置工序是否完成').all();\nconst finishedIds = new Set(finishedItems.map(item => Number(item.json.procedure_detail_id)));\n\n// B. 获取“发生过解绑”的记录 (作废记录)\nconst unbindItems = $('确认所有数据没有解绑').all();\nconst unboundIds = new Set(unbindItems.map(item => {\n    const json = item.json;\n    \n    // 【修复点】：根据你的JSON结构，old_id在data对象下，与data_old平级\n    // 路径尝试1：如果字段在根目录（SQL直接查出）\n    if (json.procedure_detail_id_old) {\n        return Number(json.procedure_detail_id_old);\n    }\n    \n    // 路径尝试2：字段在 data 对象里\n    if (json.data && json.data.procedure_detail_id_old) {\n        return Number(json.data.procedure_detail_id_old);\n    }\n    \n    return 0; // 没找到则返回0，不影响逻辑\n}));\n\n// ====== 核心修改区域 End ======\n\nconst lackIds = [];\n\nfor (const id of needIds) {\n  // 判定逻辑：\n  // 1. 历史记录里有 (finishedIds) \n  // 2. 且不能在解绑名单里 (unboundIds)\n  \n  const hasHistory = finishedIds.has(id);\n  const isUnbound = unboundIds.has(id); \n\n  // 如果没做过，或者做过但被解绑了，都算未完成\n  if (!hasHistory || isUnbound) {\n    lackIds.push(id);\n  }\n}\n\nif (lackIds.length === 0) {\n  return [{\n    status: '0'\n  }];\n} else {\n  return [{\n    status: '1',\n    lack_procedure_detail_ids: lackIds\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        0
      ],
      "id": "bd3083fc-041a-489e-887e-bee167c3a6b0",
      "name": "判断数据是否缺失"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "93701f5d-2a48-4867-9de5-9d6c9a3d4a21",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=0",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        0
      ],
      "id": "a7628284-5d01-4514-b66d-ee4472c93244",
      "name": "If11"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79147db6-bbeb-4b42-a471-be9690b5d479",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        320
      ],
      "id": "60cd7e14-4259-4911-816a-72d217d5ec89",
      "name": "校验工序是否存在"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3974d30e-e820-4946-8b46-a4c5db0d2d89",
              "leftValue": "={{ $json.currentProcedure.checkrule }}",
              "rightValue": "null",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        144
      ],
      "id": "26ba172f-79ac-40e3-b9b6-81c39bc4dfa5",
      "name": "校验当前工序是否需要校验所有前置工序"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2b3c70b0-9f38-4ab1-9348-2bdbd4c88b70",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1888,
        384
      ],
      "id": "d0bdaa2d-222e-4b4f-aa62-c93d09f2b081",
      "name": "Webhook",
      "webhookId": "2b3c70b0-9f38-4ab1-9348-2bdbd4c88b70"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "65f5057b-b78c-4d52-be79-a744aa7461b9",
              "leftValue": "={{ $json.body.sn }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "a04b5c4c-e113-499d-a812-8aa605e91581",
              "leftValue": "={{ $json.body.sn.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1728,
        400
      ],
      "id": "ac212a18-d124-4442-9319-91df13c31047",
      "name": "判断是否存在sn"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zIsWkclkRfztC4WQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/zIsWkclkRfztC4WQ",
          "cachedResultName": "1.Mes重构 — uuidGetSn"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1552,
        480
      ],
      "id": "635cbbbb-a3db-4b30-bcb5-344ffc531e20",
      "name": "通过uuid查询sn"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"uuid不存在或sn不存在\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -128,
        688
      ],
      "id": "cbbac59c-c28e-4a1b-ba92-25a40644cdc7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2aeaca5c-b9e9-43ae-a275-5b1928e6b0c5",
              "leftValue": "={{ $json.tag }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1376,
        496
      ],
      "id": "52e0fd9c-d8dd-4c64-aedc-725d21f316ef",
      "name": "判断是否存在uuid"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nconst procedure_name = $('Webhook').first()?.json.body?.procedure_name || \"\";\n\nconst data = input[0]?.json?.data?.[0]?.json?.data ?? {};\n\nreturn [\n  {\n    body: {\n      sn: data.sn || \"\",\n      uuid: data.uuid || \"\",\n      procedure_name: procedure_name,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        464
      ],
      "id": "b892e7c6-8420-4f76-a90a-d2e37703a73f",
      "name": "整理数据"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"200\",\n  \"msg\":\"OK\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3328,
        -48
      ],
      "id": "28c713ad-7861-4e0a-83b6-daee35d1e982",
      "name": "前置工序已完成"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"400\",  \n  \"msg\":\n\"{{ $json.previous_procedure_name }}\"} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3312,
        368
      ],
      "id": "dee96055-1320-4e38-875a-5212fb33d663",
      "name": "前置工序已完成1"
    },
    {
      "parameters": {
        "jsCode": "let hasAnotherWorkflow = false;\nlet hasWebhook = false;\n\n// 假设集成数据节点名为“整合数据”，请替换成你的实际节点名\nconst integrationData = $(\"整合数据\").first();\nconst previousProcedureName = integrationData?.json?.previousProcedure?.procedure_name || \"\";\n\n// 检查 When Executed by Another Workflow 节点\ntry {\n  const anotherWorkflowData = $(\"When Executed by Another Workflow\").all();\n  if (anotherWorkflowData && anotherWorkflowData.length > 0) {\n    hasAnotherWorkflow = true;\n  }\n} catch (e) {}\n\n// 检查 Webhook 节点\nif (!hasAnotherWorkflow) {\n  try {\n    const webhookData = $(\"Webhook\").all();\n    if (webhookData && webhookData.length > 0) {\n      hasWebhook = true;\n    }\n  } catch (e) {}\n}\n\nif (hasAnotherWorkflow) {\n  return [{ json: { value: 0, previous_procedure_name: previousProcedureName } }];\n} else if (hasWebhook) {\n  return [{ json: { value: 1, previous_procedure_name: previousProcedureName } }];\n} else {\n  return [];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2768,
        -224
      ],
      "id": "86f9d076-7c4b-4af6-958b-101d5e6c3539",
      "name": "判断类型"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b6f8feb4-36dc-4407-b127-06e762f66af2",
              "leftValue": "={{ $json.value }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3104,
        -240
      ],
      "id": "aa4f92d6-25fc-4d7d-89bf-3aaa780f6abe",
      "name": "判断输入类型"
    },
    {
      "parameters": {
        "jsCode": "let hasAnotherWorkflow = false;\nlet hasWebhook = false;\n\n// 假设集成数据节点名为“整合数据”，请替换成你的实际节点名\nconst integrationData = $(\"整合数据\").first();\nconst previousProcedureName = integrationData?.json?.previousProcedure?.procedure_name || \"\";\n\n// 检查 When Executed by Another Workflow 节点\ntry {\n  const anotherWorkflowData = $(\"When Executed by Another Workflow\").all();\n  if (anotherWorkflowData && anotherWorkflowData.length > 0) {\n    hasAnotherWorkflow = true;\n  }\n} catch (e) {}\n\n// 检查 Webhook 节点\nif (!hasAnotherWorkflow) {\n  try {\n    const webhookData = $(\"Webhook\").all();\n    if (webhookData && webhookData.length > 0) {\n      hasWebhook = true;\n    }\n  } catch (e) {}\n}\n\nif (hasAnotherWorkflow) {\n  return [{ json: { value: 0, previous_procedure_name: previousProcedureName } }];\n} else if (hasWebhook) {\n  return [{ json: { value: 1, previous_procedure_name: previousProcedureName } }];\n} else {\n  return [];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        368
      ],
      "id": "65c2a1c4-dd48-42b4-bfff-1f0f83eb26ad",
      "name": "判断类型1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b6f8feb4-36dc-4407-b127-06e762f66af2",
              "leftValue": "={{ $json.value }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3040,
        304
      ],
      "id": "4a18879a-12b4-479c-b452-16458bab080f",
      "name": "判断输入类型1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "245787e9-320b-4df2-8ba9-f9ebc69510dc",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        336
      ],
      "id": "d7b79c46-ca19-420d-bd4c-d5f31d6484b7",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// ====== 判断入口类型部分(和你之前保持一致) ======\nlet hasAnotherWorkflow = false;\nlet hasWebhook = false;\n\ntry {\n  const anotherWorkflowData = $(\"When Executed by Another Workflow\").all();\n  if (anotherWorkflowData && anotherWorkflowData.length > 0) {\n    hasAnotherWorkflow = true;\n  }\n} catch (e) {}\n\nif (!hasAnotherWorkflow) {\n  try {\n    const webhookData = $(\"Webhook\").all();\n    if (webhookData && webhookData.length > 0) {\n      hasWebhook = true;\n    }\n  } catch (e) {}\n}\n\n// === 根据 lack_procedure_detail_ids 查询工序名称 ===\nconst lackIds = $input.item.json.lack_procedure_detail_ids || [];\n\nconst procedures = $(\"查询对应工序表\").all()\n  .filter(x => typeof x.json === 'object')\n  .map(x => x.json);\n\nconst lackNames = procedures\n  .filter(proc => lackIds.includes(Number(proc.procedure_detail_id)))\n  .map(proc => proc.procedure_name);\n\nconst previousProcedureName = lackNames.join(', ');\n\n// ======= 输出逻辑 =======\nif (hasAnotherWorkflow) {\n  return [{\n    json: {\n      value: 0,\n      previous_procedure_name: previousProcedureName\n    }\n  }];\n} else if (hasWebhook) {\n  return [{\n    json: {\n      value: 1,\n      previous_procedure_name: previousProcedureName\n    }\n  }];\n} else {\n  return [];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        48
      ],
      "id": "80095bfe-bc1a-4a54-840a-0756d0e08224",
      "name": "判断类型2"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json:{\n    tag:2,\nprocedure_name:\"工序不存在\"\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        512
      ],
      "id": "d168c733-cc41-47c0-a833-132bfb60e28f",
      "name": "工序不存在（判断类型）"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b6f8feb4-36dc-4407-b127-06e762f66af2",
              "leftValue": "={{ $json.value }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        512
      ],
      "id": "e8715f17-fc00-4075-aebc-55ddf60999f1",
      "name": "判断输入类型2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",  \n  \"msg\":\"工艺流程不存在工序\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        544,
        608
      ],
      "id": "cbff423c-c680-4dff-9d72-c88a43bdd080",
      "name": "工艺流程不存在工序"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json:{\n    tag:1,\nprocedure_name:\"工艺流程中没有此工序\"\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        416
      ],
      "id": "4b6696ba-40e9-43f1-b146-272995feb24d",
      "name": "工艺流程不存在工序1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e532f5a1-13d8-4ae2-a878-0b011eabf164",
              "leftValue": "={{ $json.procedure_detail_ids }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        128
      ],
      "id": "2e3253f3-8fb8-492a-bd0b-7c2c6ccf35bc",
      "name": "判断是否有需要校验的前置工序"
    }
  ],
  "connections": {
    "整合数据": {
      "main": [
        [
          {
            "node": "校验工序是否存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询上一道工序是否完成": {
      "main": [
        [
          {
            "node": "If20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询对应工序表": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询相关信息": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "查询对应工序表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "判断类型",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "判断类型1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "确认当前数据是绑定": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If20": {
      "main": [
        [
          {
            "node": "确认当前数据是绑定",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "判断类型1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "查询相关信息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "校验是否有前置工序": {
      "main": [
        [
          {
            "node": "校验当前工序是否需要校验所有前置工序",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "判断类型",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断前置工序是否属于前加工": {
      "main": [
        [
          {
            "node": "判断类型",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "查询上一道工序是否完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整合查询数据": {
      "main": [
        [
          {
            "node": "判断是否有需要校验的前置工序",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "整合查询解绑数据",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "判断类型1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询所有前置工序是否完成": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "整合查询解绑数据": {
      "main": [
        [
          {
            "node": "确认所有数据没有解绑",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "确认所有数据没有解绑": {
      "main": [
        [
          {
            "node": "判断数据是否缺失",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断数据是否缺失": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "判断类型",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "判断类型2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "校验工序是否存在": {
      "main": [
        [
          {
            "node": "校验是否有前置工序",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "工序不存在（判断类型）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "校验当前工序是否需要校验所有前置工序": {
      "main": [
        [
          {
            "node": "整合查询数据",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "判断前置工序是否属于前加工",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "判断是否存在sn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否存在sn": {
      "main": [
        [
          {
            "node": "查询相关信息",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "通过uuid查询sn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "通过uuid查询sn": {
      "main": [
        [
          {
            "node": "判断是否存在uuid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否存在uuid": {
      "main": [
        [
          {
            "node": "整理数据",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "整理数据": {
      "main": [
        [
          {
            "node": "查询相关信息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "前置工序未完成返回1": {
      "main": [
        []
      ]
    },
    "判断类型": {
      "main": [
        [
          {
            "node": "判断输入类型",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断输入类型": {
      "main": [
        [
          {
            "node": "前置工序已完成，返回0",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "前置工序已完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断类型1": {
      "main": [
        [
          {
            "node": "判断输入类型1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断输入类型1": {
      "main": [
        [
          {
            "node": "前置工序未完成返回1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "前置工序已完成1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "整合数据",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断类型2": {
      "main": [
        [
          {
            "node": "判断输入类型1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "工序不存在（判断类型）": {
      "main": [
        [
          {
            "node": "判断输入类型2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断输入类型2": {
      "main": [
        [
          {
            "node": "工艺流程不存在工序1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "工艺流程不存在工序",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否有需要校验的前置工序": {
      "main": [
        [
          {
            "node": "查询所有前置工序是否完成",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "判断类型",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "192.168.53.242",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "90",
            "accept": "application/json, text/json, text/x-json, text/javascript, application/xml, text/xml",
            "user-agent": "RestSharp/106.15.0.0",
            "content-type": "application/x-www-form-urlencoded",
            "accept-encoding": "gzip, deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "sn": "W52A012000",
            "uuid": "",
            "procedure_name": "SN与UUID绑定",
            "type": "1"
          },
          "webhookUrl": "https://n8n.mes.coros.team/prod/check_data",
          "executionMode": "production"
        }
      }
    ],
    "When Executed by Another Workflow": [
      {
        "json": {
          "body": {
            "sn": "W52A012000",
            "uuid": "",
            "procedure_name": "SN与UUID绑定"
          }
        }
      }
    ]
  },
  "versionId": "33e01e17-2a83-426f-a937-6942074901d6",
  "activeVersionId": "33e01e17-2a83-426f-a937-6942074901d6",
  "versionCounter": 143,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-12-01T10:15:21.760Z",
      "createdAt": "2025-12-01T10:15:21.760Z",
      "role": "workflow:owner",
      "workflowId": "tS5T3HKdmmYNSfPB",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}