raw-data/n8n-workflows/Vy3OGymGTC1DhLtu.json
{
  "updatedAt": "2025-04-24T06:20:13.021Z",
  "createdAt": "2024-08-13T06:02:23.840Z",
  "id": "Vy3OGymGTC1DhLtu",
  "name": "deleteApplication",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4ac28972-ed97-4484-b2f7-a54a6d9e9489",
              "leftValue": "= {{ $json.query.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "84985505-6b52-43fe-94ac-36bb499fcca8",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        300,
        580
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\":201,\n  \"message\": \"应用ID不能为空！\"\n}",
        "options": {}
      },
      "id": "541462a1-1d48-461e-8ecf-95a9f617f827",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        560,
        680
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\":202,\n  \"message\": \"数据库错误！\"\n}",
        "options": {}
      },
      "id": "306a6d58-070d-46c7-9060-b153b1b74692",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        540
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\":200,\n  \"message\": \"删除成功！\"\n}",
        "options": {}
      },
      "id": "30cb7734-1503-42fe-9f37-80c1b8678fdb",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        360
      ]
    },
    {
      "parameters": {
        "path": "application/deleteApplication",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f248b396-633b-4c02-8bb4-f56d074ddb27",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        60,
        580
      ],
      "webhookId": "7033d3cc-6fd4-4bfe-9ea3-e8b9f99de0b5"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "application",
          "mode": "list",
          "cachedResultName": "application"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "application_id",
              "value": "={{ $json.query.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d7b2aef9-bcbf-4365-bc67-b59f40836ed9",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        560,
        440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "192.168.33.45",
            "host": "n8n_webhook",
            "connection": "close",
            "user-agent": "Apifox/1.0.0 (https://apifox.com)",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br"
          },
          "params": {},
          "query": {
            "id": "5"
          },
          "body": {},
          "webhookUrl": "https://n8n.mes.coros.team/prod/application/deleteApplication",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "31fa5f38-b8ce-4e14-b4dd-6a087c38b040",
  "activeVersionId": "31fa5f38-b8ce-4e14-b4dd-6a087c38b040",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-04-24T05:45:27.875Z",
      "createdAt": "2025-04-24T05:45:27.875Z",
      "role": "workflow:owner",
      "workflowId": "Vy3OGymGTC1DhLtu",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}