raw-data/n8n-workflows/wGphjFyFG0CtNequ.json
{
  "updatedAt": "2025-07-22T05:44:11.969Z",
  "createdAt": "2024-07-24T06:15:37.777Z",
  "id": "wGphjFyFG0CtNequ",
  "name": "updateproduct_API",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f6c12c8e-95e7-4c03-8151-50aa3ca4d2d1",
              "leftValue": "={{ $json.body.product_id}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "d8f6d06e-5115-4d93-a91a-39342fbedbb8",
              "leftValue": "={{ $json.body.product_model_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b9b5ba69-f62c-45bd-8d57-fd9996018358",
              "leftValue": "= {{ $json.body.product_color }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f48c3f27-552f-40ca-94a9-926656603305",
              "leftValue": "={{ $json.body.product_type }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "3feafd77-9b61-4c3c-99d0-6f524e57ef0b",
              "leftValue": "={{ $json.body.product_code }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "8b88cb1c-b816-42fc-8cab-05b92f4205f8",
              "leftValue": "={{ $json.body.user }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0ed1f004-ee0c-401a-8cef-df1e10d8995a",
      "name": "判断是否填写必填项",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -368,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"请确保所有信息不为空\"\n}",
        "options": {}
      },
      "id": "71b75e8f-b87c-4068-b1ac-045c4ee5ab61",
      "name": "报错信息：必填项为空",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -176,
        528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6b322626-0b22-47e3-afcc-72f9bcb607db",
              "leftValue": "={{ $json.status }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ad0e599a-faba-4933-b312-dbc77f8557cc",
      "name": "判断打印模板是否失效",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -48,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6be12fac-cde6-478f-9915-0b7ba17637dd",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d11a1ef5-42d2-4942-be2b-fd51560712d4",
      "name": "判断机型是否存在",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        304,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f5aa83b8-2035-4c1d-9c78-d81f7d131abb",
              "leftValue": "={{ $json.inserted_rows}}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "5caec408-0757-409f-9998-21500a04f38c",
              "leftValue": "={{ $json.updated_rows }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8888b682-8146-4d91-858b-64de31d42baa",
      "name": "判断更新和插入是否成功",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        848,
        320
      ]
    },
    {
      "parameters": {
        "fromEmail": "public@coros.com",
        "toEmail": "chenyongqi@coros.com",
        "subject": "[n8n warn] -  打印模板更新数据失败",
        "emailFormat": "text",
        "options": {}
      },
      "id": "46442838-ab10-4e86-8a36-2d29cfa5f96a",
      "name": "接口调取失败",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1328,
        880
      ],
      "webhookId": "b5983740-5c69-4b15-8797-c6ac28ee4019",
      "credentials": {
        "smtp": {
          "id": "2KuXmj6ZAw4UDJMm",
          "name": "SMTP for Public@coros.com"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"200\",\n  \"msg\":\"数据已更新\",\n  \"result\":{{JSON.stringify($json.result)}}\n}",
        "options": {}
      },
      "id": "e1eb7921-fbc3-4a15-b787-4935b5fb394b",
      "name": "成功更新",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1376,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"数据更新失败，请联系IT部门\"\n}",
        "options": {}
      },
      "id": "e3128a41-0de9-408c-b0b5-820718c697d0",
      "name": "报错信息：插入失败",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1488,
        512
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    p.product_id,\n    p.product_code,\n    p.product_color,\n    p.createtime,\n    p.product_type,\n    u.user_name,\n    m.product_model_name,\n    p.product_type\nFROM \n    mes.product_info p\nJOIN \n    mes.user u ON p.user_id = u.user_id\nJOIN \n    mes.product_model m ON p.product_model_id = m.product_model_id\nWHERE \n    p.product_code= '{{ $('Webhook').item.json.body.product_code }}'\nAND \n    p.status = 1;",
        "options": {}
      },
      "id": "a2ddb7e9-1c33-415b-bbe2-35acc6f37c2b",
      "name": "查询模板明细行",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1040,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let res = [];\nfor (const item of $input.all()) {\n    let itemJson = item.json;\n    switch (itemJson.product_type) {\n        case 1:\n            itemJson.product_type = \"整机\";\n            break;\n        case 2:\n            itemJson.product_type = \"机头\";\n            break;\n        case 3:\n            itemJson.product_type = \"表带\";\n            break;\n        default:\n            itemJson.product_type = \"未知\";\n    }\n    res.push(itemJson);\n}\n\nreturn {\n    result: res\n};\n"
      },
      "id": "705c8959-8963-46bd-9496-7ace37a48fe0",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"该物料已失效\"\n}",
        "options": {}
      },
      "id": "8e4e9271-8cbf-414e-a7ea-5758bb436f30",
      "name": "报错信息：物料已失效",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        144,
        528
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "product_info",
          "mode": "list",
          "cachedResultName": "product_info"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "product_id",
              "value": "={{ $json.body.product_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e58057ee-4588-455b-8f20-a1f02952056b",
      "name": "查询物料状态",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -208,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "product_info",
          "mode": "list",
          "cachedResultName": "product_info"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "product_model_id",
              "value": "={{ $('Webhook').item.json.body.product_model_id }}"
            },
            {
              "column": "product_code",
              "value": "={{ $('Webhook').item.json.body.product_code }}"
            },
            {
              "column": "product_color",
              "value": "={{ $('Webhook').item.json.body.product_color }}"
            },
            {
              "column": "product_type",
              "value": "={{ $('Webhook').item.json.body.product_type }}"
            },
            {
              "column": "status",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "c7aac748-689e-4c1e-9025-d9d9417b37a1",
      "name": "查询是否存在重复项",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        144,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"product_model_id\":\"{{ $('Webhook').item.json.body.product_model_id }}\",\n  \"product_code\":\"{{ $('Webhook').item.json.body.product_code }}\",\n \"product_color\":\"{{ $('Webhook').item.json.body.product_color }}\",\n \"product_type\":\"{{ $('Webhook').item.json.body.product_type }}\" ,\n \"product_id\":\"{{ $('Webhook').item.json.body.product_id }}\",\n\"user_id\":\"{{ $('Webhook').item.json.body.user }}\"\n} ",
        "options": {}
      },
      "id": "6ecfc30b-7757-4446-8abf-fe42176bf46c",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"该物料信息未发生变化，请检查是否正确选择或填写正确的更新信息\"\n}",
        "options": {}
      },
      "id": "16d81f79-bd4c-4578-9543-fcd1b3d8de97",
      "name": "报错信息：该物料信息未发生变化",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        768,
        544
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "updateproduct_API",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "88b00c7e-61a7-4dad-b936-934ab4fafade",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -544,
        320
      ],
      "webhookId": "9521333c-cefa-42a3-8460-42094e9dff8c"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM mes.update_and_insert_product(\n    {{$json.product_id}}, \n    {{$json.product_model_id}}, \n    '{{$json.product_color}}', \n    {{$json.product_type}}, \n    '{{$json.product_code}}',\n     {{ $json.user_id }}\n);\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        320
      ],
      "id": "8610ee4f-8b46-4dd7-84af-a51e776e2ffb",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "hW9OCmLkbDsCF40U",
          "name": "mes.pgsql.mes.coros.team"
        }
      }
    }
  ],
  "connections": {
    "判断是否填写必填项": {
      "main": [
        [
          {
            "node": "查询物料状态",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：必填项为空",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断打印模板是否失效": {
      "main": [
        [
          {
            "node": "查询是否存在重复项",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：物料已失效",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断机型是否存在": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：该物料信息未发生变化",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断更新和插入是否成功": {
      "main": [
        [
          {
            "node": "查询模板明细行",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "报错信息：插入失败",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询模板明细行": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "成功更新",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询物料状态": {
      "main": [
        [
          {
            "node": "判断打印模板是否失效",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "接口调取失败",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询是否存在重复项": {
      "main": [
        [
          {
            "node": "判断机型是否存在",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "接口调取失败",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "判断是否填写必填项",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "判断更新和插入是否成功",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "172.31.0.2",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "122",
            "accept-encoding": "gzip",
            "user-agent": "ReactorNetty/1.1.22",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "product_model_id": 5,
            "product_code": "123123123",
            "product_color": "黑色",
            "product_type": "2",
            "product_id": "58",
            "user": "1"
          },
          "webhookUrl": "https://n8n.mes.coros.team/prod/updateproduct_API",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "b3c271e9-f79b-48ce-8421-6b61a20f2d43",
  "activeVersionId": "b3c271e9-f79b-48ce-8421-6b61a20f2d43",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-04-24T05:47:03.531Z",
      "createdAt": "2025-04-24T05:47:03.531Z",
      "role": "workflow:owner",
      "workflowId": "wGphjFyFG0CtNequ",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}