raw-data/n8n-workflows/xhGDK7h2yuIdfdYK.json
{
  "updatedAt": "2025-11-03T08:41:09.381Z",
  "createdAt": "2025-11-03T08:40:45.933Z",
  "id": "xhGDK7h2yuIdfdYK",
  "name": "getSNbyuid-旧MES",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": 201,\n  \"message\":\"{{ $json.message }}\"\n}",
        "options": {}
      },
      "id": "3bfaf0fc-004b-45e7-bc2c-89938efb9932",
      "name": "返回查询结果1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -144,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "137ed774-8bf1-4e98-aa0a-d3421d931e94",
              "name": "retroid",
              "value": "={{ $json.retroid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f57166c6-b4b5-41b8-8ee8-f1eb4de902b4",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": 200,\n  \"message\":\"查询成功！\",\n  \"data\":{\n   \"retroid\":\"{{ $json.retroid }}\"\n}\n} ",
        "options": {}
      },
      "id": "42d86d96-19bd-4d71-bdda-279c55c3f5a6",
      "name": "返回查询结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -144,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM YFConsumer.dbo.consm_barcodebindinfo WHERE  uuid_unique='{{ $json.uuid_unique }}';"
      },
      "id": "62014f21-a866-4a72-905d-76a99af98767",
      "name": "Microsoft SQL",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -704,
        128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "FNgMAIvmy5GiZUlV",
          "name": "Microsoft SQL_mes_YFConsumer"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/print/getSNbyUuid",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ca13634a-e331-436d-b440-50a53b179680",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1376,
        288
      ],
      "webhookId": "c1d7bee0-1827-48a1-b573-d689b997b8eb"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"200\",\n  \"sn\":\"{{ $json.retroid }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -144,
        -32
      ],
      "id": "7e410485-3151-44e9-8b21-50f7a7509308",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "81177f9b-6ce6-49e1-8d65-7f86d3cdd6c7",
              "leftValue": "={{ $json.body.uuid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1136,
        288
      ],
      "id": "375579bb-ba0f-4079-9d13-90a4e26e54fb",
      "name": "判断入参"
    },
    {
      "parameters": {
        "jsCode": "let inputArray = $input.all();\n\n\nlet result = null;\n\n// 检查输入是否为非空数组且至少有一个元素\nif (Array.isArray(inputArray) && inputArray.length > 0) {\n    let firstItem = inputArray[0];\n\n\n    if (firstItem && firstItem.json && firstItem.json.body) {\n        let body = firstItem.json.body;\n  \n\n        if (body && body.uuid) {\n            let url = body.uuid;\n  \n\n            // 正则表达式调整：捕获所有包含数字和字母的部分\n            const regex = /a=[\\w\\s]+?([A-Fa-f\\d]+)&b=([A-Fa-f\\d]+)&c=([A-Fa-f\\d]+)/;\n            const match = url.match(regex);\n        \n\n            if (match && match.length === 4) { // 如果成功匹配\n                // 用 a 参数末尾、b 和 c 生成 uuidId\n                body.uuidId = [match[1], match[2], match[3]].join('').toLowerCase();\n //     const uuid = [match[2], match[3], match[4]].join('').toUpperCase();  //完整的uuid\n    //     const uuid_unique = [match[2], match[4]].join('').toUpperCase();      //更新后uuid_unique\n\n                // 用 a 参数末尾和 c 生成 uuid_unique\n                body.uuid_unique = [match[1], match[3]].join('').toUpperCase(); \n              \n    \n            }\n            \n            result = body; // 设置最终结果体\n            console.log(\"Result: \", result); // 调试输出\n        } else {\n            console.log(\"UUID not found in body.\"); // 当UUID属性不存在时的输出\n        }\n\n        // 转换 retroid 为大写\n        if (body.retroid) {\n            body.retroid = body.retroid.toUpperCase();\n            console.log(\"Retroid: \", body.retroid); // 调试输出\n        }\n    } else {\n        console.log(\"Body not found in first item.\"); // 当body属性不存在时的输出\n    }\n} else {\n    console.log(\"Input array is empty or not an array.\"); // 当输入不是有效数组时的输出\n}\n\n// 返回最终处理的 JSON 对象\nreturn result;\n"
      },
      "id": "e1f49f86-17a0-4741-9e08-9dc2c798448e",
      "name": "根据入参获取uuid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        176
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"uuid格式错误\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -928,
        304
      ],
      "id": "a84d8247-6278-4679-bf32-6cf354cc17ca",
      "name": "uuid格式错误"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "返回查询结果1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "判断入参",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断入参": {
      "main": [
        [
          {
            "node": "根据入参获取uuid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "uuid格式错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "根据入参获取uuid": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "dfdb976a-848e-47e7-a1b1-20a21e42347d",
  "activeVersionId": "dfdb976a-848e-47e7-a1b1-20a21e42347d",
  "versionCounter": 33,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-03T08:40:45.933Z",
      "createdAt": "2025-11-03T08:40:45.933Z",
      "role": "workflow:owner",
      "workflowId": "xhGDK7h2yuIdfdYK",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}