raw-data/n8n-workflows/Yd5Mlg0gstZpYvLL.json
{
  "updatedAt": "2025-07-15T02:19:54.308Z",
  "createdAt": "2025-05-15T10:03:27.467Z",
  "id": "Yd5Mlg0gstZpYvLL",
  "name": "select_materias_code",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "select_materias_code",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        80
      ],
      "id": "564de77f-2fda-4c84-8a17-edf6f7d5a521",
      "name": "Webhook",
      "webhookId": "3c0183e4-aac1-4bb5-a44b-2b2631a7ffcf"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"200\",\n  \"msg\":\"ok\",\n  \"data\":{{ JSON.stringify($json.data) }}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        368,
        -32
      ],
      "id": "d2f07488-70e0-4603-8da8-eb8e71a770ad",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8184f5d2-558a-49ba-9e60-2762e04f3fbf",
              "leftValue": "={{ $json.body.productname }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -624,
        80
      ],
      "id": "effd33ec-5e47-41a3-8473-68938ebbed83",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":  \"产品型号缺失\",\n  \"data\":[]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -96,
        352
      ],
      "id": "aa912025-c6a1-4dca-aebb-847aa292dee8",
      "name": "参数缺失"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        112,
        -32
      ],
      "id": "3c090faa-c91f-4719-b6f1-4b0c2b0050b0",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// Define your key-value mapping (left is key, right is value)\nconst keyValueMap = {\n  \"M1D\": \"M04\",\n  \"B20\": \"B20\",\n  \"B21\": \"B21\",\n  \"B18\": \"M18\",\n  \"B19S\": \"V09\",\n  \"W331\": \"W31\",\n  \"W332\": \"W32\",\n  \"B15D\": \"B05\",\n  \"FD05\": \"F05\",\n  \"HR31\": \"H31\",\n  \"BY01\": \"C01\",\n  \"FD02\": \"F02\",\n  \"FD03\": \"F03\",\n  \"W942\": \"W92\",\n  \"S501\": \"S51\",\n  \"W541\": \"W51\",\n  \"W542\": \"W52\",\n  \"W335\": \"W35\"\n};\n\n// Get the incoming data\nconst items = $input.all();\n\n// Process each item\nconst results = items.map(item => {\n  const a = item.json.product_model_name;\n  // Find the key that has this Value as its value\n   const matchedKey = keyValueMap[a];\n  \n  // Return the matched key (or null if not found)\n  return {\n    original_value: a,\n    mapped_key: matchedKey || null\n  };\n});\n\n// Return the processed results\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        160
      ],
      "id": "2a247ceb-77d7-4735-9b53-90f43206513f",
      "name": "获取简化产品型号"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select vc.materials_name, vc.materials_code from mes.vmaterial_code vc \nwhere vc.productname ='{{ $('Webhook').item.json.body.productname }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -208,
        -16
      ],
      "id": "c1a5b7f8-91d6-4d94-a30f-d8ee60f214f5",
      "name": "查找工单对应产品型号",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from mes.vmaterial_code vc \nwhere vc.productname = '{{ $json.mapped_key }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        160
      ],
      "id": "bf607d37-f2a4-40e4-bb41-f8d59411c6e3",
      "name": "Postgres",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "acbcc0c7-90e6-48a7-9e79-989865c26465",
              "leftValue": "={{ $json.body.joborder_id }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        176
      ],
      "id": "dcd5a097-2812-4e73-86eb-ff782cb4cbe5",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from mes.joborder j \njoin mes.product_info pi2 on pi2.product_id = j.product_id\njoin mes.product_model pm on pm.product_model_id = pi2.product_model_id\nwhere j.joborder_id ='{{ $('Webhook').item.json.body.joborder_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -144,
        160
      ],
      "id": "1d119123-d9c1-44a8-a547-e1501b74c1e7",
      "name": "查找工单对应产品型号1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"200\",\n  \"msg\":\"ok\",\n  \"data\":{{ JSON.stringify($json.data) }}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        656,
        144
      ],
      "id": "b3a0c10e-0132-4981-b8f5-f7870b33a116",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        496,
        144
      ],
      "id": "bf8e4614-5b08-4f81-a562-7d0e7194db22",
      "name": "Aggregate1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "查找工单对应产品型号",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取简化产品型号": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查找工单对应产品型号": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "查找工单对应产品型号1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "参数缺失",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查找工单对应产品型号1": {
      "main": [
        [
          {
            "node": "获取简化产品型号",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "172.31.0.2",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "20",
            "accept-encoding": "gzip",
            "user-agent": "ReactorNetty/1.1.22",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "joborder_id": "74"
          },
          "webhookUrl": "https://n8n.mes.coros.team/prod/select_materias_code",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "9870f72e-15a7-4905-b629-360e7e4f895b",
  "activeVersionId": "9870f72e-15a7-4905-b629-360e7e4f895b",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "Mes重构"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-05-15T10:03:27.467Z",
      "createdAt": "2025-05-15T10:03:27.467Z",
      "role": "workflow:owner",
      "workflowId": "Yd5Mlg0gstZpYvLL",
      "projectId": "Z1eUE3fwJqHSiGKY",
      "project": {
        "updatedAt": "2025-10-27T02:22:22.440Z",
        "createdAt": "2025-01-28T17:01:25.056Z",
        "id": "Z1eUE3fwJqHSiGKY",
        "name": "1.Mes重构",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "tools"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}