raw-data/n8n-workflows/ZWZKlY69mW5r0nlr.json
{
  "updatedAt": "2025-07-04T03:38:50.657Z",
  "createdAt": "2025-07-04T03:21:53.730Z",
  "id": "ZWZKlY69mW5r0nlr",
  "name": "get_fqc_sn_by_uid_API",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get_fqc_sn_by_uid_API",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -620,
        -60
      ],
      "id": "d481c58d-5a4c-46c0-8af8-3836751374ca",
      "name": "Webhook",
      "webhookId": "31e47e99-fe5f-41e4-ae57-7aeaa580a0f2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "81177f9b-6ce6-49e1-8d65-7f86d3cdd6c7",
              "leftValue": "={{ $json.body.uuid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -460,
        -60
      ],
      "id": "0acee53c-bf87-4cba-9430-083e99335435",
      "name": "еҲӨж–ӯе…ҘеҸӮ"
    },
    {
      "parameters": {
        "jsCode": "let inputArray = $input.all();\n\n\nlet result = null;\n\n// жЈҖжҹҘиҫ“е…ҘжҳҜеҗҰдёәйқһз©әж•°з»„дё”иҮіе°‘жңүдёҖдёӘе…ғзҙ \nif (Array.isArray(inputArray) && inputArray.length > 0) {\n    let firstItem = inputArray[0];\n\n\n    if (firstItem && firstItem.json && firstItem.json.body) {\n        let body = firstItem.json.body;\n  \n\n        if (body && body.uuid) {\n            let url = body.uuid;\n  \n\n            // жӯЈеҲҷиЎЁиҫҫејҸи°ғж•ҙпјҡжҚ•иҺ·жүҖжңүеҢ…еҗ«ж•°еӯ—е’Ңеӯ—жҜҚзҡ„йғЁеҲҶ\n            const regex = /a=[\\w\\s]+?([A-Fa-f\\d]+)&b=([A-Fa-f\\d]+)&c=([A-Fa-f\\d]+)/;\n            const match = url.match(regex);\n        \n\n            if (match && match.length === 4) { // еҰӮжһңжҲҗеҠҹеҢ№й…Қ\n                // з”Ё a еҸӮж•°жң«е°ҫгҖҒb е’Ң c з”ҹжҲҗ uuidId\n                body.uuidId = [match[1], match[2], match[3]].join('').toLocaleLowerCase();\n \n\n                // з”Ё a еҸӮж•°жң«е°ҫе’Ң c з”ҹжҲҗ uuid_unique\n                body.uuid_unique = body.uuidId.slice(0, 16) + body.uuidId.slice(18).toLocaleLowerCase();\n              \n    \n            }\n            \n            result = body; // и®ҫзҪ®жңҖз»Ҳз»“жһңдҪ“\n            console.log(\"Result: \", result); // и°ғиҜ•иҫ“еҮә\n        } else {\n            console.log(\"UUID not found in body.\"); // еҪ“UUIDеұһжҖ§дёҚеӯҳеңЁж—¶зҡ„иҫ“еҮә\n        }\n\n        // иҪ¬жҚў retroid дёәеӨ§еҶҷ\n        if (body.retroid) {\n            body.retroid = body.retroid;\n            console.log(\"Retroid: \", body.retroid); // и°ғиҜ•иҫ“еҮә\n        }\n    } else {\n        console.log(\"Body not found in first item.\"); // еҪ“bodyеұһжҖ§дёҚеӯҳеңЁж—¶зҡ„иҫ“еҮә\n    }\n} else {\n    console.log(\"Input array is empty or not an array.\"); // еҪ“иҫ“е…ҘдёҚжҳҜжңүж•Ҳж•°з»„ж—¶зҡ„иҫ“еҮә\n}\n\n// иҝ”еӣһжңҖз»ҲеӨ„зҗҶзҡ„ JSON еҜ№иұЎ\nreturn result;\n"
      },
      "id": "9267233d-fb96-4541-bbdd-77dcc7fc0051",
      "name": "ж №жҚ®е…ҘеҸӮиҺ·еҸ–uuid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -60
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"code\": \"200\",\n   \"sn\":\"{{ $('жҹҘиҜўе·ҘеәҸиЎЁдёӯеҜ№еә”зҡ„uuid').item.json.data.sn }}\",\n   \"retroid_id \":{{ $json.retroid_id }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1480,
        -60
      ],
      "id": "374026af-16df-4d2d-8c25-63c44e636273",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59ca4e32-cda6-4307-a439-00d0e1f70222",
              "name": "=history_procedure_id",
              "value": "={{ $json.history_procedure_id }}",
              "type": "string"
            },
            {
              "id": "d8dc6cf2-0a7d-4c40-a8d3-e40033d46c36",
              "name": "procedure_detail_id",
              "value": "={{ $json.procedure_detail_id }}",
              "type": "string"
            },
            {
              "id": "a7bc9a7b-bb54-4fe4-ac63-dcd2f25b9100",
              "name": "uuidId",
              "value": "={{ $('ж №жҚ®е…ҘеҸӮиҺ·еҸ–uuid').item.json.uuidId }}",
              "type": "string"
            },
            {
              "id": "9d4d52ae-830e-4fb4-b8a8-48385cafff63",
              "name": "uuid_unique",
              "value": "={{ $('ж №жҚ®е…ҘеҸӮиҺ·еҸ–uuid').item.json.uuid_unique }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        -60
      ],
      "id": "6d08ae97-468d-4e19-a697-c1d2bb4d13f0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"ж•°жҚ®еә“й”ҷиҜҜ\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        300
      ],
      "id": "e31a5bfa-f5d4-4e17-8486-09f94465c65f",
      "name": "ж•°жҚ®еә“й”ҷиҜҜ"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "995676de-3879-40f9-aadc-c694ae3d6408",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        -60
      ],
      "id": "b95537d7-4967-449a-bb21-a42192d06d1d",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"иҜҘuuidжңӘз»‘е®ҡsn\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1080,
        160
      ],
      "id": "4d82f719-75ff-4caf-8b05-de069097a63a",
      "name": "uuidжңӘз»‘е®ҡsn"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM mes.machine_data\nWHERE procedure_detail_id = {{ $json.procedure_detail_id }}\nAND (LOWER(data ->>'uuid') = LOWER('{{ $json.uuidId }}') OR LOWER(data ->>'uuid_unique') = LOWER('{{ $json.uuid_unique }}'))\nORDER BY createtime DESC\nLIMIT 1\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        280,
        -60
      ],
      "id": "f6ce9802-ebad-487a-b4f0-c9bfca2c7de6",
      "name": "жҹҘиҜўе·ҘеәҸиЎЁдёӯеҜ№еә”зҡ„uuid",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "mes",
          "mode": "list",
          "cachedResultName": "mes"
        },
        "table": {
          "__rl": true,
          "value": "history_procedure_detail",
          "mode": "list",
          "cachedResultName": "history_procedure_detail"
        },
        "where": {
          "values": [
            {
              "column": "procedure_name",
              "value": "SNдёҺUUIDз»‘е®ҡ"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "history_procedure_id",
            "procedure_detail_id"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -60,
        -60
      ],
      "id": "fa466635-58bb-42c3-a61a-6d147a02dae0",
      "name": "жҹҘиҜўеҜ№еә”зҡ„е·ҘеәҸ",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"uuidж јејҸй”ҷиҜҜ\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        240
      ],
      "id": "239eb826-80b4-45a5-a0df-9adeca79ed05",
      "name": "uuidж јејҸй”ҷиҜҜ"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "995676de-3879-40f9-aadc-c694ae3d6408",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1180,
        -60
      ],
      "id": "16d3e2ba-47aa-4ff0-989f-12f462fee32a",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM mes.machine_data\nWHERE retroid_id = {{ $json.retroid_id }} AND procedure_detail_id = 58\nLIMIT 1\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        840,
        -60
      ],
      "id": "5969b446-2ccf-4add-abc4-0269687a719b",
      "name": "жҹҘиҜўFQC",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Br2ubPbG6ZoVjCkh",
          "name": "mes"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"code\": \"400\",\n  \"msg\":\"жІЎжңүFQCи®°еҪ•\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1380,
        200
      ],
      "id": "1a806c2f-c700-4164-b6bd-fd00a9ce2222",
      "name": "жІЎжңүFQCи®°еҪ•"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "еҲӨж–ӯе…ҘеҸӮ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "еҲӨж–ӯе…ҘеҸӮ": {
      "main": [
        [
          {
            "node": "ж №жҚ®е…ҘеҸӮиҺ·еҸ–uuid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "uuidж јејҸй”ҷиҜҜ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ж №жҚ®е…ҘеҸӮиҺ·еҸ–uuid": {
      "main": [
        [
          {
            "node": "жҹҘиҜўеҜ№еә”зҡ„е·ҘеәҸ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "жҹҘиҜўе·ҘеәҸиЎЁдёӯеҜ№еә”зҡ„uuid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "жҹҘиҜўFQC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "uuidжңӘз»‘е®ҡsn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "жҹҘиҜўе·ҘеәҸиЎЁдёӯеҜ№еә”зҡ„uuid": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ж•°жҚ®еә“й”ҷиҜҜ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "жҹҘиҜўеҜ№еә”зҡ„е·ҘеәҸ": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ж•°жҚ®еә“й”ҷиҜҜ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "жІЎжңүFQCи®°еҪ•",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "жҹҘиҜўFQC": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ж•°жҚ®еә“й”ҷиҜҜ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-real-ip": "192.168.53.181",
            "host": "n8n_webhook",
            "connection": "close",
            "content-length": "90",
            "user-agent": "python-requests/2.32.3",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "uuid": "https://r.coros.com/6?a=COROS NOMAD 3611E2&b=EA070e965051&c=80B15387297C"
          },
          "webhookUrl": "https://n8n.mes.coros.team/prod/get_sn_by_uid_API",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "d91beaee-e568-47e5-8e4e-2d6d40f9ac5f",
  "activeVersionId": "d91beaee-e568-47e5-8e4e-2d6d40f9ac5f",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2024-07-08T09:16:54.884Z",
      "createdAt": "2024-07-08T09:16:54.884Z",
      "id": "5f0K75xGUDllx6nA",
      "name": "MesйҮҚжһ„"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-07-04T03:21:53.730Z",
      "createdAt": "2025-07-04T03:21:53.730Z",
      "role": "workflow:owner",
      "workflowId": "ZWZKlY69mW5r0nlr",
      "projectId": "cNtjNbbtQfiZFguE",
      "project": {
        "updatedAt": "2025-04-02T09:23:34.858Z",
        "createdAt": "2025-04-02T09:14:56.512Z",
        "id": "cNtjNbbtQfiZFguE",
        "name": "Li Zhao <zhaoli@coros.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e7700beb-d97d-465c-b42b-c93e6eac7a10"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}